{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Negotiated price
    </h1>
    
    <p class="govuk-body">The current total price for the course is £8,500. The updates course
      <b>{{data['training-course'] or '[course name]'}}</b> may have
      a different price.
    </p>
    
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What makes up the total price?
        </span>
      </summary>
      <div class="govuk-details__text">
        The total price is made up from the training price and the end-point assessment.
      </div>
    </details>
    
    <form action="/change-of-course/04-price-change/action" method="post" novalidate class="govuk-!-margin-top-8">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to change the negotiated price?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="change-price" name="change-price" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="change-price-2" name="change-price" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="signIn-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>





    </form>
  </div>

</div>

{% endblock %}