{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Change Course" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
	<div class="govuk-width-container">
		<ul class="das-navigation__list ">
			<li class="das-navigation__list-item">
				<a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link"
					href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice
					requests</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
					funding</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link das-navigation__link--current"
					href="/training-provider/{{version}}/manage/index">Manage
					your apprentices</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
			</li>
			<li class="das-navigation__priority-list-item" id="priority-list-menu"><a
					class="das-navigation__priority-button" href="/training-provider/{{version}}/#">More</a>
				<ul class="das-navigation__priority-list govuk-visually-hidden">
					<li class="das-navigation__list-item">
						<a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and
							agreements</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

		<h2 class="govuk-heading-m">Apprentice status</h2>

		<dl class="govuk-summary-list  govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Status
				</dt>
				<dd class="govuk-summary-list__value">
					Waiting to start
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Unconfirmed
				</dt>
				<dd class="govuk-summary-list__value">
					N/A
				</dd>
			</div>
		</dl>


		<h2 class="govuk-heading-m">Overview</h2>

		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Employer
				</dt>
				<dd class="govuk-summary-list__value">
					ESFA LTD
				</dd>
			</div>
			<div class="govuk-summary-list__row ">
				<dt class="govuk-summary-list__key">
					Reference
				</dt>
				<dd class="govuk-summary-list__value">
					MNNRLD
				</dd>

				<dd class="govuk-summary-list__actions">
					<a href="">Change<span class="govuk-visually-hidden"> reference</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Agreement ID
				</dt>
				<dd class="govuk-summary-list__value">
					7GXEKP
				</dd>
			</div>
		</dl>


		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Apprentice</h2>
			</div>
			<div class="govuk-grid-column-one-third govuk-!-text-align-right">
				<a id="edit-apprentice-link" href="#" class="govuk-link govuk-body">Edit
					apprentice</a>
			</div>
		</div>
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Email address
				</dt>
				<dd class="govuk-summary-list__value">
					georgeford@gmail.com<br>
					<a href="#" class="govuk-link">Resend invitation email</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Date of birth
				</dt>
				<dd class="govuk-summary-list__value">
					1 Jan 2000
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Unique learner number
				</dt>
				<dd class="govuk-summary-list__value">
					5320150775
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Apprenticeship training course
				</dt>
				<dd class="govuk-summary-list__value">
					Abattoir Worker, Level: 2 (Standard)
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Version
				</dt>
				<dd class="govuk-summary-list__value">
					1.0
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">
						Change<span class="govuk-visually-hidden"> version</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Planned training start date
				</dt>
				<dd class="govuk-summary-list__value">
					Dec 2018
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Planned training end date
				</dt>
				<dd class="govuk-summary-list__value">
					Jul 2020
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Total agreed apprenticeship price
				</dt>
				<dd class="govuk-summary-list__value">
					£1,234
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Your reference
				</dt>
				<dd class="govuk-summary-list__value">
				</dd>
			</div>
		</dl>
	</div>
</div>


{% endblock %}