{% extends "layout_training-provider.html" %}
{% set pageTitle = "TRAINING PROVIDER LIMITED" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/add-apprentice/add-apprentice-details" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Add apprentice details
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-apprentice-details" name="add-apprentice-details" type="radio" value="csv-file" aria-describedby="add-apprentice-details-item-hint">
              <label class="govuk-label govuk-radios__label" for="add-apprentice-details">
                Upload a CSV file
              </label>
              <div id="add-apprentice-details-item-hint" class="govuk-hint govuk-radios__hint">
                You can add new apprentices into existing or new cohorts from a file. The file can contain apprentices for 1 or more employers.
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-apprentice-details-2" name="add-apprentice-details" type="radio" value="manually" aria-describedby="add-apprentice-details-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="add-apprentice-details-2">
                Manually
              </label>
              <div id="add-apprentice-details-item-hint" class="govuk-hint govuk-radios__hint">
                You can add new apprentices into an existing cohort or create a new one.
              </div>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>
{% endblock %}
