{% extends "layouts/main.html" %}
{% set pageTitle = "Before you continue" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This apprentice is part of a private Beta - <a class="govuk-link"
        href="mailto:payments.beta@education.gov.uk">feedback or report a problem (opens in new tab)</a>.
    </span>
  </p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        You do not need to withdraw an apprenticeship after the training has been completed. If you do, this
        will prevent the completion payment due to you.
      </strong>
    </div>

    <div class="govuk-button-group">
      <a href="/training-provider/v3/change-of-status/reason--withdrawal?learner-status=withdrawn" role="button"
        draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
      <a class="govuk-link govuk-link--no-visited-state" href="../details">Cancel</a>
    </div>

  </div>

</div>

{% endblock %}