{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/Change-of-circs" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- Change of start date -->
		<!-- <span class="govuk-caption-m">FLP-96</span> -->
		<h1 class="govuk-heading-l">Change of circumstances</h1>
		<p class="govuk-body">info goes here</p>


		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Version</th>
					<th class="govuk-table__header" scope="col">Updates</th>
					<th class="govuk-table__header" scope="col" colspan="2">Action</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">

				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Review & approve/reject a change of start date request
						<p>01/08/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/review-cosd/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/review-cosd/index">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Review & approve/reject a change of price request<p>
							01/08/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/review-cop/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/review-cop/index">Start
							now</a>
					</td>
				</tr>
				
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Change of Start Date<p>04/08/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/cosd/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/cosd/index-versions">Start now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Change of Price<p>20/04/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/cop-cosd/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/cop/index-versions">Start now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Pre-approvals (Training Provider)<p>12/07/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/approvals/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/approvals/index">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Add apprentice (training provider)<p>20/06/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/add-apprentice/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/add-apprentice/index">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Sandbox<p>20/06/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/sandbox/documentation">View the
									changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/sandbox/index">Start
							now</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

{% endblock %}