{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/SAND" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">Sandbox</h1>
		<p class="govuk-body">Area for research and exploring.</p>


		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Version</th>
					<th class="govuk-table__header" scope="col">Description</th>
					<th class="govuk-table__header" scope="col" colspan="2">Action</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Two Tabs<p>14/04/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Combine info tabs, include history tab</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/Two-tabs/apprentice-details">Start
							now</a>
					</td>
				</tr>
					<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Removal of Tabs<p>14/04/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Remove content from tabs</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/NoTabs/apprentice-details">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">History Tab<p>06/04/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Group history items</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/history/apprentice-details#history">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Apprentice CYA<p>21/03/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Add apprentice check your answers</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/CYA/apprentice-details">Start now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Manage apprentice CYA<p>18/03/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Rework search to list as cards</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/manage-apprentices/manage-apprentices-v1">Start
							now</a>
					</td>
				</tr>


			</tbody>
		</table>

	</div>
</div>

{% endblock %}