{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/review-cop/employer" %}
{% set pageTitle = "Review changes" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>
		<h2 class="govuk-heading-m">Apprenticeship details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Training provider
				</dt>
				<dd class="govuk-summary-list__value">
					EDUC8 TRAINING (ENGLAND) LIMITED
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Apprenticeship training course
				</dt>
				<dd class="govuk-summary-list__value">
					Abattoir Worker, Level: 2 (Standard)
				</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">EDUC8 TRAINING (ENGLAND) LIMITED has requested these changes</h2>



		<div id="apprenticeship-price-hint" class="govuk-hint">
			Reason for change: "{{ data['reason-for-update'] or 'The original price was entered incorrectly, this has
			been
			confirmed
			with the Training Provider.'}}"
			<br><br>
			Effective from date: 24/08/2023
		</div>
		<br>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">

					</th>
					<th scope="col" class="govuk-table__header app-custom-class">Previous</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Changed to</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">

				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Total price</th>
					<td class="govuk-table__cell">£8,500</td>
					<td class="govuk-table__cell">£9,500</td>
				</tr>
			</tbody>
		</table>





		<form method="post" action="/{{version}}/review">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							Do you want to approve these changes?
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">

							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="review" name="review" type="radio" value="yes">
								<label class="govuk-label govuk-radios__label" for="review">
									Yes, approve these changes
								</label>
							</div>


							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="review" name="review" type="radio"
									data-aria-controls="conditional-review">
								<label class="govuk-label govuk-radios__label" for="review">
									No, reject these changes
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
								id="conditional-review" data-aria-controls="conditional-review">
								<div class="govuk-form-group">
									<label class="govuk-label" for="review-more-details">
										Why do you want to reject these changes?
									</label>
									<textarea class="govuk-textarea" id="review-more-details" name="review-more-details"
										rows="5"></textarea>
								</div>
							</div>

						</div>

					</fieldset>
				</div>
				<button class="govuk-button" type="submit" data-module="govuk-button">
					Send
				</button>
			</fieldset>
		</form>
	</div>


</div>



{% endblock %}
