{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set pageTitle = "Training date changes pending your review" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/employer-phase-banner" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>
	</div>
	<div class="govuk-grid-column-full">
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m  govuk-!-margin-bottom-0">Changes you're
				requesting
			</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<td class="govuk-table__header govuk-!-width-one-third">
					</td>
					<th scope="col" class="govuk-table__header app-custom-class">Current</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested </th>
					<td class="govuk-table__cell"></td>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Training start date</th>
					<td class="govuk-table__cell">22 January 2022</td>
					<td class="govuk-table__cell">18 March 2022</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Planned training end date</th>
					<td class="govuk-table__cell">8 August 2025
					</td>
					<td class="govuk-table__cell">{{ data['end-date-update'] or '22 November 2025'}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row--no-border">
				<dt class="govuk-summary-list__key">
					Reason for change
				</dt>
				<dd class="govuk-summary-list__value">
					Wrong dates initially set
				</dd>
			</div>
		</dl>
		<form method="post" action="/employer/v2/change-of-start-date/review-changes/action">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							Do you want to approve these changes?
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="approve" name="approve" type="radio" value="yes">
								<label class="govuk-label govuk-radios__label" for="approve">
									Yes, approve these changes
								</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="approve-2" name="approve" type="radio" value="no"
									data-aria-controls="conditional-approve">
								<label class="govuk-label govuk-radios__label" for="approve-2">
									No, reject these changes
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
								id="conditional-approve">
								<div class="govuk-form-group">
									<label class="govuk-label" for="approve-more-details">
										Why do you want to cancel this request?
									</label>
									<textarea class="govuk-textarea" id="approve-more-details"
										name="approve-more-details" rows="5"></textarea>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
				</button>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}