{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/review-cod/training-provider" %}
{% set pageTitle = "Review changes" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageTitle}}</h1>
    <h2 class="govuk-heading-m">Apprenticeship details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          George Ford
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
          AUTOMATION & OPTIMISATION LTD
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Apprenticeship training course
        </dt>
        <dd class="govuk-summary-list__value">
          Abattoir Worker, Level: 2 (Standard)
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">AUTOMATION & OPTIMISATION LTD has requested these changes</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Previous total price
        </dt>
        <dd class="govuk-summary-list__value">
          £8,500
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Updated total price
        </dt>
        <dd class="govuk-summary-list__value">
          £9,500
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="update-price">
            Change<span class="govuk-visually-hidden"> training price</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for change
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['reason-for-update'] or 'The original price was entered incorrectly, this has been confirmed
          with the Julia.'}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="update-price">
            Change<span class="govuk-visually-hidden"> reason for request</span>
          </a>
        </dd>
      </div>
    </dl>

    <div class="govuk-inset-text">
      <div id="price-hint" class="govuk-hint">
        The new total price needs to be divided into the Training price and End-point assessment price.
        <br><br>The employer has changed the total price to £9,500
      </div>
    </div>

    <form method="post" action="/{{version}}/review">
      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Training price</label>
        <div id="price-hint" class="govuk-hint">
          Do not include VAT. Enter price in whole pounds. For example, for £6,500 enter 6500.
        </div>
        <div class="govuk-input__wrapper govuk-!-margin-top-3">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" type="text" inputmode="numeric" id="Cost" name="Cost"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="Cost">End-point assessment price </label>
        <div id="price-hint" class="govuk-hint">
          Do not include VAT. Enter price in whole pounds. For example, for £1,500 enter 1500.
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              End-point assessments
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">We'll ask the employer to confirm the <a class="govuk-link"
                href="/{{version}}/https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations"
                target="_blank" title="Opens in a new window">apprentice assessment organisation</a> for
              this
              apprentice.
              We'll do this before the end of the apprenticeship.</p>
          </div>
        </details>
        <div class="govuk-input__wrapper govuk-!-margin-top-3">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" type="text" inputmode="numeric" id="Cost" name="Cost"
            spellcheck="false">
        </div>
      </div>







      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to approve these changes?
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="review" name="review" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="review">
                  Yes, approve these changes
                </label>
              </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="review" name="review" type="radio"
                  data-aria-controls="conditional-review">
                <label class="govuk-label govuk-radios__label" for="review">
                  No, reject these changes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-review"
                data-aria-controls="conditional-review">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="review-more-details">
                    Why do you want to reject these changes?
                  </label>
                  <textarea class="govuk-textarea" id="review-more-details" name="review-more-details"
                    rows="5"></textarea>
                </div>
              </div>

            </div>

          </fieldset>
        </div>
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Send
        </button>
      </fieldset>
    </form>

  </div>




  {% endblock %}