{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "Check your change before sending to the employer" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<table class="govuk-table govuk-table--small-text-until-tablet">
			<caption class="govuk-table__caption">
				<h1 class="govuk-heading-l govuk-!-width-two-thirds">{{pageTitle}}</h1>
			</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header govuk-!-width-one-third"><span
							class="govuk-visually-hidden">Apprenticship detail</span>
					</th>
					<th scope="col" class="govuk-table__header govuk-!-width-one-third">Current</th>
					<th scope="col" class="govuk-table__header  govuk-!-width-one-third">Requested </th>
					<th scope="col" class="govuk-table__header  govuk-!-width-one-quarter"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Course</th>
					<td class="govuk-table__cell">
						Accounting, Level: 2
					</td>
					<td class="govuk-table__cell">{{data['training-course'] or 'Game technology: Level 2'}}</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="change-course"
							class="govuk-link--no-visited-state">Change<span
								class="govuk-visually-hidden govuk-link--no-visited-state">
								course</span></a></td>
				</tr>
				<tr class=" govuk-table__row">
					<th scope="row" class="govuk-table__header">Total price</th>
					<td class="govuk-table__cell">£8,500</td>
					<td class="govuk-table__cell">£10,000</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="update-price"
							class="govuk-link--no-visited-state">Change <span
								class="govuk-visually-hidden govuk-link--no-visited-state">
								total price</span></a></td>
				</tr>
				<tr class=" govuk-table__row">
					<th scope="row" class="govuk-table__header">Your reference</th>
					<td class="govuk-table__cell">Nothing provided</td>
					<td class="govuk-table__cell">Nothing provided</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="reference"
							class="govuk-link--no-visited-state">Change <span
								class="govuk-visually-hidden govuk-link--no-visited-state">
								referernce</span></a></td>
				</tr>
				



			</tbody>
		</table>

	</div>

	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
		<h2 class="govuk-heading-m">Reason for change</h2>
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Reason for change
				</dt>
				<dd class="govuk-summary-list__value">
					{{data['why-change'] or 'Agreed that this course is better suited to the apprentice needs'}}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="reason-for-change">
						Change<span class="govuk-visually-hidden"> reason for change</span>
					</a>
				</dd>
			</div>
		</dl>
	</div>

	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">

		<h2 class="govuk-heading-m">Now send to the training provider for approval</h2>
		<p class="govuk-body">
			This change will be sent to the training provider to approve. The apprentice will then need to confirm their
			details in their
			apprenticeship account.
		</p>


		<form action="change-course-confirmation" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
					Send for approval
				</button>
				<a class="govuk-link" href="index">Cancel and return</a>
			</div>
		</form>

	</div>
</div>


{% endblock %}