{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/Change-of-circs/approvals-no-dob" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Add apprentice approve details - add addition price to table</h2>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m"><a href="drafts"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Training provider
                        account</a></h3>
                <p class="govuk-body">Add Training & End-point assessment price to approvals page</p>
                <a href="drafts" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">View training provider prototype</a>
            </div>
     
        </div>

    </div>
</div>

{% endblock %}