{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Change of start date</h1>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Training provider</h2>
            </div>
            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--light-blue govuk-!-margin-bottom-4">
                    In design
                </strong>
                <h3 class="govuk-heading-m">Proposed updated
                </h3>
                <p class="govuk-body">Updated designs to meet Government Design Principles and reflect scenarios with
                    exiting end date being within the minimum duration</p>
<ul class="govuk-list">
    <li>
        <a href="/change-of-start-date/training-provider/v2/apprentice-details" class="govuk-link govuk-link--no-visited-state"
            rel="noreferrer noopener">Provider account</a>
    </li>
    <li>
        <a href="/change-of-start-date/employer/v1/apprentice-details" class="govuk-link govuk-link--no-visited-state"
            rel="noreferrer noopener">Employer banner notification</a>
    </li>
</ul>

            </div>
            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
                    Signed off
                </strong>
                <h3 class="govuk-heading-m">Original designs
                        (Sunil's designs)</h3>
                <p class="govuk-body">Designs which have already been tested and signed off</p>

                <ul class="govuk-list">
                    <li>
                        <a href="/payments/-change-start-date" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Provider account</a>
                    </li>
                    <li>
                        <a href="/feature/Change-of-circs/review-cosd/employer/apprentice-details" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Employer banner notification</a>
                    </li>
                </ul>

                

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-m">Clear data</h2>
        <p class="govuk-body">Clear data can now be found in the prototype footer</p>


    </div>















    {% endblock %}