{% extends "layouts/main.html" %}
{% set pageTitle = "George Ford" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h3 class="govuk-notification-banner__heading">
					Learner has been ithdrawn
				</h3>
				<p class="govuk-body">The withdrawal was made on the 10 January 2024.</p>
				<p class="govuk-body">The last month you received payments for this apprenticeship was December 2023.</p>
			</div>
		</div>
		
		{% include "change-of-status/training-provider/v4/includes/apprentice-details-list" %}
	</div>
</div>

<div style="position: absolute; right:20px; top:160px">
	<a href="apprentice-details--withdrawal-confirmed" role="button" draggable="false"
		class="govuk-button govuk-button--secondary" data-module="govuk-button">
		View withdrawn apprenticeship page
	</a>
</div>

{% endblock %}