{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
{# Redundancy #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change of status </h1>

        <h2 class="govuk-heading-l">Record a redundancy </h2>
        <p class="govuk-body">Training providers can record apprentices as being made redundant by changing the learner
            status. Employers cannot set an apprentice as redundant.
        </p>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="training-provider/v5/apprentice-details?learner-status=in-learning"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Training provider
                account</a></h3>
        <p class="govuk-body">Training provides change status</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="training-provider/v1/apprentice-details">Version 8</a> -
                        Research
                        round 15 (Mar 24)
                    </li>

                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="employer/v3/notification--redundant?learner-status=redundant&government-funded=Yes"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Employer's redundancy status
                change
                notification</a>
        </h3>
        <p class="govuk-body">Notification the employer receives about the status change to "Redundant"
        </p>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{# Break in learning #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Record a "Break in learning"</h2>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="training-provider/v5/apprentice-details?learner-status=in-learning"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Provider records a
                Break in learning</a></h3>
        <p class="govuk-body">Providers can change the learner status to record a break in learning.</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/01-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>

                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="employer/v3/notification--break-in-learning?learner-status=break"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Notify employer of break in learning learner
                status
                change</a>
        </h3>
        <p class="govuk-body">Notification the employer receives about the status change to "Break in learning".
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/e-status-pause-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>
                </ul>
            </div>
        </details>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{# Withdrawal #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Record a "Withdrawal"</h2>
    </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-one-half">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
                Design signed off
            </strong>
        <h3 class="govuk-heading-s"><a href="training-provider/v5/apprentice-details?learner-status=in-learning"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Provider records a
                Withdrawl</a></h3>
        <p class="govuk-body">Providers can change the learner status to record a withdrawal.</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/01-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>
        
                </ul>
                </div>
                </details>
                </div>
                <div class="govuk-grid-column-one-half">
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
                        Design signed off
                    </strong>
                    <h3 class="govuk-heading-s"><a href="employer/v3/notification--withdrawal?learner-status=withdrawn"
                            class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Notify employer of learner
                            withdrawal status
                            change</a>
                    </h3>
                    <p class="govuk-body">Notification the employer receives about the status change to "Withdrawn"
                    </p>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Previous research
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" href="/payments/e-status-pause-apprentice-details">Version 7</a> -
                                    Research round 14.1 (Feb 24)
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{# In learning #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Apprentice "In Learning" status - resume learning</h2>
        </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-4">
            <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="training-provider/v5/apprentice-details?learner-status=break"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Provider changes the
                status to "In Learning"</a></h3>
                <p class="govuk-body">Providers can change the status to In Learning.</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/01-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>

                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="employer/v3/notification--resume-learning"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Notify employer of learner resume learning
                status
                change</a>
        </h3>
        <p class="govuk-body">Notification the employer receives about the status change to "In learning"
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/e-status-pause-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>
                </ul>
            </div>
        </details>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row-two-thirds">
    <h2 class="govuk-heading-l">Apprentice "Waiting to start" status</h2>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a
                href="training-provider/v5/waiting-to-start/apprentice-details?learner-status=waiting-to-start"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Provider changes the status
                for "Waiting to start" apprentices</a></h3>
        <p class="govuk-body">Provider has different options for apprentices who are waiting to start their
            apprenticeship.</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a
                href="employer/v3/notification--waiting-to-start-resume-learning?learner-status=waiting-to-start"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Notify employer of learner waiting to start
                status
                change</a>
        </h3>
        <p class="govuk-body">Notification the employer receives about the status change to "Waiting to start".
        </p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{# Change payment status #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Employer changes payment status</h2>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="employer/v3/apprentice-details" class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">Employer changes the payment
                status</a></h3>
        <p class="govuk-body">Employer can freeze the payment status</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/b-01-apprentice-details">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>
                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <h3 class="govuk-heading-s"><a href="training-provider/v5/notification--frozen-payments?learner-status=in-learning"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Notify provider of status
                change</a>
        </h3>
        <p class="govuk-body">Notification the provider receives about the payment freeze.
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="/payments/01-apprentice-details-status-paused">Version 7</a> -
                        Research round 14.1 (Feb 24)
                    </li>

                </ul>
            </div>
        </details>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-l">Previous designs for employer</h2>
        <p class="govuk-body">Design work carried out before round 15. All designs worked on by Sunil Kathare.
        </p>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Employers</h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Employer account
        </h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/payments/b-01-apprentice-details">Version 7</a> - Research
                round 14.1
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Status change notification</h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/payments/e-status-pause-apprentice-details">Version 7</a> -
                Research
                round 14.1
            </li>
        </ul>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Training provider</h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Training provider
            account</h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/payments/01-apprentice-details">Version 7</a> -
                Research
                round 14.1 (Feb 24)
            </li>
        </ul>

    </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Status change notification</h3>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/payments/01-apprentice-details-status-paused">Version 7</a>
                -
                Research
                round 14.1
            </li>
        </ul>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-s">Clear data</h2>
<p class="govuk-body">Clear data can now be found in the prototype footer</p>
</div>

{% endblock %}