{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
			aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Success
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h3 class="govuk-notification-banner__heading">
					Request to change the standard has been sent to the employer
				</h3>
				<p class="govuk-body">The employer now needs to approve the change.</p>
				<p class="govuk-body"><a href="view-changes" class="govuk-link  govuk-link--no-visited-state">View the changes
						you've requested</a></p>
			</div>
		</div>
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Overview
					</a>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<h2 class="govuk-heading-m">Apprentice status</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Learner status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--blue">In learning</strong>
						</dd>

						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change<span class="govuk-visually-hidden"> learner status</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Provider payments status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--blue">Active</strong>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							Confirmed
						</dd>
					</div>

				</dl>
				<h2 class="govuk-heading-m">Overview</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Employer
						</dt>
						<dd class="govuk-summary-list__value">
							AUTOMATION &amp; OPTIMISATION LTD
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Cohort reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Agreement ID
						</dt>
						<dd class="govuk-summary-list__value">
							7GXEKP
						</dd>
					</div>
				</dl>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Apprentice details</h2>
					</div>
				</div>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com<br>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Resend invitation<span class="govuk-visually-hidden">Resend invitation email to
									apprentice</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 January 2000
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Course</h2>
				<div style="border-left: 5px solid #1d70b8; padding:15px; margin-bottom:20px;">
					<table class="govuk-table">
						<caption class="govuk-table__caption"><strong class="govuk-tag govuk-tag--yellow">Pending
								approval</strong></caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									<span class="govuk-visually-hidden">Apprenticship detail</span>
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Current
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Requested
								</th>
								<td class="govuk-table__cell"><span class="govuk-visually-hidden">Action</span></td>
							</tr>
						</thead>
						<tbody class="govuk-table__body">

							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Standard</th>
								<td class="govuk-table__cell">Accounting, Level: 2</td>
								<td class="govuk-table__cell">{{data['training-course'] or 'Game technology: Level 7'}}</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Version</th>
								<td class="govuk-table__cell">1.2</td>
								<td class="govuk-table__cell">1.2</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Training start date</th>
								<td class="govuk-table__cell">1 August 2023</td>
								<td class="govuk-table__cell">24 August 2023</td>
							</tr>

							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Planned training end date</th>
								<td class="govuk-table__cell">1 August 2024</td>
								<td class="govuk-table__cell">25 October 2024
								</td>
							</tr>
						</tbody>
					</table>
					<a class="govuk-link" href="view-changes">
						View request<span class="govuk-visually-hidden">for change of start date</span>
					</a>
				</div>

				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Nothing provided
						</dd>
					</div>
				</dl>

				<h2 class="govuk-heading-m">Price</h2>
				<div style="border-left: 5px solid #1d70b8; padding:15px; margin-bottom:20px;">
					<table class="govuk-table">
						<caption class="govuk-table__caption"><strong class="govuk-tag govuk-tag--yellow">Pending
								approval</strong></caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									<span class="govuk-visually-hidden">Apprenticship detail</span>
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Current
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Requested
								</th>
								<td class="govuk-table__cell"><span class="govuk-visually-hidden">Action</span></td>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Training price</th>
								<td class="govuk-table__cell">£6,000</td>
								<td class="govuk-table__cell">£7,000</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">End-point assessment price</th>
								<td class="govuk-table__cell">£2,500</td>
								<td class="govuk-table__cell">£3,000
								</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Total price</th>
								<td class="govuk-table__cell">£8,500</td>
								<td class="govuk-table__cell">£10,000
								</td>
							</tr>
						</tbody>
					</table>
					<a class="govuk-link" href="view-changes">
						View request<span class="govuk-visually-hidden">for change of price</span>
					</a>

				</div>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="course">
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Pending</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2023-02-15">15 Feb 2023</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Actual start date
								<b>1 August 2023</b>
								to
								<b>1 October 2023</b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£6,000</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>

					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15">28 June
							2020</time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">23 June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>

						</div>
					</li>
				</ol>
			</div>

		</div>
		<!-- <p class="govuk-body govuk-!-margin-bottom-0"><a href="change-start-date-view-changes"
				class="govuk-button govuk-!-margin-bottom-2">View change of date</a></p> -->
	</div>
</div>

{% endblock %}