{% extends "layouts/main.html" %}
{% set pageTitle = "Check apprentice details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
          LAND ROVER EXPERIENCE LIMITED
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cohort reference
        </dt>
        <dd class="govuk-summary-list__value">
          BB98DJ
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--purple">
            New request
          </strong>
        </dd>
      </div>
    </dl>
    {# <h2 class="govuk-heading-s">Message</h2>
    <p class="govuk-body">
      This is the message which has been sent by the employer when reviewing the cohort details.
    </p> #}

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Apprentice record incomplete</h3>
      <p>
        You must complete the apprentice record to be able to approve
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-full govuk-!-margin-top-5">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Georgina Howard
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Delete <span class="govuk-visually-hidden"> Georgina Howard</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-apprentice-details">Add missing
              information<span class="govuk-visually-hidden"> Georgina Howard</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Apprentice record status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">
                Incomplete
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique learner number
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              24 June 2000
            </dd>
          </div>
        </dl>
        <h3 class="govuk-heading-m govuk-!-margin-top-7">
          Apprenticeship
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Standard
            </dt>
            <dd class="govuk-summary-list__value">
              Game programmer, Level: 7
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training start date
            </dt>
            <dd class="govuk-summary-list__value">
              1 January 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned training end date
            </dt>
            <dd class="govuk-summary-list__value">
              24 May 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Price
            </dt>
            <dd class="govuk-summary-list__value">
              £12,200
            </dd>
          </div>
        </dl>
        <h3 class="govuk-heading-m govuk-!-margin-top-7">
          Functional skill - English
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualification
            </dt>
            <dd class="govuk-summary-list__value">
              AQA Functional Skills qualification in English at Level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              1 January 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned end date
            </dt>
            <dd class="govuk-summary-list__value">
              14 August 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding
            </dt>
            <dd class="govuk-summary-list__value">
              £290 (40% to deliver)
            </dd>
          </div>
        </dl>
        <h3 class="govuk-heading-m govuk-!-margin-top-7">
          Functional skill - Maths
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualification
            </dt>
            <dd class="govuk-summary-list__value">
              AQA Functional Skills qualification in Mathematics at Level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              1 January 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned end date
            </dt>
            <dd class="govuk-summary-list__value">
              2 June 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding
            </dt>
            <dd class="govuk-summary-list__value">
              £724
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          George Ford
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Delete <span class="govuk-visually-hidden"> George Ford</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-apprentice-details">Change<span
                class="govuk-visually-hidden"> George Ford</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Apprentice record status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">
                Ready to share
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique learner number
            </dt>
            <dd class="govuk-summary-list__value">
              8354631543
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              6 December 1999
            </dd>
          </div>
        </dl>

        <h3 class="govuk-heading-m govuk-!-margin-top-7">
          Apprenticeship
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Standard
            </dt>
            <dd class="govuk-summary-list__value">
              Game programmer, Level: 7
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training start date
            </dt>
            <dd class="govuk-summary-list__value">
              1 January 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned training end date
            </dt>
            <dd class="govuk-summary-list__value">
              24 May 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Price
            </dt>
            <dd class="govuk-summary-list__value">
              £1,200
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <p class="govuk-body">
      <a href="/training-provider/{{version}}/#" class="govuk-link add-apprentice govuk-link--no-visited-state">Add
        another
        apprentice</a>
      <a class="govuk-link delete-cohort govuk-link--no-visited-state" id="delete-cohort"
        href="/training-provider/{{version}}/approvals/add/entry-method" style="float:right">
        Delete this cohort
      </a>
    </p>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    <h3 class="govuk-heading-m">Total prices</h3>
    <p class="govuk-body-s ">All prices excluding VAT</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total apprenticeships training price
        </dt>
        <dd class="govuk-summary-list__value govuk-table__cell--numeric">
          £3,400
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total functional skills funding
        </dt>
        <dd class="govuk-summary-list__value govuk-table__cell--numeric">
          £1,014
        </dd>
      </div>
    </dl>

    <div class="govuk-!-margin-top-9"><a href="#" role="button" draggable="false" class="govuk-button"
        data-module="govuk-button">
        Save and send to employer
      </a><br>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state"
          href="/training-provider/{{version}}/approvals/apprentice-requests">
          Save and exit
        </a></p>
    </div>


  </div>
</div>

{% endblock %}