\
{% extends "layouts/main.html" %}
{% set pageTitle = "Check apprentice details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
          LAND ROVER EXPERIENCE LIMITED
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cohort reference
        </dt>
        <dd class="govuk-summary-list__value">
          BB98DJ
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--turquoise">
            Ready for review
          </strong>
        </dd>
      </div>
    </dl>
    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Apprentice record incomplete</h3>
      <p>
        You must complete the apprentice record to be able to approve
      </p>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h3 class="govuk-heading-m">1 x Game programmer, Level: 7
</h3>

<table class="govuk-table das-table--responsive  das-table--condensed">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header das-table-cell-width-20">Apprentice</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-10">Date of birth</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-10">Start date</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-15">Planned end date</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-10 govuk-table__header--numeric">Total price</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-10">Record status</th>
      <th scope="col" class="govuk-table__header das-table-cell-width-15">
        <span class="govuk-visually-hidden">Action</span>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-label="Apprentice">
        Euan Gray
        <br>9900008005
      </td>
      <td class="govuk-table__cell" data-label="Date of birth">19 Jan 1990</td>
      <td class="govuk-table__cell" data-label="Start date">1 Jan 2022</td>
      <td class="govuk-table__cell" data-label="Planned end dates"><a class="govuk-link govuk-link--no-visited-state"
          href="/training-provider/v2/approvals/add/apprentice-details">Add end date</a></td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price">£1,200</td>
      <td class="govuk-table__cell" data-label="Status"><strong class="govuk-tag govuk-tag--orange">
          Incomplete
        </strong>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link govuk-link--no-visited-state" href="v7-view">Change<span class="govuk-visually-hidden"> Euan
                Gray</span></a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> Euan Gray</span></a>
          </li>
        </ul>
      </td>

    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header das-table-cell-width-80" scope="row">Total apprenticeship training price (excluding
        VAT)
      </th>
      <td class="govuk-table__cell govuk-table__header--numeric das-table-cell-width-20"><strong>£1,200</strong></td>
    </tr>
  </tbody>
</table>

<p>
  <a href="/training-provider/{{version}}/#" class="govuk-link add-apprentice govuk-link--no-visited-state">Add another
    apprentice</a>
  <a class="govuk-link delete-cohort govuk-link--no-visited-state" id="delete-cohort"
    href="/training-provider/{{version}}/approvals/add/entry-method" style="float:right">
    Delete this cohort
  </a>
</p>

<hr class="govuk-section-break govuk-section-break--l">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post" class="form">
      <div class="govuk-form-group  ">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">Submit to employer?
            </h3>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approve-details" name="approve-details" type="radio" value="yes"
                data-aria-controls="conditional-approve-details">
              <label class="govuk-label govuk-radios__label" for="approve-details">
                Yes, send to employer to review or add details
              </label>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approve-details">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="approve-details">
                    Leave LAND ROVER EXPERIENCE LIMITED a message (optional)
                  </label>
                  <textarea class="govuk-textarea" id="approve-details" name="approve-message" rows="5"></textarea>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approve-details-2" name="approve-details" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="approve-details-2">
                No, save and return to apprentice requests
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <button type="submit" id="continue-button" class="govuk-!-margin-top-5 govuk-button">Save and submit</button>
      <br>
      <p><a class="govuk-link govuk-link--no-visited-state"
          href="/training-provider/{{version}}/approvals/apprentice-requests">
          Save and exit
        </a></p>

    </form>
  </div>
</div>

</div>
</div>

{% endblock %}