{% extends "layout.html" %}
{% set version = "training-provider" %}
{% if data['approve-details'] == "yes" %}
{% set pageTitle = "Cohort approved and sent to employer" %}
{% else %}
{% set pageTitle = "Cohort sent to employer for review" %}
{% endif %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{version}}/reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
    </div>
    <dl class="govuk-summary-list govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Cohort reference</dt>
        <dd class="govuk-summary-list__value">WRDJPX</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sent to </dt>
        <dd class="govuk-summary-list__value">LAND ROVER EXPERIENCE LIMITED</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">On behalf of</dt>
        <dd class="govuk-summary-list__value">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Message</dt>
        <dd class="govuk-summary-list__value">{{ data['approve-message'] or 'No message added' }}</dd>
      </div>

    </dl>


    <h2 class="govuk-heading-m">What happens next</h2>
    {% if data['approve-details'] == "yes" %}
    <p class="govuk-body">
      The employer will review the cohort and either approve it or contact you with an update.
    </p>
    {% else %}
      <p class="govuk-body">
        The updated cohort will appear in the employer’s account for them to review.
      </p>
    {% endif %}
    <a class="govuk-link" href="/{{version}}/approvals/apprentice-requests"> Go to apprentice requests</a>

    <br>
    <br>

    <a class="govuk-link" href="/{{version}}/">Go to homepage</a>
  </div>
</div>
{% endblock %}
