{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Training start date</h1>
    <div id="apprenticeship-price-hint" class="govuk-hint"> The current start date for the training is 1 August 2023.
    </div>
    <form action="/{{version}}/change-start-date-error" method="post" novalidate class="govuk-!-margin-top-7">
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              When does the training start?
            </legend>
          </legend>
        <div id="effective-from-hint" class="govuk-hint">
          For example, 31 3 2024
        </div>
          <p id="passport-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> An apprentice has to be over 16 years of age, please enter
            the correct start date.
          </p>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="effective-from-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error"
                  id="effective-from-day" name="effective-from-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="effective-from-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error"
                  id="effective-from-month" name="effective-from-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EffectiveFromYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error"
                  id="EffectiveFromYear" name="EffectiveFromYear" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
          <br>
        </fieldset>

      </div>
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="reason-for-change-start-date">
          Why is the start date changing?
        </label>
        </h1>
        <div id="reason-for-change-start-date-hint" class="govuk-hint">
          This message will be shared with AUTOMATION & OPTIMISATION LTD
        </div>
        <textarea class="govuk-textarea" id="reason-for-change-start-date" name="reason-for-change-start-date" rows="5"
          aria-describedby="reason-for-change-start-date-hint">{{ data['reason-for-change-start-date'] }}</textarea>
  </div>
</div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>


  </form>
   
</div>
</div>



{% endblock %}