{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "Check your changes before sending sending to the employer" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<h2 class="govuk-heading-m">Apprenticeship details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Unique learner number
				</dt>
				<dd class="govuk-summary-list__value">
					5320150775
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Date of birth
				</dt>
				<dd class="govuk-summary-list__value">
					1 January 2000
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Employer
				</dt>
				<dd class="govuk-summary-list__value">
					AUTOMATION & OPTIMISATION LTD
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Training provider
				</dt>
				<dd class="govuk-summary-list__value">
					EDUC8 TRAINING (ENGLAND) LIMITED
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Apprenticeship training course
				</dt>
				<dd class="govuk-summary-list__value">
					Abattoir Worker, Level: 2 (Standard)
				</dd>
			</div>
		</dl>

		<h2 class="govuk-heading-m">Changes you're requesting</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Previous training start date
				</dt>
				<dd class="govuk-summary-list__value">
					12 December 2018
				</dd>
				<dd class="govuk-summary-list__actions">
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated training start date
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['confirm-change-start-date'] or '12 January 2019'}}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="change-start-date">
						Change<span class="govuk-visually-hidden"> total training price</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Reason for change
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['reason-for-change-of-date'] or 'Apprentice had a delayed start to employment and
					training.'}}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="reason-for-change-start-date">
						Change<span class="govuk-visually-hidden"> reason for request</span>
					</a>
				</dd>
			</div>
		</dl>
	</div>
</div>


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h2 class="govuk-heading-m">Now send to the employer for approval</h2>
		<p class="govuk-body">
			This change will be sent to the employer to approve. The apprentice will then need to confirm their details in their
			apprenticeship account.
		</p>


		<form action="change-start-date-confirmation" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<button class="govuk-button" data-module="govuk-button">
				Send
			</button>
		</form>

	</div>
</div>


{% endblock %}