{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="03-planned-training-end" method="post" novalidate class="govuk-!-margin-top-7">
		<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Change course
                </h1>
              </legend>

              <div class="govuk-inset-text">
                If the apprenticeship course is not listed you need to tell us that you now offer this training. You need to add it to "<a href="">Your standards and training veneues</a>" section.
              </div>
             

              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Apprenticeship training course
                </label>
                <div id="contact-hint" class="govuk-hint">
                  Start typing the name of the course or choose an option from the list
                </div>
                <select class="govuk-select" id="sort" name="sort">
                  <option value="published">Accountancy or taxation professional, Level: 7</option>
                  <option value="updated" selected>Accountancy or taxation professional, Level: 6</option>
                  <option value="views">Accountancy or taxation professional, Level: 5</option>
                  <option value="comments">Accountancy or taxation professional, Level: 4</option>
                </select>
              </div>
              
                    
                        </fieldset>
                        <br> 
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                          </button>
                      </div>


                  </div>
                </div>
                
                
                
              </div>


              
          </div>

            
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}