{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "Check your change before sending to the employer" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<!-- <h2 class="govuk-heading-m">Apprenticeship details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">
					Unique learner number
				</dt>
				<dd class="govuk-summary-list__value">
					5320150775
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Employer
				</dt>
				<dd class="govuk-summary-list__value ">
					AUTOMATION & OPTIMISATION LTD
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Apprenticeship training course
				</dt>
				<dd class="govuk-summary-list__value">
					Abattoir Worker, Level: 2 (Standard)
				</dd>
			</div>
		</dl> -->

		<h2 class="govuk-heading-m">Change you're requesting</h2>

		
		
		<table class="govuk-table">
			<thead class="govuk-table__head">

				
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">
		
					</th>
					<th scope="col" class="govuk-table__header app-custom-class">Current</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested </th>
                    <td class="govuk-table__cell"></td>
				</tr>
			</thead>
			<tbody class="govuk-table__body">

				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Course</th>
					<td class="govuk-table__cell">
						Abattoir Worker, Level: 5 (Standard)
						
						<!-- {{ data['reason-for-change-start-date'] or 'Apprentice can not start on original start date'}} -->
					
					</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"><a href="-change-of-course>Change </a></td>

					</tr>

		
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Price</th>
						<td class="govuk-table__cell">£8,500</td>
						<td class="govuk-table__cell">

			
					

					£9,000
				</td>

                    <td class="govuk-table__cell"><a href="-change-start-date">Change </a></td>
				</tr>
               
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Planned training end date</th>
						<td class="govuk-table__cell">1 August 2024</td>
						<td class="govuk-table__cell">{{ data['planned-end-day-tp-start'] or '25'}}
					
					{% if data['planned-end-month-tp-start'] == "1" or data['planned-end-month-tp-start'] == "01" %}
					{{ data['planned-end-year-day-start'] }} January {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "2" or data['planned-end-month-tp-start'] == "02"
					%}
					{{ data['planned-end-year-day-start'] }} February {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "3" or data['planned-end-month-tp-start'] == "03"
					%}
					{{ data['planned-end-year-day-start'] }} March {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "4" or data['planned-end-month-tp-start'] == "04"
					%}
					{{ data['planned-end-year-day-start'] }} April {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "5" or data['planned-end-month-tp-start'] == "05"
					%}
					{{ data['planned-end-year-day-start'] }} May {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "6" or data['planned-end-month-tp-start'] == "06"
					%}
					{{ data['planned-end-year-day-start'] }} June {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "7" or data['planned-end-month-tp-start'] == "07"
					%}
					{{ data['planned-end-year-day-start'] }} July {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "8" or data['planned-end-month-tp-start'] == "08"
					%}
					{{ data['planned-end-year-day-start'] }} August {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "9" or data['planned-end-month-tp-start'] == "09"
					%}
					{{ data['planned-end-year-day-start'] }} September {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "10" %}
					{{ data['planned-end-year-day-starty'] }} October {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "11" %}
					{{ data['planned-end-year-day-start'] }} November {{ data['planned-end-year-tp-start'] }}
					{% elseif data['planned-end-month-tp-start'] == "12" %}
					{{ data['planned-end-year-day-start'] }} December {{ data['planned-end-year-tp-start'] }}
					{% else %}
					 October 2024
					{% endif %}
					
					<!-- {{ data['planned-end-year-tp-start'] or '2024'}}  -->
				

					
					<!-- <div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true" style="font-size: 14px; line-height: 20px; min-width: 25px;
						min-height: 20px; position: relative; margin: 2px; float: right; border: 2px;">!</span>
						</div> -->
				</td>

                    <td class="govuk-table__cell"><a href="-start-date-planned-end-date-1-tp">Change </a></td>
				</tr>

				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Reason for change</th>
					<td class="govuk-table__cell">{{ data['reason-for-change-start-date'] or 'Apprentice can not start on original start date'}}</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"><a href="-change-start-date">Change </a></td>

					</tr>

			</tbody>
		</table>

        <div id="apprenticeship-price-hint" class="govuk-hint">
			
        
		</div>
		<br>
	</div>
</div>

{% if data['effective-from-year'] == "2023"  %}

{% if data['effective-from-month'] == "5" or data['effective-from-month'] == "05" or data['effective-from-month'] == "4" or data['effective-from-month'] == "04" or data['effective-from-month'] == "03" or data['effective-from-month'] == "03" or data['effective-from-month'] == "2" or data['effective-from-month'] == "02" or data['effective-from-month'] == "1" or data['effective-from-month'] == "01" %}
					
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      You will not receive funding for apprenticeship activity before  
                           1 August 2023 
                           <!-- (start of the current academic year) -->
    </strong>
  </div>

					{% elseif data['effective-from-month'] == "6" or data['effective-from-month'] == "06" or data['effective-from-year'] <= "2022"
					%}

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                          <span class="govuk-warning-text__assistive">Warning</span>
                        
                          You will not receive funding for apprenticeship activity before  
                           1 August 2023 
                           
                           <!-- (start of the current academic year) -->
                          <!-- You will not receive funding for apprenticeship activity in any academic year before [current
                          academic year] -->
                        </strong>
                      </div>

                      {% else %}
					{% endif %}

					{% else %}
					{% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h2 class="govuk-heading-m">Now send to the employer for approval</h2>
		<p class="govuk-body">
			This change will be sent to the employer to approve. The apprentice will then need to confirm their details in their
			apprenticeship account.
		</p>


		<form action="06-change-course-confirmation" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
					Send
				</button>
				<a class="govuk-link" href="01-apprentice-details">Cancel and return</a>
			</div>
		</form>

	</div>
</div>


{% endblock %}