{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/Change-of-circs/sandbox" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

        <h2 class="govuk-heading-l">Version 1 - change of date & Change of start date</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Version</th>
                <th class="govuk-table__header" scope="col">Updates</th>
                <th class="govuk-table__header" scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Effective from date - confirm changes page <p>4/09/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>How should we display the effective from date
                        </li>
                        <li><a href="confirm-update-summary.html">Summary card</a> 
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="confirm-update.html">Start
                        now</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Effective from date<p>1/09/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Should effective from date be radio and then drop down?
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="update-price-effective-from-date.html">Start
                        now</a>
                </td>
            </tr> 
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Confirm update - table back/change button<p>21/08/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>button in the table rather than next to send/submit button at the end of the page
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="confirm-update.html">Start
                        now</a>
                </td>
            </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Training Provider reaction to COP<p>21/08/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Use original 'review' table.
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="tp-review">Start
                        now</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Apprentice details<p>16/08/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Made all coloums half width rather than quarter.  
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="apprentice-details">Start
                        now</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</div>

{% endblock %}