{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/cop-cosd" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Version</th>
                <th class="govuk-table__header" scope="col">Updates</th>
                <th class="govuk-table__header" scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Version 2<p>12/07/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Included a Total price and change the more details component for End-point assessment.
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="add-apprentice-details">Start
                        now</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Version 1<p>12/07/2023</p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Changed total price to Trianing price and End-point assessment price. 
                        </li>
                </td>
                <td class="govuk-table__cell "><a href="details">Start
                        now</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>

{% endblock %}