{% extends "layouts/main.html" %}
{% set pageTitle = "Planned training end date" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This apprentice is part of a private Beta - <a class="govuk-link"
        href="mailto:payments.beta@education.gov.uk">feedback or report a problem (opens in new tab)</a>.
    </span>
  </p>
</div>
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Planned training end date
    </h1>

    <p class="govuk-body">The current planned training end date is <b>8 August 2025</b>.</p>
    <p class="govuk-body">The start date and minimum duration for <b>{{data['training-course'] or 'Game technology:
        Level
        7'}}</b> means that the
      standard cannot end before 14
      December 2024.
    </p>

    <form action="price-change" method="post" novalidate="" class="govuk-!-margin-top-8">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Would you like to change the current planned training end date?

          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="keep-start-date"
                data-aria-controls="conditional-start-date">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes, change the planned training end date
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-start-date">
              <div class="govuk-form-group">
                <div class="govuk-date-input" id="start-date-issued" aria-describedby="end-date-update-hint">
                  <div id="end-date-update-hint" class="govuk-hint">
                    The planned training end date needs to be on or after 14 12 2024
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-day"
                        name="start-date-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month"
                        name="start-date-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year"
                        name="start-date-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="change">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>


        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>

</div>

{# <div style="position: fixed; right:20px; top:160px">
  <a href="planned-training-date-end-v2" role="button" draggable="false" class="govuk-button govuk-button--secondary"
    data-module="govuk-button">
    View variant 2
  </a>
</div> #}

{% endblock %}