{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- Generate MVS Summary Earnings Report -->
		<span class="govuk-caption-m">EPIC | FLP-14</span>
		<h1 class="govuk-heading-l">Generate MVS Summary Earnings Report</h1>
		<p class="govuk-body">Generate a MVS summary earnings report based on the calculated earnings</p>

		<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
							<strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-3">
								Released
							</strong><span class="govuk-caption-m">FLP-161</span> Training Provider | Inform training
							providers
							that the earnings report only applies to pilot apprentices
						</span>
					</h2>
				</div>
				<div id="accordion-default-content-1" class="govuk-accordion__section-content"
					aria-labelledby="accordion-default-heading-1">
					<ul class="govuk-list">
						<p class='govuk-body'>As a training provider I want to know which of my apprentices the earnings
							report applies to so that I can better understand the earnings report</p>
						<li>
							<a class="govuk-link" target="_blank"
								href="https://skillsfundingagency.atlassian.net/browse/FLP-161">Jira ticket (opens in
								new tab)</a>
						</li>
						<li>
							<a class="govuk-link" href="/feature/FLP-161/indicative-earnings">Earnings report v1</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
							<strong class="govuk-tag govuk-!-margin-bottom-3">
								Pending
							</strong>
							<span class="govuk-caption-m">FLP-175</span> Training Provider | Inform training providers
							without pilot apprentices that the earnings report is a testing feature
						</span>
					</h2>
				</div>
				<div id="accordion-default-content-1" class="govuk-accordion__section-content"
					aria-labelledby="accordion-default-heading-1">
					<ul class="govuk-list">
						<p class='govuk-body'>As a training provider I want to know what this new feature is used for so
							that I understand why it’s not available if I do not yet have any approved pilot apprentices
						</p>
						<li>
							<a class="govuk-link" target="_blank"
								href="https://skillsfundingagency.atlassian.net/browse/FLP-175">Jira ticket (opens in
								new tab)</a>
						</li>
						<li>
							<a class="govuk-link" href="/feature/FLP-175/no-pilot-apprentices">No pilot apprentices
								v1</a>
						</li>
						<li>
							<a class="govuk-link" href="/feature/FLP-175/home-message-in-report-v1">Message in report
								v1</a>
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
</div>

{% endblock %}