{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set pageTitle = "Dina Thain" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">
			Beta
		</strong>
		<span class="govuk-phase-banner__text">
			This apprentice is part of a private Beta - your <a class="govuk-link"
				href="mailto:payments.beta@education.gov.uk">feedback (opens in new tab)</a> will help improve it.
		</span>
	</p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

{% include "../includes/apprentice-details-list" %}


{% endblock %}