{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set pageTitle = "Dina Thain" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/employer-phase-banner" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

{% include "../includes/apprentice-details-list" %}


{% endblock %}