{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cosd/training-provider" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Overview
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<h2 class="govuk-heading-m">Apprentice status</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--blue">Live</strong>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							Confirmed
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Simplified payments pilot
						</dt>
						<dd class="govuk-summary-list__value">
							Yes
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Overview</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Employer
						</dt>
						<dd class="govuk-summary-list__value">
							AUTOMATION &amp; OPTIMISATION LTD
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Cohort Reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Agreement ID
						</dt>
						<dd class="govuk-summary-list__value">
							7GXEKP
						</dd>
					</div>
				</dl>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Apprentice details</h2>
					</div>
				</div>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com<br>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Resend invitation<span class="govuk-visually-hidden">Resend invitation email to
									apprentice</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 Jan 2005
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Course</h2>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Apprenticeship training course
						</dt>
						<dd class="govuk-summary-list__value">
							Abattoir Worker, Level: 2 (Standard)
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Version
						</dt>
						<dd class="govuk-summary-list__value">
							1.0
						</dd>
					</div>
					<div class="govuk-summary-list__row ">
						<dt class="govuk-summary-list__key">
							Actual training start date
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['effective-from-day'] or '24'}}

							{% if data['effective-from-month'] == "1" or data['effective-from-month'] == "01" %}
							{{ data['date-of-birth-day'] }} January {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "2" or data['effective-from-month'] == "02"
							%}
							{{ data['date-of-birth-day'] }} February {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "3" or data['effective-from-month'] == "03"
							%}
							{{ data['date-of-birth-day'] }} March {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "4" or data['effective-from-month'] == "04"
							%}
							{{ data['date-of-birth-day'] }} April {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "5" or data['effective-from-month'] == "05"
							%}
							{{ data['date-of-birth-day'] }} May {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "6" or data['effective-from-month'] == "06"
							%}
							{{ data['date-of-birth-day'] }} June {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "7" or data['effective-from-month'] == "07"
							%}
							{{ data['date-of-birth-day'] }} July {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "8" or data['effective-from-month'] == "08"
							%}
							{{ data['date-of-birth-day'] }} August {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "9" or data['effective-from-month'] == "09"
							%}
							{{ data['date-of-birth-day'] }} September {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "10" %}
							{{ data['date-of-birth-day'] }} October {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "11" %}
							{{ data['date-of-birth-day'] }} November {{ data['date-of-birth-year'] }}
							{% elseif data['effective-from-month'] == "12" %}
							{{ data['date-of-birth-day'] }} December {{ data['date-of-birth-year'] }}
							{% else %}
							August
							{% endif %}

							{{ data['effective-from-year'] or '2023'}} <strong
								class="govuk-tag govuk-tag--yellow">Pending</strong>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="change-start-date-view-changes">
								View request<span class="govuk-visually-hidden">for change of total training
									price</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Planned training end date
						</dt>
						<dd class="govuk-summary-list__value">
							3 July 2024
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Nothing provided
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Price</h2>
				<dl class="govuk-summary-list">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Training price
						</dt>
						<dd class="govuk-summary-list__value">
							£6,000
						</dd>
						<dd class="govuk-summary-list__actions">
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							End-point assessment price
						</dt>
						<dd class="govuk-summary-list__value">
							£2,500
						</dd>
						<!-- <dd class="govuk-summary-list__actions">
																					<a class="govuk-link" href="update-price">
																						Change<span class="govuk-visually-hidden"> total assessment price</span>
																					</a>
																				</dd> -->
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Total price
						</dt>
						<dd class="govuk-summary-list__value">
							£8,500
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="update-price">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a>
						</dd>
					</div>
				</dl>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="course">
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Pending</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2023-02-15">15 Feb 2023</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training start date from
								<b>1 August 2023</b>
								to
								<b>{{ data['effective-from-day'] or '24'}}

									{% if data['effective-from-month'] == "1" or data['effective-from-month'] == "01" %}
									{{ data['date-of-birth-day'] }} January {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "2" or data['effective-from-month'] ==
									"02"
									%}
									{{ data['date-of-birth-day'] }} February {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "3" or data['effective-from-month'] ==
									"03"
									%}
									{{ data['date-of-birth-day'] }} March {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "4" or data['effective-from-month'] ==
									"04"
									%}
									{{ data['date-of-birth-day'] }} April {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "5" or data['effective-from-month'] ==
									"05"
									%}
									{{ data['date-of-birth-day'] }} May {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "6" or data['effective-from-month'] ==
									"06"
									%}
									{{ data['date-of-birth-day'] }} June {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "7" or data['effective-from-month'] ==
									"07"
									%}
									{{ data['date-of-birth-day'] }} July {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "8" or data['effective-from-month'] ==
									"08"
									%}
									{{ data['date-of-birth-day'] }} August {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "9" or data['effective-from-month'] ==
									"09"
									%}
									{{ data['date-of-birth-day'] }} September {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "10" %}
									{{ data['date-of-birth-day'] }} October {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "11" %}
									{{ data['date-of-birth-day'] }} November {{ data['date-of-birth-year'] }}
									{% elseif data['effective-from-month'] == "12" %}
									{{ data['date-of-birth-day'] }} December {{ data['date-of-birth-year'] }}
									{% else %}
									August
									{% endif %}

									{{ data['effective-from-year'] or '2023'}} </b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£6,000</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15">28 June
							2020</time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">23 June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>

						</div>
					</li>
				</ol>
			</div>
		</div>


		{% endblock %}