{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="rpl-english" method="post" novalidate>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <span class="govuk-caption-l">Functional Skills English</span>
                    <label class="govuk-label govuk-label--l" for="cost">
                        What is the cost for the English course, in pounds?
                    </label>
                </h1>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="cost" name="costPerItem" type="text"
                        spellcheck="false">
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}