{% extends "layout.html" %}
{% set version = "feature/COP-current" %}
{% set pageTitle = "Details of ILR data mismatch" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
	<div class="govuk-width-container">
		<ul class="das-navigation__list ">
			<li class="das-navigation__list-item">
				<a class="das-navigation__link" href="/{{version}}/index">Home</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link" href="/{{version}}/approvals/apprentice-requests">Apprentice
					requests</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link " href="/{{version}}/reserve-reservations-pro">Manage funding</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link das-navigation__link--current" href="/{{version}}/manage/index">Manage
					your apprentices</a>
			</li>
			<li class="das-navigation__list-item">
				<a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
			</li>
			<li class="das-navigation__priority-list-item" id="priority-list-menu"><a
					class="das-navigation__priority-button" href="/{{version}}/#">More</a>
				<ul class="das-navigation__priority-list govuk-visually-hidden">
					<li class="das-navigation__list-item">
						<a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to apprentice details",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>
		<table class="govuk-table govuk-!-margin-bottom-9">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Name</th>
					<td class="govuk-table__cell">George Ford</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Unique learner number</th>
					<td class="govuk-table__cell">5320150775</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Date of birth</th>
					<td class="govuk-table__cell">
						1 Jan 2000 </td>
				</tr>
			</tbody>
		</table>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				<table class="govuk-table">
					<caption class="govuk-table__caption govuk-table__caption--m">Apprenticeship service</caption>
					<thead>
						<tr>
							<th scope="col" class="govuk-table__header">Price period</th>
							<th scope="col" class="govuk-table__header">Total apprenticeship <br>training price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="govuk-table__cell">From<br> 1 Dec 2022 onwards</td>
							<td class="govuk-table__cell">£1,056</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="govuk-grid-column-one-half">
				<table class="govuk-table">
					<caption class="govuk-table__caption govuk-table__caption--m">ILR submission</caption>
					<thead>
						<tr>
							<th scope="col" class="govuk-table__header">Price period</th>
							<th scope="col" class="govuk-table__header">Total apprenticeship <br>training price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="govuk-table__cell">From<br>1 Dec 2022 onwards</td>
							<td class="govuk-table__cell">£1,156</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<form method="post" action="/{{version}}/action/details-of-mismatch">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group  ">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							How do you want to fix the mismatch?
						</legend>
						<div class="govuk-radios">
							<div class="govuk-radios__item">
								<input value="Confirm" type="radio" class="govuk-radios__input"
									id="SubmitStatusViewModel-Confirm" name="SubmitStatusViewModel">
								<label class="govuk-label govuk-radios__label" for="SubmitStatusViewModel-Confirm">
									Request these details are updated to match the ILR
								</label>

							</div>

							<div class="govuk-radios__item">
								<input value="leave" type="radio" class="govuk-radios__input"
									id="SubmitStatusViewModel-None" name="SubmitStatusViewModel">
								<label class="govuk-label govuk-radios__label" for="SubmitStatusViewModel-None">
									Leave for now
								</label>
							</div>
						</div>
					</fieldset>
				</div>

				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
				</button>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}