{% extends "layouts/main.html" %}

{% block pageTitle %}
Managing your apprentices
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
{# Redundancy #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Managing your apprentices</h1>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Providers</h2>
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <p class="govuk-body"><a href="https://trello.com/c/VLmMBjAM" class="govuk-link govuk-link--no-visited-state"
                target="_blank">Link to Trello card</a></p>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="current-provider">Current</a>
            </li>
            <li>
                <a class="govuk-link" href="v7-provider">Version 7</a>
            </li>
            </ul>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Previous research
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="v1-provider">Version 1</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v2-provider">Version 2</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v3-provider">Version 3</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v4-provider">Version 4</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v5-provider">Version 5</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v6-provider">Version 6</a>
                    </li>
                    </ul>
            </div>
            </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Employers</h2>
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
            Design signed off
        </strong>
        <p class="govuk-body"><a href="https://trello.com/c/VLmMBjAM" class="govuk-link govuk-link--no-visited-state"
                target="_blank">Link to Trello card</a></p>
    
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="current-employer">Current</a>
            </li>
            <li>
                <a class="govuk-link" href="v1-employer">Version 1.1</a>
            </li>
        </ul>
        {# <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="v1-provider">Version 1</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v2-provider">Version 2</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v3-provider">Version 3</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v4-provider">Version 4</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="v5-provider">Version 5</a>
                    </li>
                </ul>
            </div>
        </details> #}
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-s">Clear data</h2>
<p class="govuk-body">Clear data can now be found in the prototype footer</p>
</div>

{% endblock %}