{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Change of standard </h1>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l">Employer</h2>
                <strong class="govuk-tag govuk-tag--light-blue govuk-!-margin-bottom-4">
                    In design
                </strong>
                <span class="govuk-caption-m">Prior to qualifying period</span>
                <h3 class="govuk-heading-m"><a href="employer/v2/" class="govuk-link govuk-link--no-visited-state"
                        rel="noreferrer noopener">Employer account</a>
                </h3>
                <p class="govuk-body">Employer can change the standard up until the qualifying period of 42 days (for
                    learing aim of 168 days or more)</p>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Previous research
        </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="employer/v1/">Version 1</a> -
                Research
                round 15 (March 2024)
            </li>
        </ul>
    </div>
</details>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Training provider</h2>
            </div>
            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--light-blue govuk-!-margin-bottom-4">
                    In design
                </strong>
                <span class="govuk-caption-m">Prior to first payment data lock</span>
                <h3 class="govuk-heading-m"><a href="/change-of-standard/training-provider/v2/"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Training provider
                        account</a></h3>
                <p class="govuk-body">Training provide can change the standard up until the first payment data lock</p>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Previous research
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link" href="/change-of-standard/training-provider/v1/">Version 1</a> -
                                Research
                                round 15 (March 2024)
                            </li>
                        </ul>
                    </div>
                </details>
            </div>

            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
                    Pending
                </strong>
                <span class="govuk-caption-m">Prior to first payment data lock</span>
                <h3 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state"
                        rel="noreferrer noopener">Standard change request</a></h3>
                <p class="govuk-body">Training provides receieves a change of standard request by an employer</p>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
                    Pending
                </strong>
                <span class="govuk-caption-m">Prior to qualifying period</span>
                <h3 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state"
                        rel="noreferrer noopener">Training provider
                        account</a></h3>
                <p class="govuk-body">Training provides cannot change the standard after the first payment data lock</p>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-m">Clear data</h2>
        <p class="govuk-body">Clear data can now be found in the prototype footer</p>


    </div>

    {% endblock %}