{% extends "layout.html" %}
{% set version = "feature/COSD/v1/training-provider" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Total Price</h1>

    
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#update-prices">Your training price and end point assesment price total more than your funding band. Amend the price or continue
          outside of the funding band.</a>
        </li>
      
      </ul>
    </div>
  </div>
</div>


    <form action="reason-for-update" method="post" novalidate class="govuk-!-margin-top-7" for="update-prices">
      <div class=" govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is the new training price?
          </legend>

          <div id="apprenticeship-price-hint" class="govuk-hint">
            The total price should not include VAT. <br> <br> The current training price is £6,000.
          </div>

          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="apprenticeship-price" name="apprenticeship-price"
              type="text" aria-describedby="apprenticeship-price-hint">
          </div>
          <br><br><br>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              What is the new end point assessment price?

            </legend>

            <div id="apprenticeship-price-hint" class="govuk-hint">
              The total price should not include VAT. <br> <br> The current assessment price is £2,500.
            </div>

            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="apprenticeship-price" name="apprenticeship-price"
                type="text" aria-describedby="apprenticeship-price-hint">
            </div>
      </div>
    
    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Why do I need to update both training and assesment price?
      </span>
    </summary>
    <div class="govuk-details__text">
      You might only need to update one price, in which case please re-enter the current price to the relevent section.
      There may be times when updated the training price would mean the total price will exceed the funding band, in which
      case you might need to amend the assesment price as well.
    </div>
  </details>
  
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What happens if the new price exceeds the funding band?
      </span>
    </summary>
    <div class="govuk-details__text">
      If the true cost of delivery exceeds the funding band maximum (before any deductions for prior learning have been
      made),
      the provider must agree off-line (outside of the ILR and apprenticeship service) how the employer will pay this
      difference. We do not need to know about the amount of this difference and VAT can be charged on this amount. This
      difference must not be funded from the apprenticeship service account or co-investment.
    </div>
  </details>


  </div>
</div>



{% endblock %}