{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "Check your changes before sending to the training provider" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>
		<h2 class="govuk-heading-m">Apprenticeship details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Training provider
				</dt>
				<dd class="govuk-summary-list__value">
					EDUC8 TRAINING (ENGLAND) LIMITED
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Apprenticeship training course
				</dt>
				<dd class="govuk-summary-list__value">
					Abattoir Worker, Level: 2 (Standard)
				</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">Changes you're requesting</h2>

		<div id="apprenticeship-price-hint" class="govuk-hint">
			Reason for change: "{{ data['reason-for-update'] or 'The original price was entered incorrectly, this has
			been
			confirmed
			with the training provider.'}}"
		</div>
		<br>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">
		
					</th>
					<th scope="col" class="govuk-table__header app-custom-class">Previous</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Changed to
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Total price</th>
					<td class="govuk-table__cell">£8,500</td>
					<td class="govuk-table__cell">£{{ data['apprenticeship-price'] or
					'£9,500'}}
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Now send to the training provider for approval</h2>
		<p class="govuk-body">Your payment schedule will not change until the training proivder approves your request.
		</p>
		<form action="confirmation" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<button class="govuk-button" data-module="govuk-button">
				Send
			</button>
		</form>
	</div>
</div>



{% endblock %}