{% extends "layout.html" %}
{% set version = "feature/COP/v4/employer" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Total agreed apprenticeship price</h1>
    <p class="govuk-body">
      The current total training price is £1,234.
    </p>

    <form action="reason-for-update" method="post" novalidate class="govuk-!-margin-top-7">
      <div class=" govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is the new total training price?
          </legend>

          <div id="apprenticeship-price-hint" class="govuk-hint">
            The total price should not include VAT. <br> <br> Total training price must include pence, like 123.45 or
            5000.00.
          </div>

          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="new-apprenticeship-price"
              name="new-apprenticeship-price" type="text" aria-describedby="new-apprenticeship-price-hint" value="">
          </div>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="effective-from-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Effective from date
          </legend>
          <div id="effective-from-hint" class="govuk-hint">
            For example, 31 3 2024
          </div>
          <div class="govuk-date-input" id="effective-from">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="effective-from-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="effective-from-day"
                  name="effective-from-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="effective-from-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="effective-from-month"
                  name="effective-from-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="effective-from-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="effective-from-year"
                  name="effective-from-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>



  </div>
</div>



{% endblock %}