{% extends "layout.html" %}
{% set version = "employer" %}
{% set pageTitle = "Choose organisation" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{ version }}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{ version }}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{ version }}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  <a href="/{{ version }}/apprentice/" class="govuk-back-link">Back to Apprentices</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Choose organisation</h1>

        <form action="/{{ version }}/apprentice/add/provider-details" method="post" novalidate>

          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Which organisation is named on the contract with the training provider for the apprentices you’d like to add?
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item" id="radio-item-legal-entity-code">
                  <input class="govuk-radios__input" id="LegalEntityId" name="LegalEntityId" type="radio" value="">
                  <label class="govuk-label govuk-radios__label" for="LegalEntityId">
                    Coventry City Council
                  </label>
                </div>
                <div class="govuk-radios__item" id="radio-item-legal-entity-code">
                  <input class="govuk-radios__input" id="LegalEntityId_2" name="LegalEntityId" type="radio" value="">
                  <label class="govuk-label govuk-radios__label" for="LegalEntityId_2">
                    ANNUKKA LIMITED
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <details id="service-help" class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a contract for services?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p> A contract for services is a formal agreement between a buyer and a supplier.</p>
              <p>In this case, the contract is between the organisation that's buying apprenticeship training for their apprentices and the training provider that's training the apprentices.</p>
              <p>If you're an employer-provider, for example, you won't need a contract for services as your organisation is both the buyer and the supplier.</p>
            </div>
          </details>

          <button type="submit" class="govuk-button" id="submit-legal-entity">Continue</button>

        </form>
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}