{% extends "layout.html" %}
{% set version = "employer" %}
{% set pageTitle = "Add training details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{ version }}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{ version }}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{ version }}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{ version }}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/{{ version }}/apprentice/add/select-standard-option" novalidate method="post">

          <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

          <div class="govuk-form-group">
            <p class="govuk-label govuk-!-font-weight-bold">Apprenticeship training course</p>
            <p class="govuk-body">
              Academic professional, Level: 7
              <button id="change-course-link" type="submit" name="ChangeCourse" value="Edit" class="das-button--inline-link">
                Edit<span class="govuk-visually-hidden"> apprenticeship training course</span>
              </button>
            </p>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="start-date-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Planned training start date
              </legend>
              <span id="start-date-hint" class="govuk-hint">
                For example, 09 2021 <br>
                The standard version will be based on the planned training start date provided
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="StartDate" data-valmsg-replace="true" id="error-message-StartDate"></span>
              <div class="govuk-date-input" id="StartDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label length-limit" for="StartMonth">Month</label>
                    <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="2" min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" id="StartMonth" name="StartMonth" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                    <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="4" min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" id="StartYear" name="StartYear" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Projected training finish date
              </legend>
              <span id="finish-date-hint" class="govuk-hint">
                For example, 09 2019
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate" data-valmsg-replace="true" id="error-message-EndDate"></span>
              <div class="govuk-date-input" id="EndDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                    <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="2" min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" id="EndMonth" name="EndMonth" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                    <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="4" min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" id="EndYear" name="EndYear" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total agreed apprenticeship price (excluding VAT)</label>
            <span id="price-hint" class="govuk-hint">
              Enter the price, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true" id="error-message-Cost"></span>
            <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5" inputmode="numeric" pattern="[0-9]*" maxlength="7" min="1" max="9999999" type="number" id="Cost" name="Cost" value="">
          </div>


          <div class="govuk-character-count" data-module="character-count" data-maxlength="20">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="Reference">Reference (optional)</label>
              <span class="govuk-hint">
                Add a reference, such as employee number or location - this won't be seen by the training provider
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="Reference" data-valmsg-replace="true" id="error-message-Reference"></span>

              <input maxlength="20" class="govuk-input govuk-!-width-three-quarters js-character-count" type="text" id="Reference" name="Reference" value="">
            </div>
          </div>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-s">End-point assessments</h2>
            <p>We'll ask you to confirm the <a class="govuk-link" href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" title="Opens in a new window">apprentice assessment
                organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
          </div>

          <button id="continue-button" type="submit" class="govuk-button">
            Save and continue
          </button>

      </div>

  </main>
</div>

{% endblock %}

{% endblock %}