{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-apprentice-requests" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            {{pageTitle}}
        </h1>

        <p class="govuk-body">It is a requirement for apprentices undertaking level 2, level 3 or higher apprenticeships to hold
            or achieve the
            approved level of qualifications for English and maths.
        </p>
        <p class="govuk-body">
            The Government will fund an apprentice to achieve up to an approved level 2
            qualification in English and maths where they do not already hold a suitable equivalent qualification.</p>
        <p class="govuk-body">You can find a list of accepted qualifications on the <a
                href="https://www.gov.uk/government/publications/english-and-maths-requirements-in-apprenticeship-standards-at-level-2-and-above"
                target="_blank" class="govuk-link govuk-link--no-visited-state">English and maths requirements for apprenticeships (opens in new tab)</a> page.</p>
        <form action="learning-aim-english" method="post" novalidate class="govuk-!-margin-top-7">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Would you like to add any of these functional skills for this apprentice?
                    </legend>
        
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="functional-skills" name="functional-skills"
                                type="checkbox" value="English">
                            <label class="govuk-label govuk-checkboxes__label" for="functional-skills">
                                English
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="functional-skills-2" name="functional-skills"
                                type="checkbox" value="Maths">
                            <label class="govuk-label govuk-checkboxes__label" for="functional-skills-2">
                                Mathematics
                            </label>
                        </div>
                        <div class="govuk-checkboxes__divider">or</div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="functional-skills-3" name="functional-skills"
                                type="checkbox" value="None" data-behaviour="exclusive">
                            <label class="govuk-label govuk-checkboxes__label" for="functional-skills-3">
                                No, I do not need to add any functional skills
                            </label>
                        </div>
                    </div>


                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" href="apprentice-details">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}