{% extends "layouts/main.html" %}
{% set pageTitle = "Review your details" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-home" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your standards and training venues</h1>
    </div>
</div>
<div class="govuk-grid-row app-flex-row">
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="#" class="govuk-link">Training venues</a></h2>
            <p class="app-feature-box__content">Add or update venues where you carry out the training.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="#" class="govuk-link">The
                    standards you deliver</a></h2>
            <p class="app-feature-box__content">Manage the standards your organisation delivers.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a
                    href="qualifications?new-skill=no&remove-skill=no"
                    class="govuk-link govuk-link--no-visited-state">English and maths qualifications</a>
            </h2>
            <p class="app-feature-box__content">Manage the English and maths qualifications your organisation delivers.
            </p>
        </div>
    </div>
</div>
<div class="govuk-grid-row app-flex-row">

    <div class="govuk-grid-column-one-third">
        <div class="app-feature-box">
            <h2 class="govuk-heading-s app-feature-box__heading"><a href="#" class="govuk-link">Provider overview</a>
            </h2>
            <p class="app-feature-box__content">View your training provider information that shows on Find
                apprenticeship training.</p>
        </div>
    </div>
</div>

{% endblock %}