{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-home" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data['new-skill'] == 'yes' %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    English and maths qualification added
                </h3>
                <p class="govuk-body">AQA Functional Skills qualification in Mathematics at Level 2 has been
                    successfully added
                    to your English and maths qualifications</p>
            </div>
        </div>
        {% endif %}
        {% if data['remove-skill'] == 'yes' %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    English and maths qualification removed
                </h3>
                <p class="govuk-body">AQA Functional Skills qualification in Mathematics at Level 2 has been
                    successfully
                    removed from you English and maths qualifications</p>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl" id="header-standards">Manage the English and maths qualifications you deliver</h1>
        <p class="govuk-body">Check your qualifications are correct and add any missing information.
            Add any
            qualifications that
            you deliver that are not on the list.</p>
        <p class="govuk-body">These skills are what you select from when adding and amending apprentices.</p>
        <table class="govuk-table" aria-labelledby="header-standards">
            <caption class="govuk-table__caption govuk-table__caption--m">English</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-60" scope="col">Qualification</th>
                    <th class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" scope="col">
                        Level</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            AQA Functional Skills qualification in English at Level 1
                        </a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        Level 1
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            AQA Functional Skills qualification in English at Level 2
                        </a>
                    </td>

                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        Level 2
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table" aria-labelledby="header-standards">
            <caption class="govuk-table__caption govuk-table__caption--m">Mathematics</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-60" scope="col">Qualification</th>
                    <th class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" scope="col">
                        Level</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            AQA Functional Skills qualification in Mathematics at Level 1
                        </a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        Level 1
                    </td>
                </tr>
                {% if data['new-skill'] == 'yes' %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" href="manage-qualifications">
                            AQA Functional Skills qualification in Mathematics at Level 2
                        </a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        Level 2
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <p class="govuk-body govuk-!-margin-top-9">
            <a href="select-qualification" role="button" draggable="false" class="govuk-button"
                data-module="govuk-button">
                Add a qualification
            </a>
            <br>
            <a class="govuk-link govuk-link--no-visited-state" href="index">Return to your standards and training
                venues</a>
        </p>
    </div>
</div>

{% endblock %}