{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Functional skills</h1>
        <p class="govuk-body">Adding functional skills English and Maths to support an apprenticeship.
        </p>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-4">
            UCD review
        </strong>
        <h3 class="govuk-heading-s">Add functional skills to account
        </h3>
        <p class="govuk-body">Training provide can add functional skills to their account to manage the functional skills
            they provide</p>
        <ul class="govuk-list">
            <li>
                <a href="manage-functional-skils/v1/" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">Version 1</a> - Task
                list
            </li>
        </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-4">
                UCD review
            </strong>
            {# <span class="govuk-caption-m">Prior to first payment data lock</span> #}
            <h3 class="govuk-heading-s">Provider pre-approval
            </h3>
            <p class="govuk-body">Training provide can add functional skills to an apprenticeship when initially setting it
                up</p>
            <ul class="govuk-list">
                {# <li>
                    <a href="v1/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version 1</a> - Task
                    list
                    </li> #}
                    {# <li>
                    <a href="v2/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version 2</a> -
                    Remove task list
                    </li> #}
                    <li>
                    <a href="v3/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version 3</a> -
                    Combine
                    which functional skill page
                    </li>
                    <li>
                        <a href="v4/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version 4</a> -
                        Use add another loop to add another skill
                    </li>
            </ul>
        
        </div>
        
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
                    In design
                </strong>
                <h3 class="govuk-heading-s">Approve details screen
                </h3>
                <p class="govuk-body">Add functional skills to the approve details screen</p>
                <ul class="govuk-list">
                    <li>
                        <a href="approve-details/current" class="govuk-link govuk-link--no-visited-state"
                            rel="noreferrer noopener">Current design</a>
                    </li>
                    <li>
                        <a href="approve-details/v1" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            1</a>
                    </li>
                    <li>
                        <a href="approve-details/v2" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            2</a>
                    </li>
                </ul>
                </div>
                </div>
                {#<div class="govuk-grid-column-one-half">
                    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
                        In design
                    </strong>
        {# <span class="govuk-caption-m">Prior to first payment data lock</span> #}
        {# <h3 class="govuk-heading-s"><a href="pre-approvals-task/add/entry-method"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Concept - task list for
                pre-approvals</a>
        </h3>
        <p class="govuk-body">Tighten up pre-approvals to make it easier to add information and come back to it</p>

    </div> #}



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Clear data</h2>
<p class="govuk-body">Clear data can now be found in the prototype footer</p>


{% endblock %}