{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">English and maths qualifications</h1>
        <p class="govuk-body">Adding English and maths qualifications to support an apprenticeship.
        </p>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Post-approval</h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
            For design
        </strong>
        <h3 class="govuk-heading-s">Approve details screen
        </h3>
        <p class="govuk-body">Add English and maths qualifications to an exiting apprenticeship record</p>
        <ul class="govuk-list">
            <li>
                <a href="post-approval/v5/" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">Version
                    5</a>
            </li>
        </ul>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a href="post-approval/v4/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            4</a>
                        </li>
                        <li>
                        <a href="post-approval/v3/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            3</a>
                        </li>
                        <li>
                        <a href="post-approval/v2/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            2</a>
                        </li>
                        <li>
                        <a href="post-approval/v1/" class="govuk-link govuk-link--no-visited-state"
                            rel="noreferrer noopener">Version 1</a>
                    </li>
                </ul>
            </div>
        </details>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Pre-approval</h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4">
            For UCD review
        </strong>
        <h3 class="govuk-heading-s"><a href="manage-functional-skils/v3/"
                class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Add English and maths qualifications to
                account</a>
        </h3>
        <p class="govuk-body">Training provide can add English and maths qualifications to their account to manage the functional
            skills
            they provide</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a href="manage-functional-skils/v2/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            2</a>
                        </li>
                        <li>
                        <a href="manage-functional-skils/v1/" class="govuk-link govuk-link--no-visited-state"
                            rel="noreferrer noopener">Version 1</a> - Task
                        list
                    </li>
                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
            In design
        </strong>
        <h3 class="govuk-heading-s">Provider pre-approval
        </h3>
        <p class="govuk-body">Training provide can add English and maths qualifications to an apprenticeship when initially setting it
            up</p>
<ul class="govuk-list">
    <li>
        <a href="v5/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
            5.3</a> - Beta version
    </li>
    <li>
        <a href="v6/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
            6</a> - Once skills can be added post-approval
    </li>
</ul>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <a href="v4/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            4</a> -
                        Use add another loop to add another skill
                    </li>
                    <li>
                        <a href="v3/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            3</a> -
                        Linear flow for adding both English and maths qualifications
                    </li>
                </ul>
            </div>
        </details>
    </div>

</div>
<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4">
            For research
        </strong>
        <h3 class="govuk-heading-s">Approve details screen
        </h3>
        <p class="govuk-body">Add functional skills to the approve details screen</p>
        <ul class="govuk-list">
            <li>
                <a href="approve-details/current" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">Current design</a>
            </li>
            <li>
                <a href="approve-details/v91" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">Version
                    9.1</a>
            </li>

        </ul>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Previous research
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                    <li>
                        <li>
                            <a href="approve-details/v9" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                                9</a>
                        </li>
                        <li>
                            <a href="approve-details/v8" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                                8</a>
                        </li>
                        <a href="approve-details/v7" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            7</a>
                        </li>
                        <li>
                        <a href="approve-details/v6" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            6</a>
                        </li>
                        <li>
                        <a href="approve-details/v5" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            5</a>
                        </li>
                        <li>
                        <a href="approve-details/v4" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            4</a>
                        </li>
                        <li>
                        <a href="approve-details/v3" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            3</a>
                        </li>
                        <li>
                            <a href="approve-details/v2" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Version
                            2</a>
                    </li>
                    <li>
                        <a href="approve-details/v1" class="govuk-link govuk-link--no-visited-state"
                            rel="noreferrer noopener">Version
                            1</a>
                    </li>
                </ul>
            </div>
        </details>
    </div>
</div>
{#<div class="govuk-grid-column-one-half">
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
        In design
    </strong>
    {# <span class="govuk-caption-m">Prior to first payment data lock</span> #}
    {# <h3 class="govuk-heading-s"><a href="pre-approvals-task/add/entry-method"
            class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Concept - task list for
            pre-approvals</a>
    </h3>
    <p class="govuk-body">Tighten up pre-approvals to make it easier to add information and come back to it</p>

</div> #}



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Clear data</h2>
<p class="govuk-body">Clear data can now be found in the prototype footer</p>


{% endblock %}