{% extends "layouts/main.html" %}

{% block pageTitle %}
Apprentice details
{% endblock %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
{# Redundancy #}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apprentice details</h1>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
            In design
        </strong>
        <ul class="govuk-list">
            <li>
                <p class="govuk-body"><a class="govuk-link" href="version-4">Version 4</a></p>
                <p class="govuk-body-s">Addressing findings from <a
                        href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/4096524445/Payments+Simplification+-+Research+documentation+-+Pilot+Private+Beta"
                        class="govuk-link">round 20</a></p>
                
                </li>
                <li>
                    <p class="govuk-body"><a class="govuk-link" href="version-4--simplified">Version 4 - Simplified</a></p>
                    <p class="govuk-body-s">Simplified for Beta, not including English and Maths or a review screen.</p>
                </li>
                </ul>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Previous research
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link" href="version-3">Version 3</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="version-2">Version 2</a>
                            </li>
                            <li>
                        <a class="govuk-link" href="version-1">Version 1</a>
                        </li>
                    
                </ul>
            </div>
            </details>
            <h2 class="govuk-heading-m govuk-!-margin-top-8">For research round 20 - wc 15th Jul</h2>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="version-3a--standard">Version 3 - Standard change</a>
            </li>
            <li>
                <a class="govuk-link" href="version-3b--standard">Version 4 - Standard change</a>
            </li>
            <li>
                <a class="govuk-link" href="version-3a">Version 3 - Variant A</a>
            </li>
            <li>
                <a class="govuk-link" href="version-3b">Version 3 - Variant B</a>
            </li>
        </ul>

    </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-s">Clear data</h2>
<p class="govuk-body">Clear data can now be found in the prototype footer</p>
</div>

{% endblock %}