{% extends "layouts/main.html" %}
{% set pageTitle = "George Ford (Version 4) - Standard" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		{# <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h3 class="govuk-notification-banner__heading">
					The employer has requested a change to the standard. You need to review and approve.
				</h3>
				<p class="govuk-body"><a href="/change-of-standard/training-provider/v3/view-changes"
						class="govuk-link govuk-link--no-visited-state">Review change
						request</a></p>
			</div>
		</div> #}
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list" role="tablist">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
					<a class="govuk-tabs__tab" href="#change-request" id="tab_change-request" role="tab"
						aria-controls="change-request" aria-selected="true" tabindex="0">
						Pending updates <span class="hmrc-notification-badge">1</span>

					</a>
				</li>
				<li class="govuk-tabs__list-item" role="presentation">
					<a class="govuk-tabs__tab" href="#overview" id="tab_overview" role="tab" aria-controls="overview"
						aria-selected="false" tabindex="-1">
						Apprenticeship
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#functional-skills">
						Functional skills
					</a>
				</li>

				{# <li class="govuk-tabs__list-item" role="presentation">
					<a class="govuk-tabs__tab" href="#history" id="tab_history" role="tab" aria-controls="history"
						aria-selected="false" tabindex="-1">
						History
					</a>
				</li> #}
			</ul>

			<div class="govuk-tabs__panel" id="change-request" role="tabpanel" aria-labelledby="tab_change-request">
				{# <div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m" id="pending-your-review">Pending your review</h2>
						<p class="govuk-body">The employer has made some updates which require your approval before they
							can be
							updated.</p>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Total agreed apprenticeship price</h2>
						<ul class="govuk-summary-card__actions">
							<li class="govuk-summary-card__action"><strong class="govuk-tag govuk-tag--yellow"
									style="max-width:none">Pending your
									review</strong></li>
							<li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state"
									href="/payments/c-02-review">
									Review change request<span class="govuk-visually-hidden"> training dates</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Request made
								</dt>
								<dd class="govuk-summary-list__value">
									Today (15 February 2023)
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Current
								</dt>
								<dd class="govuk-summary-list__value">
									£8,000
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Request
								</dt>
								<dd class="govuk-summary-list__value">
									£9,000
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Effective from date
								</dt>
								<dd class="govuk-summary-list__value">
									1 December 2022
								</dd>
							</div>
						</dl>
					</div>
				</div> #}

				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Pending employer review</h2>
						<p class="govuk-body">Some updates need approval from the employer before they can be updated.
							These
							requests
							are
							listed for your reference.</p>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Change to standard</h2>
						<ul class="govuk-summary-card__actions">
							<li class="govuk-summary-card__action"><strong class="govuk-tag govuk-tag--grey">Pending
									employer</strong></li>
							<li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state"
									href="/change-of-standard/training-provider/v3/view-changes">
									View and manage request<span class="govuk-visually-hidden"> for training
										dates</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Request made
								</dt>
								<dd class="govuk-summary-list__value">
									3 days ago (15 February 2024)
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Current
								</dt>
								<dd class="govuk-summary-list__value">
									Accounting, Level: 2
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Request
								</dt>
								<dd class="govuk-summary-list__value">
									Game technology: Level 7
								</dd>
							</div>
						</dl>
					</div>
				</div>


			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overview" role="tabpanel"
				aria-labelledby="tab_overview">
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Overview
						</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Apprenticeship status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--blue">In progress</strong>
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state"
										href="/change-of-status/training-provider/v5/edit-learner-status">
										Change
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Provider payments status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--blue">Active</strong>
								</dd>
							</div>
						</dl>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Apprentice
						</h2>
						{# <ul class="govuk-summary-card__actions">

							<li class="govuk-summary-card__action">
								<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">
										apprentice</span></a>
							</li>
						</ul> #}
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Unique learner number
								</dt>
								<dd class="govuk-summary-list__value">
									5320150775
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Name
								</dt>
								<dd class="govuk-summary-list__value">
									George Ford
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Email address
								</dt>
								<dd class="govuk-summary-list__value">
									georgeford@gmail.com<br>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Date of birth
								</dt>
								<dd class="govuk-summary-list__value">
									1 January 2000
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Apprentice confirmation
								</dt>
								<dd class="govuk-summary-list__value">
									Confirmed
								</dd>
							</div>
						</dl>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Employment
						</h2>
						{# <ul class="govuk-summary-card__actions">

							<li class="govuk-summary-card__action">
								<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">
										employment</span></a>
							</li>
						</ul> #}
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Employer
								</dt>
								<dd class="govuk-summary-list__value">
									AUTOMATION &amp; OPTIMISATION LTD
								</dd>
								<dd class="govuk-summary-list__actions">

								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Cohort reference
								</dt>
								<dd class="govuk-summary-list__value">
									MNNRLD
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Agreement ID
								</dt>
								<dd class="govuk-summary-list__value">
									7GXEKP
								</dd>
							</div>
						</dl>
					</div>
				</div>

				{# Program details #}
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Programme
						</h2>
						<ul class="govuk-summary-card__actions">
							<li class="govuk-summary-card__action"><strong class="govuk-tag govuk-tag--grey">Pending
									employer</strong></li>
							<li class="govuk-summary-card__action"><a class="govuk-link govuk-link--no-visited-state"
									href="/change-of-standard/training-provider/v3/view-changes">
									View and manage request<span class="govuk-visually-hidden"> for training
										dates</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="govuk-summary-card__content">
						<table class="govuk-table">
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th scope="col" class="govuk-table__header govuk-!-width-one-third">
										<span class="govuk-visually-hidden">Apprenticship detail</span>
									</th>
									<th scope="col" class="govuk-table__header ">
										Current
									</th>
									<th scope="col" class="govuk-table__header ">
										Requested
									</th>
								</tr>

							</thead>
							<tbody class="govuk-table__body">

								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Standard</th>
									<td class="govuk-table__cell">Accounting, Level: 2</td>
									<td class="govuk-table__cell">Game technology: Level 7</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Version
									</th>
									<td class="govuk-table__cell">1.0</td>
									<td class="govuk-table__cell">1.4</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Pathway</th>
									<td class="govuk-table__cell">
										Not applicable
									</td>
									<td class="govuk-table__cell">Confirm at a later date</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Apprenticeship delivery model</th>
									<td class="govuk-table__cell">
										Regular
									</td>
									<td class="govuk-table__cell">Regular</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Your reference
									</th>
									<td class="govuk-table__cell">Nothing provided</td>
									<td class="govuk-table__cell">Nothing provided</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Actual training start date</th>
									<td class="govuk-table__cell">1 August 2023</td>
									<td class="govuk-table__cell">24 August 2023</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Planned training end date</th>
									<td class="govuk-table__cell">1 August 2024</td>
									<td class="govuk-table__cell">25 October 2024</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Training price</th>
									<td class="govuk-table__cell">£6,000</td>
									<td class="govuk-table__cell" id="TrainingPrice">
										£7,000
									</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">End-point assessment price</th>
									<td class="govuk-table__cell">£2,500</td>
									<td class="govuk-table__cell" id="EndPointAssessmentPrice">
										£3,000
									</td>
								</tr>
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Total price</th>
									<td class="govuk-table__cell">£8,500</td>
									<td class="govuk-table__cell">
										£10,000
									</td>
								</tr>
								<tr class=" govuk-table__row">
									<th scope="row" class="govuk-table__header">Total off-the-job training hours
										required for this
										standard</th>
									<td class="govuk-table__cell">70 hours</td>
									<td class="govuk-table__cell">70 hours</td>

								</tr>

								<tr class=" govuk-table__row">
									<th scope="row" class="govuk-table__header">Reduction in hours due to prior learning
									</th>
									<td class="govuk-table__cell">14 hours</td>
									<td class="govuk-table__cell">21 hours</td>
								</tr>
								<tr class=" govuk-table__row">
									<th scope="row" class="govuk-table__header">Reduction in duration due to prior
										learning</th>
									<td class="govuk-table__cell">2 weeks</td>
									<td class="govuk-table__cell">3 weeks</td>

								</tr>
								<tr class=" govuk-table__row">
									<th scope="row" class="govuk-table__header">Price reduction due to prior learning
									</th>
									<td class="govuk-table__cell">£2,000</td>
									<td class="govuk-table__cell">£2,500</td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="functional-skills" role="tabpanel"
				aria-labelledby="tab_functional-skills">
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">English</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<span class="govuk-visually-hidden">Functional skill </span>Status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--blue">In learning</strong>
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state"
										href="/functional-skills/post-approval/v4/withdraw">
										Change<span class="govuk-visually-hidden"> English funcitional skill
											status</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row">

								<dt class="govuk-summary-list__key">
									Qualification
								</dt>
								<dd class="govuk-summary-list__value">
									AQA Functional Skills qualification in English at Level 2
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> English qualification</span>
									</a>
								</dd> #}
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Start date
								</dt>
								<dd class="govuk-summary-list__value">
									14 April 2024
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> English start date</span>
									</a>
								</dd> #}
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Planned end date
								</dt>
								<dd class="govuk-summary-list__value">
									9 September 2025
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Prior training
								</dt>
								<dd class="govuk-summary-list__value">
									Yes (40% to deliver)
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> English prior training</span>
									</a>
								</dd> #}
							</div>
						</dl>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Maths</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<span class="govuk-visually-hidden">Functional skill </span>Status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--green">Waiting to start</strong>
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link  govuk-link--no-visited-state"
										href="/functional-skills/post-approval/v4/withdraw">
										Change<span class="govuk-visually-hidden"> maths status</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Qualification
								</dt>
								<dd class="govuk-summary-list__value">
									AQA Functional Skills qualification in Mathematics at Level 2
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> maths qualification</span>
									</a>
								</dd> #}
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Start date
								</dt>
								<dd class="govuk-summary-list__value">
									10 September 2024
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> maths start date</span>
									</a>
								</dd> #}
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Planned end date
								</dt>
								<dd class="govuk-summary-list__value">
									9 September 2025
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Prior training
								</dt>
								<dd class="govuk-summary-list__value">
									No
								</dd>
								{# <dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> maths prior training</span>
									</a>
								</dd> #}
							</div>
						</dl>
					</div>
				</div>
			</div>




			{# <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history" role="tabpanel"
				aria-labelledby="tab_history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total agreed apprenticeship price
							increase
						</h3>
						<p class="govuk-body-s govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Change
								requested</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2023-02-15">15 February
								2023</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body govuk-body-s">
								Total agreed apprenticeship price
								updated from
								<b>£1,234</b>
								to
								<b>£1,500</b> effective from <b><time datetime="2020-07-22">1 December
										2022</time></b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total agreed apprenticeship price
							increase
						</h3>
						<p class="govuk-body-s govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body govuk-body-s">
								Total agreed apprenticeship price
								updated from
								<b>£1,000</b>
								to
								<b>£1,234</b> effective from <b><time datetime="2020-07-22">22 July
										2020</time></b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total agreed apprenticeship price
							increase
						</h3>
						<p class="govuk-body-s govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Change
								requested</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body govuk-body-s">
								Total agreed apprenticeship price
								updated from
								<b>£1,000</b>
								to
								<b>£1,234</b> effective from <b><time datetime="2020-07-22">22 July
										2020</time></b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total agreed apprenticeship price
							increase
						</h3>
						<p class="govuk-body-s govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body govuk-body-s">
								Total agreed apprenticeship price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b> effective from <b><time datetime="2020-07-22">22 July
										2020</time></b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total agreed apprenticeship price
							increase
						</h3>
						<p class="govuk-body-s govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Change
								requested</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body govuk-body-s">
								Total agreed apprenticeship price
								updated from
								<b>£1,000</b>
								to
								<b>£1,234</b> effective from <b><time datetime="2020-07-22">22 July
										2020</time></b>
							</p>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body-s">28
								June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body-s">23
								June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body-s">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>
							<p class="govuk-body govuk-body-s">Apprenticeship agreed
							</p>
						</div>
					</li>
				</ol>
			</div> #}

			{# End tabs #}

		</div>
	</div>
</div>

{% endblock %}