{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "Check your change before sending to the employer" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

	</div>
	<div class="govuk-grid-column-full">
		<table class="govuk-table govuk-table--small-text-until-tablet">
			<caption class="govuk-table__caption govuk-table__caption--m">Change you're requesting</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header govuk-!-width-one-third"><span
							class="govuk-visually-hidden">Apprenticship detail</span>
					</th>
					<th scope="col" class="govuk-table__header govuk-!-width-one-third">Current</th>
					<th scope="col" class="govuk-table__header  govuk-!-width-one-third">Requested </th>
					<th scope="col" class="govuk-table__header  govuk-!-width-one-quarter"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Course</th>
					<td class="govuk-table__cell">
						Abattoir Worker, Level: 5 (Standard)
					</td>
					<td class="govuk-table__cell">{{data['training-course'] or '[course name]'}}</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="change-course">Change </a></td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Standard option</th>
					<td class="govuk-table__cell">
						Game software programmer
					</td>
					<td class="govuk-table__cell">{{data['training-course'] or '[course name]'}}</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="change-course">Change </a></td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Planned training end date</th>
					<td class="govuk-table__cell">1 August 2024</td>
					<td class="govuk-table__cell">25 October 2024
					</td>

					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="planned-training-end">Change </a>
					</td>
				</tr>
				<tr class=" govuk-table__row">
					<th scope="row" class="govuk-table__header">Negotiated price</th>
					<td class="govuk-table__cell">£8,500</td>
					<td class="govuk-table__cell">£9,000</td>
					<td class="govuk-table__cell govuk-table__cell--numeric"><a href="price-change">Change </a></td>
				</tr>
			</tbody>
		</table>

		<div id="apprenticeship-price-hint" class="govuk-hint">


		</div>
		<br>
	</div>
</div>

{% if data['effective-from-year'] == "2023" %}

{% if data['effective-from-month'] == "5" or data['effective-from-month'] == "05" or data['effective-from-month'] == "4"
or data['effective-from-month'] == "04" or data['effective-from-month'] == "03" or data['effective-from-month'] == "03"
or data['effective-from-month'] == "2" or data['effective-from-month'] == "02" or data['effective-from-month'] == "1" or
data['effective-from-month'] == "01" %}

<div class="govuk-warning-text">
	<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
	<strong class="govuk-warning-text__text">
		<span class="govuk-warning-text__assistive">Warning</span>
		You will not receive funding for apprenticeship activity before
		1 August 2023
		<!-- (start of the current academic year) -->
	</strong>
</div>

{% elseif data['effective-from-month'] == "6" or data['effective-from-month'] == "06" or data['effective-from-year']
<= "2022" %} <div class="govuk-warning-text">
	<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
	<strong class="govuk-warning-text__text">
		<span class="govuk-warning-text__assistive">Warning</span>

		You will not receive funding for apprenticeship activity before
		1 August 2023

		<!-- (start of the current academic year) -->
		<!-- You will not receive funding for apprenticeship activity in any academic year before [current
                          academic year] -->
	</strong>
	</div>

	{% else %}
	{% endif %}

	{% else %}
	{% endif %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-heading-m">Now send to the employer for approval</h2>
			<p class="govuk-body">
				This change will be sent to the employer to approve. The apprentice will then need to confirm their
				details in their
				apprenticeship account.
			</p>


			<form action="change-course-confirmation" method="post" novalidate>
				<input type="hidden" name="answers-checked" value="true">
				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button">
						Send for approval
					</button>
					<a class="govuk-link" href="index">Cancel and return</a>
				</div>
			</form>

		</div>
	</div>


	{% endblock %}