{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "Planned training start date" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>

    <p class="govuk-body">The course <b>{{data['training-course'] or '[course name]'}}</b> is not avaliable on the
      current training start date 1 August 2023.

    <form action="planned-training-end" method="post" novalidate class="govuk-!-margin-top-8">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Would you like to select a new planned start date?
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-date-update" name="start-date-update" type="radio"
                value="yes" data-aria-controls="conditional-start-date-update">
              <label class="govuk-label govuk-radios__label" for="start-date-update">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-start-date-update">

              <div class="govuk-date-input" id="planned-training-start-date-issued"
                aria-describedby="start-date-update-hint">
                <div id="start-date-update-hint" class="govuk-hint">
                  The planned training start date needs to be on or after 25 10 2024
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="planned-training-start-date-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="planned-training-start-date-day" name="planned-training-start-date-day" type="text"
                      inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="pplanned-training-start-date-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="planned-training-start-date-month" name="planned-training-start-date-month" type="text"
                      inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="planned-training-start-date-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                      id="planned-training-start-date-year" name="planned-training-start-date-year" type="text"
                      inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-date-update-2" name="start-date-update" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="start-date-update-2">
                No, change course
              </label>

            </div>



          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>

</div>

{% endblock %}