{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "Negotiated price" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Negotiated price
    </h1>

    <p class="govuk-body">The current total price for this apprenticeship is:
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Training price
        </dt>
        <dd class="govuk-summary-list__value">
          £6,000
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End-point assessment price
        </dt>
        <dd class="govuk-summary-list__value">
          £2,500
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total price
        </dt>
        <dd class="govuk-summary-list__value">
          £8,500
        </dd>
      </div>
    </dl>
    
    <p class="govuk-body">The updates course
      <b>{{data['training-course'] or '[course name]'}}</b> may have
      a different price.
    </p>

    <form action="/change-of-course/training-provider/v1/price-change/action" method="post" novalidate
      class="govuk-!-margin-top-8">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Would you like to keep the current negotiated price?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="change-price" name="change-price" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="change-price">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="change-price-2" name="change-price" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="change-price-2">
                No, change the negotiated price
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>





    </form>
  </div>

</div>

{% endblock %}