{% extends "layouts/main.html" %}
{% set version = "fetature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "Recognition of prior learning (RPL)" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>

    <p class="govuk-body">The current recognition of prior learning for this apprenticeship is:
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current weeks reduced due to RPL
        </dt>
        <dd class="govuk-summary-list__value">
          6
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current price reduced due to RPL
        </dt>
        <dd class="govuk-summary-list__value">
          £2,000
        </dd>
      </div>
    </dl>

    <p class="govuk-body">The updates course
      <b>{{data['training-course'] or '[course name]'}}</b> may have
      a different RPL.
    </p>
    <form method="post" action="/change-of-course/training-provider/v1/recognise-prior-learning/action"
      class="govuk-!-margin-top-8">
      <div class="govuk-form-group ">
        <fieldset class="govuk-fieldset" aria-describedby="prior-learning-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Would you like to keep the current recognised prior learning?
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prior-learning" type="radio" value="yes" name="prior-learning">
              <label class="govuk-label govuk-radios__label" for="prior-learning">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prior-learning-2" type="radio" value="no" name="prior-learning">
              <label class="govuk-label govuk-radios__label" for="prior-learning-2">
                No, change the RPL
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}