{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-apprentice-requests" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Training dates</h1>
        <p class="govuk-body">
            Training for functional skills cannot begin before the planned training start date of the
            apprenticeship, which is
            1 August 2023.
        </p>
        <form action="recognise-prior-learning" method="post" novalidate class="govuk-!-margin-top-7">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Planned training start date
                    </legend>
                    <div id="start-date-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </div>
                    <div class="govuk-date-input" id="start-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="start-date-day" name="start-date-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="start-date-month" name="start-date-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="start-date-year" name="start-date-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Planned training end date
                    </legend>
                    <div id="end-date-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </div>
                    <div class="govuk-date-input" id="end-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="end-date-day" name="end-date-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="end-date-month" name="end-date-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="end-date-year" name="end-date-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}