{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-apprentice-requests" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            {{pageTitle}}
        </h1>

        <p class="govuk-body">It is a requirement for apprentices undertaking level 2, level 3 or higher apprenticeships to hold
            or achieve the
            approved level of qualifications for English and maths.
        </p>
        <p class="govuk-body">
            The Government will fund an apprentice to achieve up to an approved level 2
            qualification in English and maths where they do not already hold a suitable equivalent qualification.</p>
        <p class="govuk-body">You can find a list of accepted qualifications on the <a
                href="https://www.gov.uk/government/publications/english-and-maths-requirements-in-apprenticeship-standards-at-level-2-and-above"
                target="_blank">English and maths requirements for apprenticeships (opens in new tab)</a> page.</p>
        <form action="learning-aim" method="post" novalidate class="govuk-!-margin-top-7">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="status-update-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you want to add functional skills for this learner?
                    </legend>
                    <div id="status-update-hint" class="govuk-hint">
                        Select one option
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="functional-skills" name="functional-skills"
                                type="radio" value="functional-skills" {{
                                checked('functional-skills','functional-skills') }} checked="checked">
                            <label class="govuk-label govuk-radios__label" for="functional-skills">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="functional-skills-3" name="functional-skills"
                                type="radio" value="break" {{ checked('functional-skills','no') }}>
                            <label class="govuk-label govuk-radios__label" for="functional-skills-3">
                                No
                            </label>
                        </div>


                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" href="apprentice-details">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}