{% extends "layouts/main.html" %}
{% set pageTitle = "Check and confirm English and maths qualifications" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/functional-skills/approve-details/v91" method="post" novalidate>
            <h1 class="govuk-heading-l">{{pageTitle}}</h1>
            {# English #}
            {% if data['english'] == "none" %}
            <h3 class="govuk-heading-m">
                English
            </h3>
            <p class="govuk-body govuk-!-padding-bottom-6"><a href="learning-aim-english" class="govuk-link">Add an
                    English
                    qualification</a></p>
            {% else %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        English
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link govuk-link--no-visited-state"
                                href="/functional-skills/v6/delete-confirmation">Delete</a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification
                            </dt>
                            <dd class="govuk-summary-list__value">
                                AQA Functional Skills qualification in English at Level 2
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="learning-aim-english">Change<span class="govuk-visually-hidden"> qualification
                                        level</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                10 September 2024
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-english">Change<span
                                        class="govuk-visually-hidden">
                                        start
                                        date</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                End date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 September 2025
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-english">Change<span
                                        class="govuk-visually-hidden"> end
                                        date</span></a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            {% endif %}
            {# Maths #}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Maths
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
                        </li>
                    </ul>

                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification
                            </dt>
                            <dd class="govuk-summary-list__value">
                                AQA Functional Skills qualification in Mathematics at Level 2
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="learning-aim-maths">Change<span
                                        class="govuk-visually-hidden">
                                        qualification
                                        level</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                3 November 2024
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-maths">Change<span
                                        class="govuk-visually-hidden"> start
                                        date</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                End date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                18 December 2024
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-maths">Change<span
                                        class="govuk-visually-hidden"> end
                                        date</span></a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>



            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" id="submit-status-change">Confirm and continue</button>
            </div>
        </form>

    </div>

</div>

{% endblock %}