{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cod/training-provider" %}
{% set pageTitle = "Training date changes pending employer review" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">
			Beta
		</strong>
		<span class="govuk-phase-banner__text">
			This apprentice is part of a private Beta - <a class="govuk-link"
				href="mailto:payments.beta@education.gov.uk">feedback or report a problem (opens in new tab)</a>.
		</span>
	</p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m  govuk-!-margin-bottom-0">Changes you're
				requesting
			</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<td class="govuk-table__header govuk-!-width-one-third">
					</td>
					<th scope="col" class="govuk-table__header app-custom-class">Current</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested </th>
					<td class="govuk-table__cell"></td>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Training start date</th>
					<td class="govuk-table__cell">22 January 2022</td>
					<td class="govuk-table__cell">18 March 2022</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Planned training end date</th>
					<td class="govuk-table__cell">8 August 2025
					</td>
					<td class="govuk-table__cell">{{ data['end-date-update'] or '22 November 2025'}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row--no-border">
				<dt class="govuk-summary-list__key">
					Reason for change
				</dt>
				<dd class="govuk-summary-list__value">
					Wrong dates initially set
				</dd>
			</div>
		</dl>
		<form method="post" action="../details?change=none" class="govuk-!-margin-top-9">
			<fieldset class="govuk-fieldset">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							Do you want to cancel this request?
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="withdraw" name="withdraw" type="radio"
									value="yes" data-aria-controls="conditional-withdraw">
								<label class="govuk-label govuk-radios__label" for="withdraw">
									Yes, cancel the request
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
								id="conditional-withdraw">
								<div class="govuk-form-group">
									<label class="govuk-label" for="withdraw-more-details">
										Why do you want to cancel this request?
									</label>
									<textarea class="govuk-textarea" id="withdraw-more-details"
										name="withdraw-more-details" rows="5"></textarea>
								</div>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="withdraw" name="withdraw" type="radio"
									value="no">
								<label class="govuk-label govuk-radios__label" for="withdraw">
									No, keep the request
								</label>
							</div>

						</div>
					</fieldset>
				</div>
				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
				</button>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}