{% extends "layout.html" %}
{% set version = "feature/SAND/audit" %}
{% set pageTitle = "Confirm changes" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Unique learner number
				</dt>
				<dd class="govuk-summary-list__value">
					5320150775
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Date of birth
				</dt>
				<dd class="govuk-summary-list__value">
					1 Jan 2000
				</dd>
			</div>
		</dl>



		<table class="govuk-table govuk-!-margin-top-9">
			<caption class="govuk-table__caption govuk-table__caption--m">Proposed changes</caption>
			<thead>
				<tr>
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header govuk-table__header--numeric">Current</th>
					<th scope="col" class="govuk-table__header govuk-table__header--numeric">Changed to</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
					<td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">£1,500</td>
				</tr>
			</tbody>
		</table>


		<form method="post" action="/{{version}}/action/details-of-mismatch">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group  ">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							Do you want to make these changes?
						</legend>
						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="confirmation" name="confirmation" type="radio"
									value="yes" data-aria-controls="confirmation-reason">
								<label class="govuk-label govuk-radios__label" for="yes">
									Yes, change these details
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
								id="confirmation-reason">
								<div class="govuk-form-group">
									<label class="govuk-label" for="more-detail">
										Reason for change
									</label>
									<div id="more-detail-hint" class="govuk-hint">
										Provide a summary of why this change has been requested
									</div>
									<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
										aria-describedby="more-detail-hint"></textarea>
								</div>
							</div>
							<div class="govuk-radios__item">
								<input value="no" type="radio" class="govuk-radios__input" id="confirmation-2"
									name="confirmation">
								<label class="govuk-label govuk-radios__label" for="SubmitStatusViewModel-None">
									No, don't change these
								</label>
							</div>
						</div>

					</fieldset>
				</div>

				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
				</button>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}