{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "Do you want to freeze training provider payments?" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="break-freeze" method="post" novalidate">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to freeze training provider payments?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Only use this if you have a dispute with the training provider and need to freeze training provider
            payments.
            <br>
            The learner status will not be changed.
            If you need to change learner status, contact the training provider</a>.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="freeze" name="freeze" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes, freeze future payments
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="freeze" name="freeze" type="radio" value="no"
                data-aria-controls="conditional-freeze-no">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>


  </div>
</div>



</div>



</div>







</form>
</div>

</div>

{% endblock %}