{% extends "layouts/main.html" %}
{% set pageTitle = "Functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add a new apprentice</h1>
        <h2 class="govuk-heading-m">Choose an employer</h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="add/select-employer"
                        aria-describedby="before-you-start-1-status">
                        Choose an employer
                    </a>
                </div>
                <div class="govuk-task-list__status" id="before-you-start-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Not yet started
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <div>Select standard</div>
                    <div id="application-details-3-hint" class="govuk-task-list__hint">
                        An employer must be selected first
                    </div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                    id="before-you-start-2-status ">
                    Cannot start yet
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Apprentice details</h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
                        href="add/apprentice-personal-details" aria-describedby="prepare-application-1-status">
                        Apprentice personal details
                    </a>
                </div>
                <div class="govuk-task-list__status" id="prepare-application-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Not yet started
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Training details</h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <div>Training dates</div>
                    <div id="application-details-3-hint" class="govuk-task-list__hint">
                        An standard must be selected first
                    </div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                    id="application-details-3-hint">
                    Cannot start yet
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="add/apprentice-price"
                        aria-describedby="prepare-application-3-status">
                        Training price
                    </a>
                </div>
                <div class="govuk-task-list__status" id="prepare-application-3-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Not yet started
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
                        href="add/recognise-prior-learning" aria-describedby="prepare-application-4-status">
                        Recognition of prior learning
                    </a>
                </div>
                <div class="govuk-task-list__status" id="prepare-application-4-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Not yet started
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <div>Functional skills</div>
                    <div id="application-details-5-hint" class="govuk-task-list__hint">
                        An standard must be selected first
                    </div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                    id="application-details-5-hint">
                    Cannot start yet
                </div>
            </li>
        </ul>


        <p class="govuk-body">You can only receive payments for this apprentice once:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>all the fields have been completed - either by yourself or the employer</li>
            <li>the data matches the individual learner record (ILR) data you send us</li>
        </ul>


        <div class="govuk-button-group">
            <a href="add/approve-details" role="button" draggable="false" class="govuk-button"
                data-module="govuk-button">
                Add to cohort
            </a>
        </div>
    </div>
</div>

{% endblock %}