{% extends "layout.html" %}
{% set version = "feature/COP/v3/training-provider" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Total training price</h1>
    <p class="govuk-body">
      The total training price is the cost for the delivery of the apprenticeship programme and should not include the
      cost for the end point assessment.
    </p>
    <p class="govuk-body">
      The current total training price is £6,000.
    </p>

    <form action="reason-for-update" method="post" novalidate class="govuk-!-margin-top-7">
      <div class=" govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is the new total training price?
          </legend>

          <div id="apprenticeship-price-hint" class="govuk-hint">
            The total price should not include VAT
          </div>

          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="apprenticeship-price" name="apprenticeship-price"
              type="text" aria-describedby="apprenticeship-price-hint" value="7000">
          </div>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>



  </div>
</div>



{% endblock %}