{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-two-thirds">

        <form action="b-01-apprentice-details-reume-confirmed" method="post" novalidate class="govuk-!-margin-top-7">
            
            

            <form method="post">
            

                <h1 class="govuk-heading-xl">Do you want to resume this apprenticeship?</h1>
    
                <p class="govuk-body">
                    You’re about to resume this apprenticeship and any payments you've authorised to their training provider.
                </p>
    
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Name </dt>
                        <dd class="govuk-summary-list__value"> George Ford</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Unique learner number </dt>
                        <dd class="govuk-summary-list__value"> 7922744136</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
                        <dd class="govuk-summary-list__value"> Abattoir worker, Level: 2</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Pause date </dt>
                        <dd class="govuk-summary-list__value"> 11 Oct 2023 </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Resume date </dt>
                        <dd class="govuk-summary-list__value"> 11 Oct 2023 </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Reason for resume </dt>
                        <dd class="govuk-summary-list__value">  {{ data['reason-for-resume'] }} </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="break-tp">
                              Change<span class="govuk-visually-hidden"> reason for resume</span>
                            </a>
                          </dd>
                    </div>
                </dl>
                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
     <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ResumeConfirmed" name="ResumeConfirmed" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="ResumeConfirmed">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ResumeConfirmed-no" name="ResumeConfirmed" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="ResumeConfirmed-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
    
                <button class="govuk-button" type="submit" id="submit-status-change">Save and confirm</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MV6lQIUbmFKkKXw6jyZla3c7VaZ-RTWoc_qR3nOECCFQKzFgnZym6oDp9BJG5Iov7OihGD8D-jvZDUgOyRHxj23km2SPVBnONeicEVZie1fzHcKCVVIutRTRMw6PczhM74NaNkQWiqfPrVLkFYVM5bN-rfx4UEGlc5ctZwHnzjJB4nkXxaAT-38dKTmsx4Egg" />
    
        </form>
    
        
    

              
          </div>

            
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}