{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-two-thirds">

        <form action="change-status" method="post" novalidate class="govuk-!-margin-top-7"></form>
		<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Change status
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Select one option.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Pause 
                  </label>

                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Pause an apprenticeship to 
                    <ul class="govuk-list govuk-list--bullet">
                        <li>record a break in learning as agreed with the training provider</li>
                        <li>freeze future payments to a training provider for a period of time</li>
                    
                      </ul>
                    
                    

                  </div>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                        Speicfy reason to pause this apprenticeship 
                    </label>
                    

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group">
                         
                          <div id="with-hint-hint" class="govuk-hint">
                            Training provider will be notified about satus change through an email
                          </div>
                          <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="3" aria-describedby="with-hint-info with-hint-hint"></textarea>
                        </div>
                        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                          You can enter up to 200 characters
                        </div>
                      </div>


                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    Stop
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Stop an apprenticeship to 
                    <ul class="govuk-list govuk-list--bullet">
                        <li>rchange your training provider during the lifetime of a course</li>
                        <li>cancel all future payments</li>
                    
                      </ul>
                    
                    
                   

                  </div>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                          <span class="govuk-warning-text__assistive">Warning</span>
                          You do not need to stop an apprenticeship after the training has ended. If you do, this will prevent the completion payment due to your training provider. Contact your training provider.
                        </strong>
                      </div>
                    
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend">
                            Why do you want to stop this apprenticeship?
                          </legend>
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Apprentice left my employment
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                Change to training provider
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                                Apprenticeship training has ended
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                Apprentice has withdrawn from training
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                    Training provider request to correct apprenticeship record
                                </label>
                              </div>
                          </div>
                          <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                            Apprenticeship never started
                          </label>
                        </div>
                    </div>
                        </fieldset>
                      </div>


                  </div>
                </div>
                <div class="govuk-radios__item" style="display: none;">
                  <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                   End this apprenticeship
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      Speicfy reason to end this apprenticeship
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                  </div>
                </div>
              </div>
            </fieldset>

            
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
	</div>

</div>

{% endblock %}