{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">


        

        <form action="b-01-apprentice-details-stop-confirmed-tp-redundant" method="post" novalidate class="govuk-!-margin-top-7">

            {% if  data['redundant'] == "Yes" %}
        {% else %}
    
        <!-- <form action="b-01-apprentice-details-stop-confirmed-tp" method="post" novalidate class="govuk-!-margin-top-7"> -->
     
        {% endif %}

       
            
            

                <h1 class="govuk-heading-l">Check your answers and confirm status change to "Made redundant</h1>
    
                <!-- <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      This apprenticeship record cannot be restarted once withdrawn.
                    </strong>
                  </div> -->

                
                <dl class="govuk-summary-list">
                    <!-- <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Name </dt>
                        <dd class="govuk-summary-list__value"> George Ford</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Unique learner number </dt>
                        <dd class="govuk-summary-list__value"> 7922744136</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
                        <dd class="govuk-summary-list__value"> Abattoir worker, Level: 2</dd>
                    </div> -->

                    <!-- <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Reason  </dt>
                        <dd class="govuk-summary-list__value"> {{ data['reason-for-stop-tp'] }}  </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="break-tp">
                              Change<span class="govuk-visually-hidden">  date</span>
                            </a>
                          </dd>
                    
                    </div> -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Redundancy date </dt>
                        <dd class="govuk-summary-list__value"> 
                            
                   <!-- {{ data['stop-day'] }} {{ data['stop-month'] }} {{ data['stop-year'] }}  -->

                   {% if data['stop-month'] == "1" or
                            data['stop-month']
                            == "01" %}
                            {{ data['stop-day'] }} January {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "2" or
                            data['stop-month'] == "02" %}
                            {{ data['stop-day'] }} February {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "3" or
                            data['stop-month'] == "03" %}
                            {{ data['stop-day'] }} March {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "4" or
                            data['stop-month'] == "04" %}
                            {{ data['stop-day'] }} April {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "5" or
                            data['stop-month'] == "05" %}
                            {{ data['stop-day'] }} May {{ data['stop-year'] }}
                            {% elseif data['pause-month'] == "6" or
                            data['stop-month'] == "06" %}
                            {{ data['stop-day'] }} June {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "7" or
                            data['stop-month'] == "07" %}
                            {{ data['stop-day'] }} July {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "8" or
                            data['stop-month'] == "08" %}
                            {{ data['stop-day'] }} August {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "9" or
                            data['stop-month'] == "09" %}
                            {{ data['stop-day'] }} September {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "10" %}
                            {{ data['stop-day'] }} October {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "11" %}
                            {{ data['stop-day'] }} November {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "12" %}
                            {{ data['stop-day'] }} December {{ data['stop-year'] }}
                            {% else %}
                            10 January 2024
                            {% endif %}
                        
                        
                        
                        
                        
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="-stop-date-tp">
                              Change<span class="govuk-visually-hidden">  date</span>
                            </a>
                          </dd>
                    
                    </div>
                    <!-- <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Made redundant </dt>
                        <dd class="govuk-summary-list__value"> {{ data['redundant'] or
                            'Yes'}} </dd>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="-stop-made-redundant-tp">
                                  Change<span class="govuk-visually-hidden">  date</span>
                                </a>
                              </dd>
                    </div> -->
    
                </dl>
    
                <div class="govuk-form-group " style="display:none">
                    <fieldset class="govuk-fieldset">
     <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="PauseConfirmed" name="PauseConfirmed" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="PauseConfirmed">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="PauseConfirmed-no" name="PauseConfirmed" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="PauseConfirmed-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" type="submit" id="submit-status-change">Confirm changes </button> 
    
                    <a class="govuk-link" href="b-01-apprentice-details" >Cancel and return</a>
                    </div>
    
                <!-- <button class="govuk-button" type="submit" id="submit-status-change">Save and confirm</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MV6lQIUbmFKkKXw6jyZla1acDyPuQBSfqTFyjyoX72U_Hoc2zG36lsqNCWv-v9IibVtRJLguFiZ6GqFbW0SZyoWnxAsjN6XB-YzTkSeDFAsYfow1TZQq6shHq6EWsuq0ZlqBsNJNSYKYOnXoG7bF9dtBabeOqOJ76MK7Xuat4I0ytFxwpZA8l9-cNyAWQoRmQ" /> -->
        </form>
    
        
    

              
          </div>

            
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}