{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="b-01-apprentice-details-resume-confirmed-tp" method="post" novalidate class="govuk-!-margin-top-7">
            
            

            <form method="post">
            

                <h1 class="govuk-heading-l">Check your answers and confirm that the learner status has changed t    o "In learning".</h1>
    
                <p class="govuk-body">
                    You’re about to set the  status to "In learning" and resume payments.
                </p>
    
                <dl class="govuk-summary-list">
                    <!-- <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Name </dt>
                        <dd class="govuk-summary-list__value"> George Ford</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Unique learner number </dt>
                        <dd class="govuk-summary-list__value"> 7922744136</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
                        <dd class="govuk-summary-list__value"> Abattoir worker, Level: 2</dd>
                    </div> -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">  BIL date </dt>
                        <dd class="govuk-summary-list__value"> 10 January 2024 </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Return to learning date </dt>
                        <dd class="govuk-summary-list__value">
                            


                            <!-- {{ data['resume-day'] or '24'}} -->

					{% if data['resume-month'] == "1" or
					data['resume-month']
					== "01" %}
					{{ data['resume-day'] }} January {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "2" or
					data['resume-month'] == "02" %}
					{{ data['resume-day'] }} February {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "3" or
					data['resume-month'] == "03" %}
					{{ data['resume-day'] }} March {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "4" or
					data['resume-month'] == "04" %}
					{{ data['resume-day'] }} April {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "5" or
					data['resume-month'] == "05" %}
					{{ data['resume-day'] }} May {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "6" or
					data['resume-month'] == "06" %}
					{{ data['resume-day'] }} June {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "7" or
					data['resume-month'] == "07" %}
					{{ data['resume-day'] }} July {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "8" or
					data['resume-month'] == "08" %}
					{{ data['resume-day'] }} August {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "9" or
					data['resume-month'] == "09" %}
					{{ data['resume-day'] }} September {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "10" %}
					{{ data['resume-day'] }} October {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "11" %}
					{{ data['resume-day'] }} November {{ data['resume-year'] }}
					{% elseif data['resume-month'] == "12" %}
					{{ data['resume-day'] }} December {{ data['resume-year'] }}
					{% else %}
					10 March 2024
					{% endif %}

					<!-- {{ data['resume-year'] or '2023'}} -->
                           
                    
                            <!-- {{ data['resume-day'] }} {{ data['resume-month'] }} {{ data['resume-year'] }} </dd> -->
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="-resume-date-tp">
                              Change<span class="govuk-visually-hidden"> resume date</span>
                            </a>
                          </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Planned training end date </dt>
                        <dd class="govuk-summary-list__value">
                            


                            <!-- {{ data['resume-day'] or '24'}} -->

					{% if data['planned-end-month-tp'] == "1" or
					data['planned-end-month-tp']
					== "01" %}
					{{ data['planned-end-day-tp'] }} January {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "2" or
					data['planned-end-month-tp'] == "02" %}
					{{ data['planned-end-day-tp'] }} February {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "3" or
					data['planned-end-month-tp'] == "03" %}
					{{ data['planned-end-day-tp'] }} March {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "4" or
					data['planned-end-month-tp'] == "04" %}
					{{ data['planned-end-day-tp'] }} April {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "5" or
					data['planned-end-month-tp'] == "05" %}
					{{ data['planned-end-day-tp'] }} May {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "6" or
					data['planned-end-month-tp'] == "06" %}
					{{ data['planned-end-day-tp'] }} June {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "7" or
					data['planned-end-month-tp'] == "07" %}
					{{ data['planned-end-day-tp'] }} July {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "8" or
					data['planned-end-month-tp'] == "08" %}
					{{ data['planned-end-day-tp'] }} August {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "9" or
					data['planned-end-month-tp'] == "09" %}
					{{ data['planned-end-day-tp'] }} September {{ data['planned-end-year-tp'] }}
					{% elseif data['rplanned-end-month-tp'] == "10" %}
					{{ data['planned-end-day-tp'] }} October {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "11" %}
					{{ data['planned-end-day-tp'] }} November {{ data['planned-end-year-tp'] }}
					{% elseif data['planned-end-month-tp'] == "12" %}
					{{ data['planned-end-day-tp'] }} December {{ data['planned-end-year-tp'] }}
					{% else %}
					10 January 2025
					{% endif %}

					<!-- {{ data['resume-year'] or '2023'}} -->
                           
                    
                            <!-- {{ data['resume-day'] }} {{ data['resume-month'] }} {{ data['resume-year'] }} </dd> -->
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="-resume-date-e-planned-end-date-1-tp">
                              Change<span class="govuk-visually-hidden"> resume date</span>
                            </a>
                          </dd>
                    </div>
                    <div class="govuk-summary-list__row" style="display:none">
                        <dt class="govuk-summary-list__key"> Reason for resume </dt>
                        <dd class="govuk-summary-list__value">  {{ data['reason-for-resume'] }} </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="-break-change-status-resume-tp">
                              Change<span class="govuk-visually-hidden"> reason for resume</span>
                            </a>
                          </dd>
                    </div>
                </dl>
                <div class="govuk-form-group " style="display: none;">
                    <fieldset class="govuk-fieldset">
     <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ResumeConfirmed" name="ResumeConfirmed" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="ResumeConfirmed">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ResumeConfirmed-no" name="ResumeConfirmed" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="ResumeConfirmed-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" type="submit" id="submit-status-change">Confirm changes </button> 
    
                    <a class="govuk-link" href="01-apprentice-details-p" >Cancel and return</a>
                    </div>
    
                <!-- <button class="govuk-button" type="submit" id="submit-status-change">Save and confirm</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MV6lQIUbmFKkKXw6jyZla3c7VaZ-RTWoc_qR3nOECCFQKzFgnZym6oDp9BJG5Iov7OihGD8D-jvZDUgOyRHxj23km2SPVBnONeicEVZie1fzHcKCVVIutRTRMw6PczhM74NaNkQWiqfPrVLkFYVM5bN-rfx4UEGlc5ctZwHnzjJB4nkXxaAT-38dKTmsx4Egg" /> -->
    
        </form>
    
        
    

              
          </div>

            
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}