{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="-break-pause-confirm" method="post" novalidate class="govuk-!-margin-top-7">
		

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        When do you want the pause to effect from?
                    </h1>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    <!-- The earliest date you can enter is this apprenticeship's start date of 10 July 2023. Any outstanding payments will be made for activity up to this date. -->
                    
                    For example, 27 3 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="pause-day" value="{{ data['pause-day']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="pause-month" value="{{ data['pause-month']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="pause-year" value="{{ data['pause-year']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}