{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="-confirm-change-start-date-e" method="post" novalidate class="govuk-!-margin-top-7">
		

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Review and confirm the planned training end date
                    </h1>
                  </legend>

                  <p class="govuk-inset-text" style="font-weight: bold;">The old planned training end date was 25 8 2024. Due to the change of start date the planned training end date needs to be on or after 25 10 2024.</p>
                  <div id="passport-issued-hint" class="govuk-hint">

                    When a new training start date is entered a new training end date is calculated to ensure the apprenticeship meets the minimum duration. You can confirm the new planned training end date or change it here.

                     <!-- When a new training start date is entered a new system generated training end date is calculated. You can confirm the new planned training date or you can change it here. -->
                    <!-- When a new training start date is entered a new system generated training end date is calculated. You can review and confirm the new planned training end date is correct or you can change it here.  -->

                     <!-- Review and confirm that the new planned end date shown is correct.
                    <br> If the system generated end date is incorrect, you can change it here. <br> The planned end date needs to be on or after 25 10 2024. -->
                  </div>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        
                      </legend> -->
                      <!-- <div id="contact-hint" class="govuk-hint">
                        Select one option.
                      </div> -->
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                          <label class="govuk-label govuk-radios__label" for="contact">
                           Confirm new planned traning date as 25 10 2024
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="contact-by-email">
                              Email address
                            </label>
                            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                          </div>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                           Enter a new planned training end date
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="contact-by-phone">
                             <!-- Enter new date -->
                             The planned training end date needs to be on or after 25 10 2024.
                            </label>
                            <!-- start date feild -->
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                      Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="planned-end-day-tp-start" value="{{ data['planned-end-day-tp-start']}}" type="text" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                      Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="planned-end-month-tp-start" value="{{ data['planned-end-month-tp-start']}}" type="text" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                      Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="planned-end-year-tp-start" value="{{ data['planned-end-year-tp-start']}}" type="text" inputmode="numeric">
                                  </div>
                                </div>
                              </div>

                            <!-- end date feild  -->
                           
                          </div>
                        </div>
                       
                        
                      </div>
                    </fieldset>
                  </div>



                  



                </fieldset>
              </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}