{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="-break-stop-confirm-tp" method="post" novalidate class="govuk-!-margin-top-7">
		

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      <!-- Do you want to allow training provider to be able to change apprentice status? -->

                      <!-- Do you want give training provider the option to change apprentice status? -->
                      Has the apprentice been made redundant?
                    </h1>
                  </legend>
                  <!-- <div id="changedName-hint" class="govuk-hint">
                    You will be notified via email when a training provide changes the status.
                  </div> -->
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="redundant" type="radio" value="Yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="redundant" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

          <button class="govuk-button" data-module="govuk-button">
            Save & continue
          </button>
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}