{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
				Apprenticeship status changed to unemployed - made redundant
            </h1>
            
          </div>

		<h2 class="govuk-heading-l">{{pageTitle}}</h2>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Overview
					</a>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<h2 class="govuk-heading-m">Apprentice status</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Learner status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--red"> Unemployed - made redundant</strong>
						</dd>
                        <dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="break-tp">
								Change<span class="govuk-visually-hidden"> status</span>
							</a>
						</dd>
					</div>
                    <!-- <div class="govuk-summary-list__row" >
						<dt class="govuk-summary-list__key">
							Allow training provide to change status
						</dt>
						<dd class="govuk-summary-list__value">
							Yes
						</dd>
                        <dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="-break-allow-status-change">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a>
						</dd>
					</div> -->
					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Stop applies from
						</dt>
						<dd class="govuk-summary-list__value">
							May 2021
						</dd>
					</div> -->

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Provider payments status
						</dt>
						<dd class="govuk-summary-list__value">
							
								
                            <strong class="govuk-tag govuk-tag--blue"> Active till 14 May 2024 </strong>

                            <br> 
                            As the apprentice has more than 6 months or has not completed at least 75% of their apprenticeship we will fund 100% for this apprentice up to the latest total price or the funding band maximum if lower, for up to 12 weeks or until they resume their apprenticeship with another employer.

							<!-- We will fund this apprentice through 100% government co-investment up to the latest total price in place when the apprentice became unemployed, or up to the funding band maximum. This applies for up to 12 weeks or until they resume their apprenticeship with another employer. -->
							<!-- Since the apprentice is within six months OR they have completed at least 75% of the apprenticeship practical period specified in the apprenticeship agreement: We will fund 100% of the remaining costs of the total price, up to the funding band maximum. -->
                            




                            <br> <a href="https://www.gov.uk/guidance/redundancy-support-for-apprentices" target="_blank">  Read about redundancy support for apprentices</a>
                            


								
								<!-- {% if  data['stoptp'] %}
							
				  
								{% if  data['stoptp'] == "continuing" %}
								<strong class="govuk-tag govuk-tag--blue">Active</strong>

								{% else %}

								{% endif %}

								{% if  data['stoptp'] == "yes" %}
								<strong class="govuk-tag govuk-tag--red">Inactive</strong>

								{% else %}

								{% endif %}

								{% if  data['stoptp'] == "no" %}

								<strong class="govuk-tag govuk-tag--red">Active till 10 April 2024</strong>
								

								{% else %}

								{% endif %}

								
								{% else %}
								<strong class="govuk-tag govuk-tag--blue">Active</strong>
								{% endif %}
				 -->
							
							
						</dd>

                        <dd class="govuk-summary-list__actions">
							<!-- <a class="govuk-link" href="break-tp">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a> -->
						</dd>
					</div>
					<div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"> Redundancy date </dt>
                        <dd class="govuk-summary-list__value"> 
                            
                   <!-- {{ data['stop-day'] }} {{ data['stop-month'] }} {{ data['stop-year'] }}  -->

                   {% if data['stop-month'] == "1" or
                            data['stop-month']
                            == "01" %}
                            {{ data['stop-day'] }} January {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "2" or
                            data['stop-month'] == "02" %}
                            {{ data['stop-day'] }} February {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "3" or
                            data['stop-month'] == "03" %}
                            {{ data['stop-day'] }} March {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "4" or
                            data['stop-month'] == "04" %}
                            {{ data['stop-day'] }} April {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "5" or
                            data['stop-month'] == "05" %}
                            {{ data['stop-day'] }} May {{ data['stop-year'] }}
                            {% elseif data['pause-month'] == "6" or
                            data['stop-month'] == "06" %}
                            {{ data['stop-day'] }} June {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "7" or
                            data['stop-month'] == "07" %}
                            {{ data['stop-day'] }} July {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "8" or
                            data['stop-month'] == "08" %}
                            {{ data['stop-day'] }} August {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "9" or
                            data['stop-month'] == "09" %}
                            {{ data['stop-day'] }} September {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "10" %}
                            {{ data['stop-day'] }} October {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "11" %}
                            {{ data['stop-day'] }} November {{ data['stop-year'] }}
                            {% elseif data['stop-month'] == "12" %}
                            {{ data['stop-day'] }} December {{ data['stop-year'] }}
                            {% else %}
                            10 January 2024
                            {% endif %}
                        
                        
                        
                        
                        
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="-stop-date-tp-redundant">
                              Change<span class="govuk-visually-hidden">  date</span>
                            </a>
                          </dd>
                    
                    </div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							Confirmed
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Overview</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Employer
						</dt>
						<dd class="govuk-summary-list__value">
							AUTOMATION (ENGLAND) LIMITED
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="change-of-employer.html">
								Change<span class="govuk-visually-hidden"> emplpyer</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Cohort Reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
				</dl>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Apprentice details</h2>
					</div>
				</div>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com<br>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Resend invitation<span class="govuk-visually-hidden">Resend invitation email to
									apprentice</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 January 2000
						</dd>
					</div>

				</dl>
				<h2 class="govuk-heading-m">Course</h2>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Apprenticeship training course
						</dt>
						<dd class="govuk-summary-list__value">
							Abattoir Worker, Level: 2 (Standard)
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Version
						</dt>
						<dd class="govuk-summary-list__value">
							1.0
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Actual training start date
						</dt>
						<dd class="govuk-summary-list__value">
							1 August 2023
						</dd>
<dd class="govuk-summary-list__actions">
	<a class="govuk-link" href="#">
		Change<span class="govuk-visually-hidden">training start date</span>
	</a>
</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Planned training end date
						</dt>
						<dd class="govuk-summary-list__value">
							3 July 2024
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Total agreed apprenticeship price
						</dt>
						<dd class="govuk-summary-list__value">
							£8,500
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="b-02-update-price">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Nothing provided
						</dd>
					</div>

				</dl>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<!-- <li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Change
								requested</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
								2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£1,234</b>
							</p>
						</div>
					</li> -->
                    <li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship 
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">withdrawn</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">14 November 2023</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Reason for withdrawing the apprenticeship: Apprentice left employment 
								
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Changed
											</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">14 November
												2023</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>

					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£6,000</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15">28 June
							2020</time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">23 June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>

						</div>
					</li>
				</ol>
			</div>

		</div>
	</div>
</div>

{% endblock %}