{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    

	<div class="govuk-grid-column-full">

        <form action="break-freeze" method="post" novalidate class="govuk-!-margin-top-7">
		<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you want to freeze training provider payments?
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Only use this if you have a dispute with the training provider and need to freeze training provider payments.
                <br> 

               The learner status will not be changed. 
                  If you need to change learner status, contact the training provider</a>. 
                  
                <!-- The apprentice status will not get affected. break in learning or to withdrawn-->
               <!-- Change payment status if you need to freeze payments going to training provider.  -->
              </div>

      

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="freeze" name="freeze" type="radio" value="yes" data-aria-controls="conditional-freeze" {{ checked('freeze','yes') }} >
                  <label class="govuk-label govuk-radios__label" for="contact">
                  Yes, freeze future payments
                  </label>

                  
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-freeze">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                        Specify reason to freeze training provider payments. (Optional)
                    </label>
                    <div id="with-hint-hint" class="govuk-hint">
                      Training provider will be notified about the change.
                    </div>
                    

                   

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group">
                         
                          
                          <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="reason-for-freeze" rows="3" aria-describedby="with-hint-info with-hint-hint">{{ data['reason-for-freeze'] }}</textarea>
                        </div>
                        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                          You can enter up to 400 characters
                        </div>
                      </div>


                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="freeze" name="freeze" type="radio" value="no" data-aria-controls="conditional-freeze-no" {{ checked('freeze','no') }}>
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                   No
                  </label>
                 
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                          <span class="govuk-warning-text__assistive">Warning</span>
                          You do not need to stop payments after the training has been completed. If you do, this will prevent the completion payment due to your training provider. 
                        </strong>
                      </div>
                    
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend">
                            Why do you want to stop payments?
                          </legend>
                          <div id="with-hint-hint" class="govuk-hint">
                            Training provider will be notified about the change via email
                          </div>
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive" name="reason-for-stop" type="radio" value="apprentice-left"  {{ checked('reason-for-stop','apprentice-left') }}>
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Apprentice left my employment
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-2" name="reason-for-stop" type="radio" value="change-to-training-provider" {{ checked('reason-for-stop','change-to-training-provider') }}>
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                Change to training provider
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-3" name="reason-for-stop" type="radio" value="training-ended" {{ checked('reason-for-stop','training-ended') }}>
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                                Apprenticeship training has ended
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-4" name="reason-for-stop" type="radio" value="apprentice-withdraw" {{ checked('reason-for-stop','apprentice-withdraw') }}>
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                Apprentice has withdrawn from training
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-4" name="reason-for-stop" type="radio" value="record-change"  {{ checked('reason-for-stop','record-change') }}>
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                    Training provider request to correct apprenticeship record
                                </label>
                              </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-4" name="reason-for-stop" type="radio" value="apprenticeship-never-started" {{ checked('reason-for-stop','apprenticeship-never-started') }}>
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                   Apprenticeship never started
                                </label>
                              </div>

                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-4" name="reason-for-stop" type="radio" value="others" data-aria-controls="conditional-others-stop" {{ checked('reason-for-stop','others') }}>
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                  Other reason
                                </label>
                              </div>
                              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-others-stop">
                                <div class="govuk-form-group">
                                  <label class="govuk-label" for="contact-by-email">
                                 Specify other reason. 
                                 <!-- Keep it brief. -->
                                  </label>
                                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                                </div>
                              </div>


                          </div>
                          
                    </div>
                    
                        </fieldset>
                        <br> 
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                          </button>
                      </div>


                  </div>
                </div>
                
                
                
              </div>


              
          </div>

            
            

            
           
          
        </form>
	</div>

</div>

{% endblock %}