{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop/training-provider" %}
{% set pageTitle = "Moving to a new employer" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>


        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
             <!-- After the apprentice is moved to the new employer 
             the  -->
             Apprenticeship record with the previous employer will be stopped and the pervious employer willl receive a notification that this record will be stopped on their apprenticeship service account.
            </strong>
          </div>
       
       
       
        <p class="govuk-body">If an apprentice you are training has moved to a new employer you should:</p>
        <ol class="govuk-list govuk-list--number">
            <!-- <li>Contact the previous employer to let them know that the record will be stopped on their apprenticeship service account.</li> -->
            <li>Speak to the new employer to agree new training dates and price.</li>
            <li>Ask the new employer to give you permissions to move the apprentice to their apprenticeship service account.</li>
          </ol>
          <p class="govuk-body"> Once you have agreed these details you can continue to change the employer.</p>

 <p class="govuk-body"> It is important that you check that the apprentices’ details are correct before this action is taken.</p>
		
 <a href="https://das-employer-prototype.herokuapp.com/training-provider/v1/change-employer/select-employer" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    <!-- Stop record with pervious employer and continue -->

    Continue
</a>

<br> 

<a href=" 01-apprentice-details" rdraggable="false" class="govuk-link">
    Cancel and return to account home
</a>
 
	</div>
</div>

{% endblock %}