{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "Chaning training provider" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Apprenticeship record with the current training provider will be stopped.
            </strong>
          </div>
       
       
        <p class="govuk-body">Before you request this change, you must contact the new training provider to agree the new training dates and price.</p>
        <p class="govuk-body">You should only change your apprentice's training provider if:</p>
        <ol class="govuk-list govuk-list--bullet">
            <li>you're not happy with their performance</li>
            <li>they've stopped delivering the apprentice's training course</li>
            <li>they're shutting down or have already shut down</li>
          </ol>
          <p class="govuk-body"> Once you have agreed these details you can continue to change the employer.</p>

 <p class="govuk-body"> It is important that you check that the apprentices’ details are correct before this action is taken.</p>
		
 <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
</a>

<br> 

<a href="b-01-apprentice-details" rdraggable="false" class="govuk-link">
    Cancel and return to account home
</a>
 
	</div>
</div>

{% endblock %}