{% extends "layouts/main.html" %}
{% set version = "feature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">
		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-notification-banner__heading">
					The training provider has put this apprentice on a break in learning (BIL) <br> on 10 January 2024
				<ul class="govuk-list govuk-list--bullet-">
					<li>
						Reason for break in learning: Maternity leave
					</li>
				</ul>

                <!-- <a href="#price-change">View change request</a> -->
				</p>
			</div>
		</div>

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Overview
					</a>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<h2 class="govuk-heading-m">Apprentice status</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row" style="margin: 10px 0 20px 0;  border-left: 5px solid #1d70b8; padding:10px 10px ;">
						<dt class="govuk-summary-list__key" style="padding-left:20px !important;">
							 Learner status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--red">Break in learning</strong>
						</dd>

						<dd class="govuk-summary-list__value" style="width: 370px; text-align: right;">
							
							Contact training provider to change this 
					
						</dd>
						<!-- <dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="break-e">
								Change<span class="govuk-visually-hidden"> total status</span>
							</a>
						</dd>  -->
					</div>
					<div class="govuk-summary-list__row" style="margin: 10px 0 20px 0;  border-left: 5px solid #1d70b8; padding:10px 10px ;">
						<dt class="govuk-summary-list__key" style="padding-left:20px !important;">
							 Provider payment status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--red">Inactive</strong>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="break">
								Change<span class="govuk-visually-hidden"> total status</span>
							</a>
						</dd> 
					</div>


					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Stop applies from
						</dt>
						<dd class="govuk-summary-list__value">
							May 2021
						</dd>
					</div> -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							Confirmed
						</dd>
					</div>
				</dl>
				<h2 class="govuk-heading-m">Overview</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Training provider
						</dt>
						<dd class="govuk-summary-list__value">
							EDUC8 TRAINING (ENGLAND) LIMITED
						</dd>

						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="break-e">
								Change<span class="govuk-visually-hidden"> training provider</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Cohort Reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
				</dl>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Apprentice details</h2>
					</div>
				</div>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com<br>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Resend invitation<span class="govuk-visually-hidden">Resend invitation email to
									apprentice</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 January 2000
						</dd>
					</div>

				</dl>
				<h2 class="govuk-heading-m">Course</h2>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Apprenticeship training course
						</dt>
						<dd class="govuk-summary-list__value">
							Abattoir Worker, Level: 2 (Standard)
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Version
						</dt>
						<dd class="govuk-summary-list__value">
							1.0
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Actual training start date
						</dt>
						<dd class="govuk-summary-list__value">
							1 August 2023
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Planned training end date
						</dt>
						<dd class="govuk-summary-list__value">
							3 July 2024
						</dd>
					</div>

                    <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Total agreed apprenticeship price
						</dt>
						<dd class="govuk-summary-list__value">
							£9,000
						</dd>

                        <dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="b-02-update-price">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a>
						</dd>
					</div>
					

					



					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Nothing provided
						</dd>
					</div>

				</dl>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<!-- <li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--yellow">Change
								requested</strong> by
							EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
								2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£1,234</b>
							</p>
						</div>
					</li> -->
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£6,000</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15">28 June
							2020</time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">23 June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>

						</div>
					</li>
				</ol>
			</div>

		</div>
	</div>
</div>

{% endblock %}