{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/cop" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Change of price demo - Trainig provider requests change</h2>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m"><a href="01-apprentice-details"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Training provider
                        account</a></h3>
                <p class="govuk-body">Training provide requests change of price</p>
                <a href="01-apprentice-details" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">View training provider prototype</a>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m"><a href="e-1-manage"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Employer account</a>
                </h3>
                <p class="govuk-body">Employer reviews change</p>
                <a href="e-1-manage" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">View
                    employer prototype</a>
            </div>
        </div>


    </div>


    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Change of price demo - Employer requests change</h2>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m"><a href="c-01-apprentice-details"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Training provider
                        account</a></h3>
                <p class="govuk-body">Training provide requests change of price</p>
                <a href="c-01-apprentice-details" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">View training provider prototype</a>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m"><a href="b-01-apprentice-details"
                        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Employer account</a>
                </h3>
                <p class="govuk-body">Employer reviews change</p>
                <a href="b-01-apprentice-details" class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">View
                    employer prototype</a>
            </div>
        </div>


    </div>


</div>



{% endblock %}