{% extends "layout.html" %}
{% set version = "feature/Change-of-circs/cop/training-provider" %}
{% set pageTitle = "View change request" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<h2 class="govuk-heading-m">Apprenticeship details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Request status
				</dt>
				<dd class="govuk-summary-list__value">
					<strong class="govuk-tag govuk-tag--yellow">Pending employer review</strong>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					George Ford
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Employer
				</dt>
				<dd class="govuk-summary-list__value">
					AUTOMATION & OPTIMISATION LTD
				</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">Price changes you've requested</h2>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">

					</th>
					<th scope="col" class="govuk-table__header app-custom-class">Current</th>
					<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested
					</th>

				</tr>
			</thead>
			<tbody class="govuk-table__body">

				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Training price</th>
					<td class="govuk-table__cell">£6,000</td>
					<td class="govuk-table__cell" id="TrainingPrice">
						£<script>
							function numberWithCommas(x) {
		x = x.toString();
		var pattern = /(-?\d+)(\d{3})/;
		while (pattern.test(x))
			x = x.replace(pattern, "$1,$2");
		return x;
	}
	
	console.log(numberWithCommas(1000))
	var tprice = '{{ data['apprenticeship-training-price']}}';
	
							document.write (numberWithCommas(tprice));
							</script> 
						
						<!-- £{{ data['apprenticeship-training-price'] or '7,000'}} -->
					
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">End-point assessment price</th>
					<td class="govuk-table__cell">£2,500</td>
					<td class="govuk-table__cell" id="EndPointAssessmentPrice">
						£<script>
							function numberWithCommas(x) {
		x = x.toString();
		var pattern = /(-?\d+)(\d{3})/;
		while (pattern.test(x))
			x = x.replace(pattern, "$1,$2");
		return x;
	}
	
	console.log(numberWithCommas(1000))
	var eprice = '{{ data['apprenticeship-epa-price']}}';
	
							document.write (numberWithCommas(eprice));
							</script> 
						
						<!-- £{{ data['apprenticeship-epa-price'] or '2,500'}} -->
					
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Total price</th>
					<td class="govuk-table__cell">£8,500</td>
					<td class="govuk-table__cell">
						£<script>
							var tprice = '{{ data['apprenticeship-training-price']}}';
							var eprice = '{{ data['apprenticeship-epa-price']}}';;

						
							var numOne = parseInt(tprice);
							var numTwo = parseInt(eprice);
							var sum = numOne+numTwo;
							document.write("" + numberWithCommas(sum) );
						  </script>

						
						<!-- {{
						(data['apprenticeship-training-price']|float(format='0,0')
						+
						data['apprenticeship-epa-price']|float(format='0,0')) }}
					</td> -->
				</tr>
			</tbody>
		</table>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Effective from date:
				</dt>
				<dd class="govuk-summary-list__value govuk-!-width-one-quarter">
					{{ data['apprenticeship-price-valid-from-day'] or '24'}}

					{% if data['apprenticeship-price-valid-from-month'] == "1" or
					data['apprenticeship-price-valid-from-month']
					== "01" %}
					{{ data['date-of-birth-day'] }} January {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "2" or
					data['apprenticeship-price-valid-from-month'] == "02" %}
					{{ data['date-of-birth-day'] }} February {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "3" or
					data['apprenticeship-price-valid-from-month'] == "03" %}
					{{ data['date-of-birth-day'] }} March {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "4" or
					data['apprenticeship-price-valid-from-month'] == "04" %}
					{{ data['date-of-birth-day'] }} April {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "5" or
					data['apprenticeship-price-valid-from-month'] == "05" %}
					{{ data['date-of-birth-day'] }} May {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "6" or
					data['apprenticeship-price-valid-from-month'] == "06" %}
					{{ data['date-of-birth-day'] }} June {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "7" or
					data['apprenticeship-price-valid-from-month'] == "07" %}
					{{ data['date-of-birth-day'] }} July {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "8" or
					data['apprenticeship-price-valid-from-month'] == "08" %}
					{{ data['date-of-birth-day'] }} August {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "9" or
					data['apprenticeship-price-valid-from-month'] == "09" %}
					{{ data['date-of-birth-day'] }} September {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "10" %}
					{{ data['date-of-birth-day'] }} October {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "11" %}
					{{ data['date-of-birth-day'] }} November {{ data['date-of-birth-year'] }}
					{% elseif data['apprenticeship-price-valid-from-month'] == "12" %}
					{{ data['date-of-birth-day'] }} December {{ data['date-of-birth-year'] }}
					{% else %}
					August
					{% endif %}

					{{ data['apprenticeship-price-valid-from-year'] or '2023'}}
				</dd>

			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Reason for change:
				</dt>
				<dd class="govuk-summary-list__value govuk-!-width-three-quarters">
					{{ data['reason-for-update'] or
					'The original price was entered incorrectly, this has been confirmed with the employer.'}}
				</dd>
			</div>

		</dl>
		<form method="post" action="/{{version}}/action/view-changes">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							Do you want to cancel this request?
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="withdraw" name="withdraw" type="radio"
									value="yes" data-aria-controls="conditional-withdraw">
								<label class="govuk-label govuk-radios__label" for="withdraw">
									Yes, cancel the request
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
								id="conditional-withdraw">
								<div class="govuk-form-group">
									<label class="govuk-label" for="withdraw-more-details">
										Why do you want to cancel this request?
									</label>
									<textarea class="govuk-textarea" id="withdraw-more-details"
										name="withdraw-more-details" rows="5"></textarea>
								</div>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="withdraw-2" name="withdraw" type="radio"
									value="no">
								<label class="govuk-label govuk-radios__label" for="withdraw-2">
									No, keep the request
								</label>
							</div>

						</div>
					</fieldset>
				</div>
				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
				</button> 
                <h2> View employer journey </h2>
                <a href="index">  Employer journey </a>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}