{% extends "layouts/main.html" %}{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
			aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Success
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h3 class="govuk-notification-banner__heading">
					Request to change the training date sent to employer
				</h3>
				<p class="govuk-body">The employer now needs to approve the planned training end date.
				</p>
				<p class="govuk-body">All other related updates will be pending until these changes have been approved.
				</p>
				<p class="govuk-body"><a href="#" class="govuk-link">View the date change
						you've requested</a></p>
			</div>
		</div>

		<h1 class="govuk-heading-l">{{pageTitle}}</h1>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Overview
					</a>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<h2 class="govuk-heading-m">Apprenticeship status</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Learner status
						</dt>
						<dd class="govuk-summary-list__value">
							{% include "change-of-status/includes/learner-status-tag.html" %}
						</dd>

						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="/change-of-status/training-provider/v5/edit-learner-status">
								Change<span class="govuk-visually-hidden"> apprenticeship status</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Provider payments status
						</dt>
						<dd class="govuk-summary-list__value">
							{% include "change-of-status/includes/payment-status-tag" %}
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							Confirmed
						</dd>
					</div>
				</dl>
				{% if data['government-funded'] == 'Yes (government)' %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<details class="govuk-details govuk-">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									Help with redundanct support for apprentices
								</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body">We have calculated the apprentice had completed at least 75% of
									their training by the date their employement ended. This
									means we will fund 100% of the remaining costs of this apprenticeship up to the
									funding band maximum.</p>
								<p class="govuk-body">With this funding
									you can continue to deliver training so the apprentice can complete their
									apprenticeship, including taking the end-point
									assessment (EPA), without being employed.</p>
							</div>
						</details>
					</div>
				</div>
				{% endif %}

				<h2 class="govuk-heading-m">Overview</h2>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Employer
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['learner-status'] == "redundant" %}
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-1">Made
								redundant
							</strong>
							<br>
							{% endif %}
							AUTOMATION &amp; OPTIMISATION LTD
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="change-of-employer">
								Change<span class="govuk-visually-hidden"> Employer</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Cohort reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Agreement ID
						</dt>
						<dd class="govuk-summary-list__value">
							7GXEKP
						</dd>
					</div>
				</dl>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-m">Apprentice details</h2>
					</div>
				</div>
				<dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com<br>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Resend invitation<span class="govuk-visually-hidden">Resend invitation email to
									apprentice</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 January 2000
						</dd>
					</div>

				</dl>
				<h2 class="govuk-heading-m">Course</h2>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Standard
						</dt>
						<dd class="govuk-summary-list__value">
							Abattoir Worker, Level: 2
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="change-of-course">
								Change<span class="govuk-visually-hidden"> standard</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Version
						</dt>
						<dd class="govuk-summary-list__value">
							1.0
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Training start date
						</dt>
						<dd class="govuk-summary-list__value">
							1 August 2023
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="change-start-date">
								Change<span class="govuk-visually-hidden"> actual training start date</span>
							</a>
						</dd>
					</div>
				</dl>
				<div style="border-left: 5px solid #1d70b8; padding:15px; margin-bottom:20px;">
					<table class="govuk-table">
						<caption class="govuk-table__caption"><strong class="govuk-tag govuk-tag--yellow">Pending
								approval</strong></caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									<span class="govuk-visually-hidden">Apprenticship detail</span>
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Current
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">
									Requested
								</th>
								<td class="govuk-table__cell"><span class="govuk-visually-hidden">Action</span></td>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header">Planned training end date</th>
								<td class="govuk-table__cell">25 June 2024</td>
								<td class="govuk-table__cell">25 October 2025
								</td>
							</tr>
						</tbody>
					</table>
					<a class="govuk-link" href="view-changes">
						View request<span class="govuk-visually-hidden">for change of start date</span>
					</a>
				</div>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Nothing provided
						</dd>
					</div>
				</dl>


				<h2 class="govuk-heading-m">Price</h2>
				<dl class="govuk-summary-list">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Training price
						</dt>
						<dd class="govuk-summary-list__value">
							£6,000
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							End-point assessment price
						</dt>
						<dd class="govuk-summary-list__value">
							£2,500
						</dd>
						<!-- <dd class="govuk-summary-list__actions">
																									<a class="govuk-link" href="update-price">
																										Change<span class="govuk-visually-hidden"> total assessment price</span>
																									</a>
																								</dd> -->
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Total price
						</dt>
						<dd class="govuk-summary-list__value">
							£8,500
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="02-update-price">
								Change<span class="govuk-visually-hidden"> total training price</span>
							</a>
						</dd>
					</div>
				</dl>

			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
				<h2 class="govuk-heading-m">History</h2>
				<ol class="hmrc-timeline">
					<!-- <li class="hmrc-timeline__event">
																<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
																	increase
																</h3>
																<p class="govuk-body govuk-!-margin-bottom-3">
																	<strong class="govuk-tag govuk-tag--yellow">Change
																		requested</strong> by
																	EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
																		2020</time>
																</p>
																<div class="hmrc-timeline__event-content">
																	<p class="govuk-body">
																		Total training price
																		updated from
																		<b>£1,000</b>
																		to
																		<b>£1,234</b>
																	</p>
																</div>
															</li> -->
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--green">Approved</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-15">15 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£6,000</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Total training price
							increase
						</h3>
						<p class="govuk-body govuk-!-margin-bottom-3">
							<strong class="govuk-tag govuk-tag--red">Declined</strong> by
							AUTOMATION &amp; OPTIMISATION LTD on <time datetime="2020-07-5">5 July 2020</time>
						</p>
						<div class="hmrc-timeline__event-content">
							<p class="govuk-body">
								Total training price
								updated from
								<b>£1,000</b>
								to
								<b>£10,234</b>
							</p>
							<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
								<summary class="govuk-details__summary">
									<span class="govuk-details__summary-text">
										More details
									</span>
								</summary>
								<div class="govuk-details__text">
									<ul class="govuk-list">
										<li>
											<strong class="govuk-tag govuk-tag--yellow">Change
												requested</strong> by
											EDUC8 TRAINING (ENGLAND) LIMITED on <time datetime="2020-07-5">5 July
												2020</time>
										</li>
									</ul>
								</div>
							</details>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship started</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15">28 June
							2020</time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Started</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship paused</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">23 June
								2020</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Paused</strong>
						</div>
					</li>
					<li class="hmrc-timeline__event">
						<h3 class="hmrc-timeline__event-title govuk-heading-s">Apprenticeship agreed</h3>
						<time class="hmrc-timeline__event-meta" datetime="2020-07-15"><span class="govuk-body">8
								September
								2019</span></time>
						<div class="hmrc-timeline__event-content">
							<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-3">Approved</strong>

						</div>
					</li>
				</ol>
			</div>

		</div>
	</div>
</div>
</div>
</div>

<div style="position: fixed; right:20px; top:160px">
	<a href="apprentice-details--resume-confirmed" role="button" draggable="false"
		class="govuk-button govuk-button--secondary" data-module="govuk-button">
		View no approval
	</a>
</div>

{% endblock %}