{% extends "layouts/main.html" %}{% set version = "feature/Change-of-circs/cop/employer" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
			aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Success
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				{% if data['government-funded'] == 'No' %}
				<h3 class="govuk-notification-banner__heading">
					Learner status changed to Withdrawn (made redundant)
				</h3>

				<p class="govuk-body">The withdrawal was made on the 10 January 2024.</p>
				<p class="govuk-body">Payments have been set to inactive and the last payment for this apprenticeship
					will be December 2023.
				</p>
				<p class="govuk-body">The employer has been informed of this update.</p>
				{% else %}
				<h3 class="govuk-notification-banner__heading">
					Learner status changed to In learning (made redundant)
				</h3>
				<p class="govuk-body">The government will fund 100% of the remaining costs for the apprenticeship
					training up to the
					funding band maximum.
				</p>
				<p class="govuk-body">The employer has been informed of this update.</p>
				{% endif %}
			</div>
		</div>

		{% include "change-of-status/training-provider/v5/includes/apprentice-details-list" %}
	</div>
</div>

<div style="position: absolute; right:20px; top:160px">
	<a href="apprentice-details--redundant" role="button" draggable="false" class="govuk-button govuk-button--secondary"
		data-module="govuk-button">
		View redundant withdrawn page
	</a>
</div>
<div style="position: absolute; right:20px; top:220px">
	<a href="apprentice-details--redundant-confirmed-12-week" role="button" draggable="false"
		class="govuk-button govuk-button--secondary" data-module="govuk-button">
		View 12 week funding
	</a>
</div>

{% endblock %}