{% extends "layout.html" %}
{% set version = "feature/COST/v7/training-provider"%}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirm-update" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="reason-for-update">
            What was the reason for this price change request?
          </label>
        </h1>
        <div id="reason-for-update-hint" class="govuk-hint">
          This message will be shared with AUTOMATION & OPTIMISATION LTD
        </div>
        <textarea class="govuk-textarea" id="reason-for-update" name="reason-for-update" rows="5"
          aria-describedby="reason-for-update-hint">{{ data['reason-for-update'] }}</textarea>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>




  </div>
</div>



{% endblock %}