{% extends "layouts/main.html" %}
{% set version = "fetature/Change-of-circs/cop-cosd/employer" %}
{% set pageTitle = "Training start date" %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-employer-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="planned-training-date-end" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Would you like to keep the current training start date, 1 August 2023?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="keep-start-date">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="change"
                data-aria-controls="conditional-start-date">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No, change the training start date
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-start-date">
              <div class="govuk-form-group">
                <div class="govuk-date-input" id="start-date-issued" aria-describedby="end-date-update-hint">
                  <div id="end-date-update-hint" class="govuk-hint">
                    The training start date needs to be between 1 8 2022 and 31 8 2024
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-day"
                        name="start-date-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month"
                        name="start-date-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="start-date-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year"
                        name="start-date-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>

</div>

<div style="position: fixed; right:20px; top:160px">
  <a href="planned-training-dates-not-current" role="button" draggable="false"
    class="govuk-button govuk-button--secondary" data-module="govuk-button">
    View current dates not avalaible
  </a>
</div>

{% endblock %}