{% extends "layout.html" %}
{% set version = "feature/SAND/manage-apprentices" %}
{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Apprentice status</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Status
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--blue">Live</strong>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change<span class="govuk-visually-hidden"> status</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key">
							Apprentice confirmation
						</dt>
						<dd class="govuk-summary-list__value">
							<strong class="govuk-tag govuk-tag--blue">Confirmed</strong>
						</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Overview</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Agreement ID
						</dt>
						<dd class="govuk-summary-list__value">
							7GXEKP
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Employer
						</dt>
						<dd class="govuk-summary-list__value">
							AUTOMATION &amp; OPTIMISATION LTD
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change<span class="govuk-visually-hidden"> employer</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Reference
						</dt>
						<dd class="govuk-summary-list__value">
							MNNRLD
						</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Apprentice personal details</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action"> <a class="govuk-link" href="apprentice-details-edit">
							Change<span class="govuk-visually-hidden"> personal details</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Unique learner number
						</dt>
						<dd class="govuk-summary-list__value">
							5320150775
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Name
						</dt>
						<dd class="govuk-summary-list__value">
							George Ford
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email address
						</dt>
						<dd class="govuk-summary-list__value">
							georgeford@gmail.com
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="#" class="govuk-link">Resend invitation</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Date of birth
						</dt>
						<dd class="govuk-summary-list__value">
							1 Jan 2000
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Simplified payments pilot
						</dt>
						<dd class="govuk-summary-list__value">
							Yes
						</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Apprentice training details</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action"> <a class="govuk-link" href="apprentice-details-edit">
							Change<span class="govuk-visually-hidden"> training details</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Apprenticeship training course
						</dt>
						<dd class="govuk-summary-list__value">
							Abattoir Worker, Level: 2 (Standard)
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change<span class="govuk-visually-hidden"> training course</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Version
						</dt>
						<dd class="govuk-summary-list__value">
							1.0
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change<span class="govuk-visually-hidden"> version</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Actual training start date
						</dt>
						<dd class="govuk-summary-list__value">
							10 Dec 2018
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Planned training end date
						</dt>
						<dd class="govuk-summary-list__value">
							8 Jul 2020
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Total agreed apprenticeship price
						</dt>
						<dd class="govuk-summary-list__value">
							£1,234
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Your reference
						</dt>
						<dd class="govuk-summary-list__value">
							Not provided
						</dd>
					</div>
				</dl>
			</div>
		</div>

	</div>
</div>


{% endblock %}