{% extends "layouts/main.html" %}
{% set pageTitle = "Check and confirm functional skills" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-apprentice-requests" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="end-research" method="post" novalidate>
            <h1 class="govuk-heading-l">{{pageTitle}}</h1>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        English
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    AQA Functional Skills qualification in English at Level 2
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="learning-aim-english">Change<span class="govuk-visually-hidden"> qualification
                                            level</span></a>
                                </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                Start date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    10 September 2024
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="dates-english">Change<span class="govuk-visually-hidden"> start
                                            date</span></a>
                                    </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                End date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 September 2025
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-english">Change<span class="govuk-visually-hidden"> end
                                        date</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Cost
                            </dt>
                            <dd class="govuk-summary-list__value">
                                £2,000
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="cost-english">Change<span
                                        class="govuk-visually-hidden">cost</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reduction in hours due to prior learning
                            </dt>
                            <dd class="govuk-summary-list__value">
                                6 hours
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="recognise-prior-learning-english--add">Change<span class="govuk-visually-hidden"> reduction
                                        in
                                        hours due to prior learning</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Price reduction due to prior learning
                            </dt>
                            <dd class="govuk-summary-list__value">
                                £500
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="recognise-prior-learning-english--add">Change<span class="govuk-visually-hidden"> price
                                        reduction due to prior
                                        learning</span></a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Mathematics
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification
                            </dt>
                            <dd class="govuk-summary-list__value">
                                AQA Functional Skills qualification in Mathematics at Level 2
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="learning-aim-maths">Change<span class="govuk-visually-hidden"> qualification
                                        level</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                10 September 2024
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-maths">Change<span class="govuk-visually-hidden"> start
                                        date</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                End date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 September 2025
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="dates-maths">Change<span class="govuk-visually-hidden"> end
                                        date</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Cost
                            </dt>
                            <dd class="govuk-summary-list__value">
                                £2,500
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="cost-maths">Change<span
                                        class="govuk-visually-hidden">cost</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Regognition of prior learning
                            </dt>
                            <dd class="govuk-summary-list__value">
                                No
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="recognise-prior-learning-maths">Change<span class="govuk-visually-hidden"> regognition of
                                        prior learning</span></a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>



            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" id="submit-status-change">Confirm and continue</button>
            </div>
        </form>

    </div>

</div>

{% endblock %}