{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Check apprentice details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <h2 class="govuk-heading-l">Georgina Howard</h2>
    <h2 class="govuk-heading-m">Employer</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
          LAND ROVER EXPERIENCE LIMITED
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/{{version}}/approvals/add/select-employer">
            Change<span class="govuk-visually-hidden"> employer</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Cohort reference
        </dt>
        <dd class="govuk-summary-list__value">
          BB98DJ
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          New request
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Apprentice details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Georgina Howard
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/{{version}}/approvals/add/apprentice-details">
            Change<span class="govuk-visually-hidden"> personal details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          georgina.howard@domain.com
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          24 Jun 2000
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Unique learner number
        </dt>
        <dd class="govuk-summary-list__value">
          2261631370
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Pilot status
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Apprentiship details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">
          Apprenticeship training course
        </dt>
        <dd class="govuk-summary-list__value">
          Abattoir worker, Level: 2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/{{version}}/approvals/add/apprentice-details">
            Change<span class="govuk-visually-hidden"> apprentiship details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Apprenticeship delivery model
        </dt>
        <dd class="govuk-summary-list__value">
          Portable flexi-job
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Planned training start date
        </dt>
        <dd class="govuk-summary-list__value">
          1 Jan 2022 to May 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Projected apprenticeship training finish date
        </dt>
        <dd class="govuk-summary-list__value">
          May 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Planned training end date for this employment contract
        </dt>
        <dd class="govuk-summary-list__value">
          Jan 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Total agreed apprenticeship price (excluding VAT)
        </dt>
        <dd class="govuk-summary-list__value">
          £18,000
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Agreed price for this employment contract (excluding VAT)
        </dt>
        <dd class="govuk-summary-list__value">
          £1,200
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Reference
        </dt>
        <dd class="govuk-summary-list__value">
          Brighton store #434321
        </dd>
      </div>
    </dl>


    <p class="govuk-!-margin-bottom-9">
      <a href="/training-provider/{{version}}/#" class="govuk-link add-apprentice govuk-link--no-visited-state">Add
        another apprentice</a>
      <a class="govuk-link delete-cohort govuk-link--no-visited-state" id="delete-cohort"
        href="/training-provider/{{version}}/approvals/add/entry-method" style="float:right">
        Delete this cohort
      </a>
    </p>

    <form action="/training-provider/{{version}}/approvals/acknowledgement" method="post" class="form">
      <div class="govuk-form-group  ">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">Approve these details?</h3>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approve-details" name="approve-details" type="radio" value="yes"
                data-aria-controls="conditional-approve-details">
              <label class="govuk-label govuk-radios__label" for="approve-details">
                Yes, approve and notify employer
              </label>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approve-details">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="approve-details">
                    Leave LAND ROVER EXPERIENCE LIMITED a message (optional)
                  </label>
                  <textarea class="govuk-textarea" id="approve-details" name="approve-message" rows="5"></textarea>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approve-details-2" name="approve-details" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="approve-details-2">
                No, send to employer to review or add details
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" id="continue-button" class="govuk-button">Save and submit</button>
      <br>
      <p><a class="govuk-link govuk-link--no-visited-state"
          href="/training-provider/{{version}}/approvals/apprentice-requests">
          Save and exit
        </a></p>

    </form>
  </div>
</div>

{% endblock %}