{% extends "layouts/main.html" %}
{% set version = "v1" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/training-provider/{{version}}/javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/training-provider/{{version}}/url/of/next/page" method="post">
      <h1 class="govuk-heading-xl">Select a standard</h1>

      <div class="govuk-inset-text">
        For more information visit <a class="govuk-link" href="/training-provider/{{version}}/#">IfATEpage for this
          standard (opens in a
          new tab)</a>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Apprenticeship training course
          </dt>
          <dd class="govuk-summary-list__value">
            Game programmer, Level: 7
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Version
          </dt>

          <dd class="govuk-summary-list__value">
            1.0
          </dd>
        </div>
      </dl>


      <div class="govuk-!-padding-bottom-5"></div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Select an option
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Game software programmer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Game technology programmer
              </label>
            </div>
            <div class="govuk-!-padding-bottom-1"></div>
            <p>or</p>
            <div class="govuk-!-padding-bottom-1"></div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio"
                value="wales">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Confirm option at a later date
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
      <button class="govuk-link">Cancel and return</button>

    </form>

  </div>
</div>

{% endblock %}