{% extends "layouts/main.html" %}
{% set pageTitle = "Check and confirm status" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
        </strong>
        <span class="govuk-phase-banner__text">
            This apprentice is part of a private Beta - <a class="govuk-link"
                href="mailto:payments.beta@education.gov.uk">feedback or report a problem (opens in new tab)</a>.
        </span>
    </p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="apprentice-details--withdrawal-confirmed" method="post" novalidate>

            <h1 class="govuk-heading-l">{{pageTitle}}</h1>
            <p class="govuk-body">
                Payments will be set to inactive.
            </p>
            <p class="govuk-body">
                You can change status of the apprenticeship at any time.
            </p>

            <dl class="govuk-summary-list govuk-!-margin-top-7">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Learner status</dt>
                    <dd class="govuk-summary-list__value">
                        {% include "change-of-status/includes/learner-status-tag.html" %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="waiting-to-start/edit-learner-status">Change<span class="govuk-visually-hidden">
                                learner status</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">Reason for withdrawal</dt>
                    <dd class="govuk-summary-list__value">
                        Apprenticeship never started
                    </dd>
                </div>
            </dl>

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" id="submit-status-change">Confirm changes </button>

                <a class="govuk-link govuk-link--no-visited-state" href="../details">Cancel</a>
            </div>
        </form>

    </div>

</div>

{% endblock %}