{% extends "layouts/main.html" %}{% set pageTitle = "Change the status of this apprenticeship" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/training-provider/v3/change-of-status/waiting-to-start/edit-learner-status/action" method="post"
      novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{pageTitle}}
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select one option
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waiting-to-start" name="learner-status" type="radio"
                value="waiting-to-start" data-aria-controls="conditional-contact" {{
                checked('learner-status','waiting-to-start') }} checked="checked"
                aria-describedby="waiting-to-start-hint">
              <label class="govuk-label govuk-radios__label" for="contact">
                Waiting to start
              </label>
              <div id="waiting-to-start-hint" class="govuk-hint govuk-radios__hint">
                Intending to start the learning activities leading to the learning aim
              </div>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="withdrawal" name="learner-status" type="radio" value="withdrawn" {{
                checked('learner-status','withdrawn') }} aria-describedby="withdrawal-hint">
              <label class="govuk-label govuk-radios__label" for="withdrawal">
                Withdrawn
              </label>
              <div id="withdrawal-hint" class="govuk-hint govuk-radios__hint">
                Withdrawn from the learning activities leading to the learning aim
              </div>
            </div>

            <input type="hidden" name="previous-learner-status" value="waiting-to-start" />

        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../details">Cancel</a>
      </div>



  </div>
</div>



</div>



</div>







</form>
</div>

</div>

{% endblock %}