{% extends "layouts/main.html" %}
{% set version = "175" %}
{% set pageTitle = "You have no apprentices that are on the simplified payments pilot

" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">The simplified payments pilot is a small scale private test to improve the way in which you add and manage learners, reducing the reliance on the ILR.</p>

    <p class="govuk-body">You will be able to view the indicative earnings report once this feature is in public beta.</p>

    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Return to home</a>

  </div>
</div>

{% endblock %}