{% extends "layout.html" %}
{% set version = "training-provider" %}
{% set pageTitle = "Check application details" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{version}}/reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>
    <p class="govuk-body">
      What you’ve provided is different to the details of the learner record service (LRS) for unique learner number <strong>9359233306</strong>.
    </p>

    <table class="govuk-table govuk-!-margin-bottom-7">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Your application</th>
          <th scope="col" class="govuk-table__header">LRS record</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First name</th>
          <td class="govuk-table__cell">George</td>
          <td class="govuk-table__cell">Ashley</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Last name</th>
          <td class="govuk-table__cell">McTaffy</td>
          <td class="govuk-table__cell">Jones</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">8 November 2007</td>
          <td class="govuk-table__cell">4 March 1991</td>
        </tr>
      </tbody>
    </table>

    <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Would you like to continue with the details you provided?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="continue-with-details" name="continue-with-details" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="continue-with-details">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="continue-with-details-2" name="continue-with-details" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="continue-with-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
