{% extends "layouts/main.html" %}
{% set pageTitle = "George Ford" %}
{%block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-notification-banner__heading">
					<!-- [Employer]  -->
					Employer has set provider payments to Active

				<p class="govuk-body">Payments were set to active on the 20 April 2024.
				</p>
			</div>
		</div>

		{% include "change-of-status/training-provider/v4/includes/apprentice-details-list" %}
	</div>
</div>

<div style="position: absolute; right:20px; top:160px">
	<a href="frozen-payments" role="button" draggable="false" class="govuk-button govuk-button--secondary"
		data-module="govuk-button">
		View frozen
	</a>
</div>

{% endblock %}