{% extends "layouts/main.html" %}

{% set pageTitle = "George Ford" %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
			aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Success
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h3 class="govuk-notification-banner__heading">
					George Ford has been withdrawn from AQA Functional Skills qualification in English at
					Level 2
				</h3>
				<p class="govuk-body">You are not entitled to any funding payments for this qualification after the
					last day of
					learning, {% if data['withdrawal-day'] != "" and data['withdrawal-month'] != "" and
					data['withdrawal-year'] != "" %}
					{{ data['withdrawal-day'] }}
					{{ data['withdrawal-month'] | monthName }}
					{{ data['withdrawal-year'] }}
					{% else %}
					{{ "today" | duration(-1, "days") | govukDate }}
					{% endif %}.
				</p>
			</div>
		</div>
		<h1 class="govuk-heading-l">{{pageTitle}}</h1>
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#overview">
						Apprenticeship
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#other-payments">
						Other payments
					</a>
				</li>
				{# <li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#history">
						History
					</a>
				</li> #}
			</ul>
			<div class="govuk-tabs__panel" id="overview">
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Overview
						</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Apprenticeshop status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--blue">In progress</strong>
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state"
										href="/change-of-status/training-provider/v5/edit-learner-status">
										Change
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Provider payments status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--blue">Active</strong>
								</dd>
							</div>
						</dl>
					</div>
				</div>

				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Apprentice
						</h2>

					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Unique learner number
								</dt>
								<dd class="govuk-summary-list__value">
									5320150775
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Name
								</dt>
								<dd class="govuk-summary-list__value">
									George Ford
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Email address
								</dt>
								<dd class="govuk-summary-list__value">
									georgeford@gmail.com<br>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Date of birth
								</dt>
								<dd class="govuk-summary-list__value">
									1 January 2000
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Apprentice confirmation
								</dt>
								<dd class="govuk-summary-list__value">
									Confirmed
								</dd>
							</div>
						</dl>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Employment
						</h2>

					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Employer
								</dt>
								<dd class="govuk-summary-list__value">
									AUTOMATION &amp; OPTIMISATION LTD
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Change<span class="govuk-visually-hidden"> Eemplyer</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Cohort reference
								</dt>
								<dd class="govuk-summary-list__value">
									MNNRLD
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Agreement ID
								</dt>
								<dd class="govuk-summary-list__value">
									7GXEKP
								</dd>
							</div>
						</dl>
					</div>
				</div>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Training dates
						</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row ">
								<dt class="govuk-summary-list__key">
									Training start date
								</dt>
								<dd class="govuk-summary-list__value">
									1 August 2023
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> training start date</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Planned training end date
								</dt>
								<dd class="govuk-summary-list__value">
									10 January 2025
								</dd>
							</div>
						</dl>
					</div>
				</div>

				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Programme
						</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Standard
								</dt>
								<dd class="govuk-summary-list__value">
									Accounting, Level: 2
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="change-course">
										Change<span class="govuk-visually-hidden"> standard</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Version
								</dt>
								<dd class="govuk-summary-list__value">
									1.2
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Change<span class="govuk-visually-hidden"> Eemplyer</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Pathway
								</dt>
								<dd class="govuk-summary-list__value">
									Principles of bookkeeping controls
								</dd>
							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Apprenticeship delivery model
								</dt>
								<dd class="govuk-summary-list__value">
									Regular
								</dd>
							</div>

							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Your reference
								</dt>
								<dd class="govuk-summary-list__value">
									Nothing provided
								</dd>
							</div>
						</dl>
					</div>
				</div>

				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Negotiated price</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Training price
								</dt>
								<dd class="govuk-summary-list__value">
									£6,000
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									End-point assessment price
								</dt>
								<dd class="govuk-summary-list__value">
									£2,500
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Total price
								</dt>
								<dd class="govuk-summary-list__value">
									£8,500
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link" href="#">
										Change<span class="govuk-visually-hidden"> total price</span>
									</a>
								</dd>
							</div>
						</dl>
					</div>
				</div>

				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Recognition of prior learning (RPL)
						</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Total off-the-job training hours required for this standard
								</dt>
								<dd class="govuk-summary-list__value">
									70 hour
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Reduction in hours due to prior learning
								</dt>
								<dd class="govuk-summary-list__value">
									14 hours
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Reduction in duration due to prior learning
								</dt>
								<dd class="govuk-summary-list__value">
									2 weeks
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Price reduction due to prior learning
								</dt>
								<dd class="govuk-summary-list__value">
									£2,000
								</dd>
							</div>
						</dl>
					</div>
				</div>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-payments">
				<h3 class="govuk-heading-m">
					English
				</h3>
				<p class="govuk-body govuk-!-padding-bottom-6"><a href="#" class="govuk-link">Add a new English
						qualification</a></p>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Maths</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<span class="govuk-visually-hidden">Maths </span>Status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--green">Waiting to start</strong>
								</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link  govuk-link--no-visited-state" href="withdraw">
										Change<span class="govuk-visually-hidden"> maths status</span>
									</a>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Qualification
								</dt>
								<dd class="govuk-summary-list__value">
									AQA Functional Skills qualification in Mathematics at Level 2
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Start date
								</dt>
								<dd class="govuk-summary-list__value">
									10 September 2024
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Planned end date
								</dt>
								<dd class="govuk-summary-list__value">
									9 September 2025
								</dd>
							</div>
						</dl>
					</div>
				</div>
				<h3 class="govuk-heading-m govuk-!-margin-top-9">
					Withdrawn
				</h3>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">English</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<span class="govuk-visually-hidden">English </span>Status
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--red">Withdrawn</strong>
								</dd>

							</div>
							<div class="govuk-summary-list__row">

								<dt class="govuk-summary-list__key">
									Qualification
								</dt>
								<dd class="govuk-summary-list__value">
									AQA Functional Skills qualification in English at Level 2
								</dd>

							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Start date
								</dt>
								<dd class="govuk-summary-list__value">
									14 April 2024
								</dd>

							</div>
							<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
								<dt class="govuk-summary-list__key">
									Last date of learning
								</dt>
								<dd class="govuk-summary-list__value">
									{% if data['withdrawal-day'] != "" and data['withdrawal-month'] != "" and
									data['withdrawal-year'] != "" %}
									{{ data['withdrawal-day'] }}
									{{ data['withdrawal-month'] | monthName }}
									{{ data['withdrawal-year'] }}
									{% else %}
									{{ "today" | duration(-1, "days") | govukDate }}
									{% endif %}
								</dd>
							</div>

						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="position: fixed; right:20px; top:160px">
	<a href="apprentice-details--withdrawal-confirmed--unfunded" role="button" draggable="false"
		class="govuk-button govuk-button--secondary" data-module="govuk-button">
		View unfunded page</a>
</div>

{% endblock %}