{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}
<nav id="govuk-prototype-kit-manage-prototype-navigation"
  class="govuk-prototype-kit-manage-prototype-navigation js-govuk-prototype-kit-manage-prototype-navigation govuk-clearfix"
  role="navigation" aria-labelledby="govuk-prototype-kit-manage-prototype-navigation-heading">
  <h2 class="govuk-visually-hidden" id="govuk-prototype-kit-manage-prototype-navigation-heading">Menu</h2>
  <ul
    class="govuk-prototype-kit-manage-prototype-navigation__list govuk-prototype-kit-manage-prototype-width-container">
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link"
        href="/">
        Home
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link"
        href="/training-provider">
        Training Provider prototype
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link"
        href="/employer">
        Employer prototype
      </a>
    </li>
    <li
      class="govuk-prototype-kit-manage-prototype-navigation__list-item govuk-prototype-kit-manage-prototype-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link"
        href="/about">
        About
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link"
        href="/roadmap">
        Roadmap
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  About simplified payments pilot
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Our vision</h2>
    <p class="govuk-body">A payment product that is simple for user, adaptable to different payment models, responsive
      to new policy and cheaper to run.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">4 planned phases</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Mobilise a pilot (i.e. a very small number of users) – this is to prove that we can make payments using
        AS
        data (for core payments) whilst replicating current
        validations /
        controls – “creating the foundations”</li>
      <li>Utilising the support and input from wider stakeholders across DfE and ESFA to further develop payment
        journeys to include change of circumstances and roll-out to a private cohort of users in advance of wider
        roll-out</li>
      <li>Deliver any further requirements to enable the functionality to operate independently of the ILR and ensure
        roll-out is seamless</li>
      <li>Transition phase</li>
    </ol>

    <p class="govuk-body">To get a wider look at our work and see what we released recently, see our <a href="/roadmap"
        class="govuk-link">Roadmap</a>.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What outcome will users get from this service?</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Reduced admin effort and errors for training providers and employers</li>
      <li>Reduced costs for training providers and employers</li>
      <li>Faster payments to providers</li>
      <li>Reduced lost funds</li>
      <li>Increased transparency</li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What outcome are we looking for?</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Reduced complaints to AS
      <li>Reduced funds trapped in DataLock disputes</li>
      <li>Increased control over the payment process</li>
      <li>More effective support to users</li>
      <li>Reduced cost of running the service</li>
    </ol>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Background</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>The payments simplification project passed the alpha stage in August 2022 and build has started</li>
      <li>The solution will enable the Apprenticeship Service to calculate accurate payments based on the data the
        provider and employer enter for the learner when the commitment is created</li>
      <li>By paying from the Apprenticeship Service, we will be aiming to greatly reduce the administrative burden for
        providers and employers by removing data duplication and simplifying the data lock processes</li>
      <li>When change of circumstances occur, these can be raised, managed and actioned within the Apprenticeship
        Service – realised by simpler and more transparent user journeys, and significantly reducing the number of
        disruptions to user journeys,
        reducing the need for support, and increasing the ability to accurately forecast costs</li>
      <li>Throughout the project we will be working with the wider simplification programme to take the opportunity to
        simplify the existing Apprenticeship funding rules</li>
      <li>We will also be working with external assurance teams to ensure that our solution continues to ensure public
        funding is protected</li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Prototype design team</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>User Researcher: Barnaby King</li>
      <li>Business Analyst: Sam Wing/Jas Sahota</li>
      <li>Interaction Designer: Lloyd Sutton</li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Resources</h2>
    <ul class="govuk-list">
      <li><a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/3480354918/Flexible+Payments+Models"
          class="govuk-link govuk-link--no-visited-state">Confluence</a></li>
      <li><a
          href="https://lucid.app/lucidspark/ec068f2c-7231-4e8e-bf86-b97f745b2160/edit?invitationId=inv_b836704a-3eae-43c5-9d87-4c2b8ce36680#"
          class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>
  </div>
</div>

{% endblock %}