{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}
<nav id="govuk-prototype-kit-manage-prototype-navigation" class="govuk-prototype-kit-manage-prototype-navigation js-govuk-prototype-kit-manage-prototype-navigation govuk-clearfix" role="navigation" aria-labelledby="govuk-prototype-kit-manage-prototype-navigation-heading">
  <h2 class="govuk-visually-hidden" id="govuk-prototype-kit-manage-prototype-navigation-heading">Menu</h2>
  <ul class="govuk-prototype-kit-manage-prototype-navigation__list govuk-prototype-kit-manage-prototype-width-container">
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item govuk-prototype-kit-manage-prototype-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/">
        Home
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/training-provider">
        Training Provider prototype
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/employer">
        Employer prototype
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/about">
        About
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Welcome to the simplified payments pilot prototype library
    </h1>

    <h2 class="govuk-heading-m">Our vision</h2>
    <p class="govuk-body">A payment product that is simple for user, adaptable to different payment models, responsive to new policy and cheaper to run.</p>
    <p class="govuk-body"><a class="govuk-link" href="/about">About the pilot</a></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible das-section-break--heavy-grey">

<h2 class="govuk-heading-l">End-to-end prototypes</h2>
<p class="govuk-body">The following links open in a new tab</p>
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m">Updated: 8 December 2022</span>
    <h3 class="govuk-heading-m"><a href="training-provider/" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">Training provider account<span class="govuk-visually-hidden"> (opens in new tab)</span></a></h3>
    <p class="govuk-body">Full training provider account prototype</p>
    <a href="training-provider/" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">View training provider prototype<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
  </div>
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m">Updated: 10 January 2023</span>
    <h3 class="govuk-heading-m"><a href="/employer/" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">Employer account<span class="govuk-visually-hidden"> (opens in new tab)</span></a></h3>
    <p class="govuk-body">End to end employer approvals prototype</p>
    <a href="employer/" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">View employer prototype<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible das-section-break--heavy-grey">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Feature prototypes</h2>
    <p class="govuk-body">Single and micro-journey features for stakeholder review and testing.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <!-- Update planned training end date -->
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-4">
      Iteration
    </strong>
    <span class="govuk-caption-m">FLP-12</span>
    <h3 class="govuk-heading-m"><a href="features/training-end-date" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Update planned training end date</a></h3>
    <p class="govuk-body">Capture full planned training end date including the day</p>
    <a href="features/training-end-date" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View features</a>
  </div>
  <!-- Manage your apprentices -->
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-4">
      Signed off
    </strong>
    <span class="govuk-caption-m">No Epic</span>
    <h3 class="govuk-heading-m"><a href="features/manage-apprentices" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Manage your apprentices</a></h3>
    <p class="govuk-body">Add pilot content to manage your apprentices section</p>
    <a href="features/manage-apprentices" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View features</a>
  </div>
  <!-- Capture Personal & Training Details -->
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-4">
      Signed off
    </strong>
    <span class="govuk-caption-m">FLP-117</span>
    <h3 class="govuk-heading-m"><a href="features/combine-details-pages" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Capture Personal & Training Details</a></h3>
    <p class="govuk-body">Combining of the personal details and training provider details</p>
    <a href="features/combine-details-pages" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View features</a>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <!-- Generate MVS Summary Earnings Report -->
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-4">
      Signed off
    </strong>
    <span class="govuk-caption-m">FLP-14</span>
    <h3 class="govuk-heading-m"><a href="features/mvs-earnings-report" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Generate MVS Summary Earnings Report</a></h3>
    <p class="govuk-body">Generate a MVS summary earnings report based on the calculated earnings</p>
    <a href="features/mvs-earnings-report" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View features</a>
  </div>
  <!-- Manage your apprentices -->
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-4">
      Signed off
    </strong>
    <span class="govuk-caption-m">FLP-27</span>
    <h3 class="govuk-heading-m"><a href="features/validate-single-learner" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Validate Single Learner</a></h3>
    <p class="govuk-body">Integrate ILR validation into the DAS service to ensure all learners adhear to the ILR validation rules.</p>
    <a href="features/validate-single-learner" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">View features</a>
  </div>
</div>

{% endblock %}