{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% block beforeContent %}
<nav id="govuk-prototype-kit-manage-prototype-navigation" class="govuk-prototype-kit-manage-prototype-navigation js-govuk-prototype-kit-manage-prototype-navigation govuk-clearfix" role="navigation"
  aria-labelledby="govuk-prototype-kit-manage-prototype-navigation-heading">
  <h2 class="govuk-visually-hidden" id="govuk-prototype-kit-manage-prototype-navigation-heading">Menu</h2>
  <ul class="govuk-prototype-kit-manage-prototype-navigation__list govuk-prototype-kit-manage-prototype-width-container">
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item govuk-prototype-kit-manage-prototype-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/">
        Home
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/training-provider">
        Training Provider prototype
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/#">
        Employer prototype
      </a>
    </li>
    <li class="govuk-prototype-kit-manage-prototype-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-prototype-kit-manage-prototype-navigation__link js-govuk-prototype-kit-manage-prototype-navigation__link" href="/about">
        About
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Welcome to the Flex Payments Prototype Library
    </h1>

    <h2 class="govuk-heading-m">Our vision</h2>
    <p class="govuk-body">A payment product that is simple for user, adaptable to different payment models, responsive to new policy and cheaper to run.</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">End-to-end prototypes</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m">Updated: 8 December 2022</span>
    <h3 class="govuk-heading-m"><a href="training-provider/" class="govuk-link govuk-link--no-visited-state">Training provider account</a></h3>
    <p class="govuk-body">Full training provider account prototype</p>
    <a href="training-provider/" class="govuk-link govuk-link--no-visited-state">View training provider prototype</a>
  </div>
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m"><strong class="govuk-tag govuk-tag--grey">In development</strong></span>
    <h3 class="govuk-heading-m">Employer account</h3>
    <p class="govuk-body">The full employer account prototype is still in development</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Continuous improvement</span>
    <h2 class="govuk-heading-xl">Feature prototypes</h2>
    <p class="govuk-body">Single and multi-page features for stakeholder review and testing.</p>

    <span class="govuk-caption-m  govuk-!-margin-top-9">FLP-27</span>
    <h3 class="govuk-heading-l">Validate Single Learner</h3>
    <p class="govuk-body">Integrate ILR validation into the DAS service to ensure all learners adhear to the ILR validation rules.</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              <span class="govuk-caption-m">FLP-105 </span>Training Provider | Validate apprentice age and actual training start date
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <p class='govuk-body'>As a training provider I need to know whether the learner’s current age makes them eligible for an apprenticeship so that I only claim payments for eligible learners.</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-105">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-105/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              <span class="govuk-caption-m">FLP-120 </span>Declaration
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA I need to ensure that the learner is eligible for an apprenticeship even when there is no data source against which to test the learner’s eligibility so that providers only claim for eligible learners in the pilot.</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-120">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-120/approve-details-pilot-non-pjf-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              <span class="govuk-caption-m">FLP-129 </span>Employer | Validate apprentice age and actual training start date
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list">
            <p class='govuk-body'>As an Employer when I enter/edit a learner’s date of birth and planned training start date (as month/year) I need to ensure that the learner’s current age makes them eligible for an Apprenticeship so that I only claim payments for eligible learners</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-129">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://80rin7.axshare.com/#id=s81rbp&p=e2_0_apprentice_details__pilot__1&c=1">Axure Prototype</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              <span class="govuk-caption-m">FLP-130 </span>Training Provider | ULN entered can be found in LRS for a pilot apprenticeship
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA when learner personal details are entered/edited I need to ensure that learner details match those that we hold in LRS so that I can reduce the likelihood funding being claimed against invalid learner details</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-130">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-130/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              <span class="govuk-caption-m">FLP-131 </span>Training Provider | Ensure that an apprentice is not being funded via the ILR for another apprenticeship at the same time
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA when a learner’s ULN is added/edited I need to check whether the learner is being reported as funded via ILR so that I can prevent duplicate funding where the learner appears on an apprenticeship on ILR</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-131">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-131/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              <span class="govuk-caption-m">FLP-139 </span>Training Provider | Check that the apprentice name, date of birth & ULN matches data in the LRS
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA when learner personal details are entered/edited I need to be aware of learner details that normally match those that we hold in LRS, but for which a non-match is acceptable  so that I can inform the user that they might be entering incorrect information about the learner </p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-139">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-139/check-application-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              <span class="govuk-caption-m">FLP-140 </span>Training Provider | Ensure that an apprentice is not being funded for another programme via the ILR at the same time
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA when a learner’s ULN is added/edited I need to check whether the learner is being reported as funded via ILR for a non-apprenticeship programme so that I can prevent duplicate funding where the learner appears on another programme in the ILR</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-140">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-140/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
              <span class="govuk-caption-m">FLP-146 </span>Employer | Check that the apprentice name, date of birth & ULN matches data in the LRS
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
          <ul class="govuk-list">
            <p class='govuk-body'>As a Employer when I enter/edit learner personal details I need to be aware of learner details that normally match those that we hold in LRS, but for which a non-match is acceptable so that I am alerted to possible errors in my data entries </p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-146">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://80rin7.axshare.com/#id=qgbjje&p=e2_11_lrs_warning&g=1">Axure Prototype</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
              <span class="govuk-caption-m">FLP-150 </span>Training Provider | Ensure that a pilot apprenticeship is at least 365 days
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA I need to ensure that the funding rule for minimum duration has been satisfied so that I only allow payments for eligible learners</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-150">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-150/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              <span class="govuk-caption-m">FLP-152 </span>Training Provider | Ensure that the planned end date is not too far in the future
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA [When the planned start or end date are changed] I need to ensure that duration is not > 10 years so that I ensure that the duration is not over long</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-152">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-152/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
              <span class="govuk-caption-m">FLP-155 </span>Employer | Ensure that a pilot apprenticeship is at least 365 days
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
          <ul class="govuk-list">
            <p class='govuk-body'>As a Employer when I enter/edit a planned start or end date I need to ensure that duration is  >= 365 days so that I only  claim for eligible learners</p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-155">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://80rin7.axshare.com/#id=5sv5ow&p=e2_0_apprentice_details__pilot__2&c=1">Axure Prototype - Pilot</a>
            </li>
            <li>
              <a class="govuk-link" href="https://80rin7.axshare.com/#id=mozamk&p=e2_1_apprentice_details__non-pilot__3&c=1">Axure Prototype - Non-Pilot</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-12">
              <span class="govuk-caption-m">FLP-159 </span>Training Provider | Ensure that apprenticeships on the pilot are for new starts only
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">
          <ul class="govuk-list">
            <p class='govuk-body'>As a ESFA [When a provider is editing a learner record] I need to ensure that only new starts can be opted into the pilot so that on the pilot we only have learners for whom we have built the earnings calc </p>
            <li>
              <a class="govuk-link" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/FLP-159">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/FLP-159/check-application-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              <span class="govuk-caption-m">NOT SET </span>Manage multiple validation error messages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <p class='govuk-body'>Design how the screen will display multiple validation error messages</p>
            <li>
              <a class="govuk-link" target="_blank" href="#">Jira ticket (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="/feature/multi/apprentice-details-v1">Prototype v1</a>
            </li>
          </ul>
        </div>
      </div>

  </div>
</div>

{% endblock %}
