{% extends "layout.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/COP" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- Change of price -->
		<!-- <span class="govuk-caption-m">FLP-96</span> -->
		<h1 class="govuk-heading-l">Change of price</h1>
		<p class="govuk-body">Allow for change of price to be requested via the DAS service. Allowing payments to
			continue
			at the original rate until both parties approve any updated prices.</p>


		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Version</th>
					<th class="govuk-table__header" scope="col">Updates</th>
					<th class="govuk-table__header" scope="col" colspan="2">Action</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Version 3<p>05/04/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><strong>Sandbox version</strong></li>
							<li><a class="govuk-link" href="{{feature}}/v3/documentation">View the changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/v3/training-provider/apprentice-details">Start
							now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Version 2<p>31/03/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><strong>Current version</strong></li>
							<li><a class="govuk-link" href="{{feature}}/v2/documentation">View the changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/v2/index">Start now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Version 1<p>28/03/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link" href="{{feature}}/v1/documentation">View the changelog</a>
								for all
								updates
							</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/v1/apprentice-details">Start now</a>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Original<p>01/03/2023</p>
					</th>
					<td class="govuk-table__cell ">
						<ul class="govuk-list govuk-list--bullet">
							<li>Original journey</li>
						</ul>
					</td>
					<td class="govuk-table__cell "><a href="{{feature}}/current/manage-apprentices-v1">Start now</a>
					</td>
				</tr>


			</tbody>
		</table>

	</div>
</div>

{% endblock %}