{% extends "layouts/main.html" %}
{% set version = "v3" %}
{% if data['error'] == "total-invalid" %}
{% set pageTitle = "Error: Confirm new training and end-point assessment price" %}
{% else %}
{% set pageTitle = "Confirm new training and end-point assessment price" %}
{% endif %}
{% block pageTitle %}{{pageTitle}} - {{ serviceName }}{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
{% include "includes/nav-training-provider-manage-apprentices.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">
			Beta
		</strong>
		<span class="govuk-phase-banner__text">
			This apprentice is part of a private Beta - <a class="govuk-link"
				href="mailto:payments.beta@education.gov.uk">feedback or report a problem (opens in new tab)</a>.
		</span>
	</p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		{% if data['error'] == "total-invalid" %}
		<div class="govuk-error-summary" data-module="govuk-error-summary">
			<div role="alert">
				<h2 class="govuk-error-summary__title">
					There is a problem
				</h2>
				<div class="govuk-error-summary__body">
					<ul class="govuk-list govuk-error-summary__list">
						<li>
							<a href="#Cost">The new training price and end-point assessment must match the total price requested
								by the employer</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endif %}

		<h1 class="govuk-heading-l">Confirm new training and end-point assessment price</h1>
		<p class="govuk-body">Add the new training and end-point assessment price. The
			total of these two prices must match the new total price of
			£9,000.
		</p>
		<p class="govuk-body">
			The new total price cannot be approved until you confirm the training and end-point assessment
			price.
		</p>


		<fieldset class="govuk-fieldset">
			<form method="post" action="/training-provider/{{version}}/change-of-price/set-costs/action">
				<div class="govuk-form-group">
					{% if data['error'] == "total-invalid" %}
					<div class="govuk-form-group govuk-form-group--error">
						{% else %}
						<div class=" govuk-form-group">
							{% endif %}
					<label class="govuk-label govuk-!-font-weight-bold" for="Cost">Training price</label>
					<div id="training-price-hint" class="govuk-hint">
						Do not include VAT. Enter price in whole pounds. For example, for £6,500 enter 6500.
					</div>
					{% if data['error'] == "total-invalid" %}
					<p id="training-price-error" class="govuk-error-message">
						<span class="govuk-visually-hidden">Error:</span> The new training price and end-point assessment must match the
						total price requested by the employer
					</p>
					{% endif %}
					<div class="govuk-input__wrapper govuk-!-margin-top-3">
						<div class="govuk-input__prefix" aria-hidden="true">£</div>
						<input class="govuk-input govuk-input--width-5" type="text" inputmode="numeric" id="Cost"
							name="training-price" value="{{ data['training-price']}}" spellcheck="false" aria-describedby="training-price-hint">
					</div>
				</div>

				<div class="govuk-form-group ">
					<label class="govuk-label govuk-!-font-weight-bold" for="Cost">End-point assessment price </label>
					<div id="end-point-price-hint" class="govuk-hint">
						Do not include VAT. Enter price in whole pounds. For example, for £1,500 enter 1500.
					</div>
					<div class="govuk-input__wrapper govuk-!-margin-top-3">
						<div class="govuk-input__prefix" aria-hidden="true">£</div>
						<input class="govuk-input govuk-input--width-5" type="text" inputmode="numeric" id="Cost"
							name="end-point-price" value="{{ data['end-point-price']}}" spellcheck="false" aria-describedby="end-point-price-hint">
					</div>
				</div>
				<div class="govuk-inset-text">
					The employer has changed the total price to £9,000
					</div>
				<button class="govuk-button" type="submit" data-module="govuk-button">
					Continue
					</button>
		</fieldset>
		</form>


	</div>
</div>

{% endblock %}