{% extends "layout.html" %}
{% set pageTitle = "Add personal details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <div class="govuk-inset-text">
      <p class="govuk-body">You can only receive payments for this apprentice if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>all the fields have been completed - either by yourself or the employer</li>
        <li>the data matches the individualised learner record (ILR) data you send us</li>
      </ul>
    </div>

    <dl class="das-definition-list">
      <dt class="das-definition-list__title">Employer</dt>
      <dd class="das-definition-list__definition">LAND ROVER EXPERIENCE LIMITED</dd>
    </dl>
    <form id="addApprenticeship" action="/approvals/add/action/personal-details" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Apprentice personal details
          </legend>
          <div class="govuk-form-group ">
            <label class="govuk-label" for="Uln">Unique learner number</label>
            <input class="govuk-input  govuk-input--width-10" type="text" id="Uln" name="Uln" value="{{ data['Uln'] }}">
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label" for="FirstName">First name</label>
            <input class="govuk-input" type="text" id="FirstName" name="FirstName" autocomplete="given-name" value="{{ data['FirstName'] }}">
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label" for="LastName">Last name</label>
            <input class="govuk-input" type="text" id="LastName" name="LastName" autocomplete="family-name" value="{{ data['LastName'] }}">
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label" for="Email">Email address</label>
            <input class="govuk-input" type="text" id="Email" name="Email" autocomplete="email" value="{{ data['Email'] }}">
          </div>
          <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Why do we need an email address?
              </span>
            </summary>
            <div class="govuk-details__text">
              Your apprentice will receive an email alert inviting them to the My apprenticeship service. On the service, your apprentice will be able to:
              <ul class="govuk-list govuk-list--bullet">
                <li>review and confirm their apprenticeship details</li>
                <li>understand the roles and responsibilities of an apprentice, an employer and a training provider</li>
                <li>find help and support during their apprenticeship</li>
              </ul>
            </div>
          </details>

        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Date of birth
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 08 12 2001
          </div>
          <span class="field-validation-valid govuk-error-message" data-valmsg-for="DateOfBirth" data-valmsg-replace="true" id="error-message-DateOfBirth"></span>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthDay">Day</label>
                <input min="1" max="31" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="BirthDay" name="BirthDay" value="{{ data['BirthDay'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthMonth">Month</label>
                <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="BirthMonth" name="BirthMonth" value="{{ data['BirthMonth'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthYear">Year</label>
                <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="BirthYear" name="BirthYear" value="{{ data['BirthYear'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Pilot program</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="pilot-program-hint" role="group"">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Will this apprentice be part of the Flexible Payments pilot program?
          </legend>
          <div id="pilot-program-hint" class="govuk-hint">
            Once this apprentice has been approved, you will need to get in touch with the Flexible Payments team to take them off the pilot.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              {% if data['pilot-program'] == "Yes" %}
              <input class="govuk-radios__input" id="pilot-program" name="pilot-program" type="radio" value="Yes" selected>
              {% else %}
              <input class="govuk-radios__input" id="pilot-program" name="pilot-program" type="radio" value="Yes">
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="pilot-program">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              {% if data['pilot-program'] == "Yes" %}
              <input class="govuk-radios__input" id="pilot-program-2" name="pilot-program" type="radio" value="No" selected>
              {% else %}
              <input class="govuk-radios__input" id="pilot-program-2" name="pilot-program" type="radio" value="No">
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="pilot-program-2">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button type="submit" class="govuk-button">Save and continue</button>

    </form>

  </div>
</div>

{% endblock %}
