{% extends "layout.html" %}
{% set pageTitle = "Add apprentice details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/approvals/add/action/select-journey" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ pageTitle }}
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-apprentice-details-2" name="add-apprentice-details-2" type="radio" value="existing-cohort">
              <label class="govuk-label govuk-radios__label" for="add-apprentice-details">
                Add to an existing cohort
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-apprentice-details-2" name="add-apprentice-details-2" type="radio" value="new-cohort" aria-describedby="add-apprentice-details-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="add-apprentice-details-2">
                Create a new cohort
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>
{% endblock %}
