{% extends "layout.html" %}
{% set version = "training-provider" %}
{% if data['approve-details'] == "yes" %}
{% set pageTitle = "Cohort approved and sent to employer" %}
{% else %}
{% set pageTitle = "Cohort sent to employer for review" %}
{% endif %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{version}}/reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Manage your apprentices</h1>

    <form method="get" action="#">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <label for="searchTerm" class="govuk-label">Search apprentice name or unique learner number (ULN)</label>
            <div class="das-search-form__group">
              <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text">
              <div class="das-search-form__button-wrap">
                <button class="govuk-button das-search-form__button" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="das-pane govuk-!-margin-bottom-3">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedEmployer">Employer</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedEmployer" name="selectedEmployer">
                    <option label="All" aria-label="All employers" value="">All</option>
                    <option label="BENTLEY &amp; HART LLP" value="BENTLEY &amp; HART LLP">BENTLEY &amp; HART LLP</option>
                    <option label="Department for Education" value="Department for Education">Department for Education</option>
                    <option label="ESFA  LTD" value="ESFA  LTD">ESFA LTD</option>
                    <option label="ESFA LTD" value="ESFA LTD">ESFA LTD</option>
                    <option label="JOHN LEWIS PLC" value="JOHN LEWIS PLC">JOHN LEWIS PLC</option>
                    <option label="LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY" value="LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY">LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY</option>
                    <option label="MORRISONS LIMITED" value="MORRISONS LIMITED">MORRISONS LIMITED</option>
                    <option label="NON  LTD" value="NON  LTD">NON LTD</option>
                    <option label="RAGA LIMITED" value="RAGA LIMITED">RAGA LIMITED</option>
                    <option label="SAINSBURY &amp; SAINSBURY  LIMITED" value="SAINSBURY &amp; SAINSBURY  LIMITED">SAINSBURY &amp; SAINSBURY LIMITED</option>
                    <option label="SAINSBURY'S LIMITED" value="SAINSBURY'S LIMITED">SAINSBURY'S LIMITED</option>
                    <option label="SATHISH LIMITED" value="SATHISH LIMITED">SATHISH LIMITED</option>
                    <option label="SCIENCE RESEARCH  LIMITED" value="SCIENCE RESEARCH  LIMITED">SCIENCE RESEARCH LIMITED</option>
                    <option label="SUBHA LIMITED" value="SUBHA LIMITED">SUBHA LIMITED</option>
                    <option label="TESCO PLC" value="TESCO PLC">TESCO PLC</option>
                    <option label="WALMART LIMITED" value="WALMART LIMITED">WALMART LIMITED</option>
                  </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedCourse">Apprenticeship training course</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                    <option label="All" aria-label="All courses" value="">All</option>
                    <option label="Abattoir Worker, Level: 2 (Standard)" value="Abattoir Worker, Level: 2 (Standard)">Abattoir Worker, Level: 2 (Standard)</option>
                    <option label="Able seafarer (deck), Level: 2 (Standard)" value="Able seafarer (deck), Level: 2 (Standard)">Able seafarer (deck), Level: 2 (Standard)</option>
                    <option label="Academic Professional, Level: 7 (Standard)" value="Academic Professional, Level: 7 (Standard)">Academic Professional, Level: 7 (Standard)</option>
                    <option label="Accident Repair Technician, Level: 3 (Standard)" value="Accident Repair Technician, Level: 3 (Standard)">Accident Repair Technician, Level: 3 (Standard)</option>
                    <option label="Accounting, Level: 2" value="Accounting, Level: 2">Accounting, Level: 2</option>
                    <option label="Accounting, Level: 3" value="Accounting, Level: 3">Accounting, Level: 3</option>
                    <option label="Accounting, Level: 4" value="Accounting, Level: 4">Accounting, Level: 4</option>
                    <option label="Activity Leadership: Exercise and Fitness, Level: 2" value="Activity Leadership: Exercise and Fitness, Level: 2">Activity Leadership: Exercise and Fitness, Level: 2</option>
                    <option label="Actuarial technician, Level: 4 (Standard)" value="Actuarial technician, Level: 4 (Standard)">Actuarial technician, Level: 4 (Standard)</option>
                    <option label="Assistant accountant, Level: 3 (Standard)" value="Assistant accountant, Level: 3 (Standard)">Assistant accountant, Level: 3 (Standard)</option>
                    <option label="Barbering, Level: 2" value="Barbering, Level: 2">Barbering, Level: 2</option>
                    <option label="Business Administrator, Level: 3 (Standard)" value="Business Administrator, Level: 3 (Standard)">Business Administrator, Level: 3 (Standard)</option>
                    <option label="Butcher, Level: 2 (Standard)" value="Butcher, Level: 2 (Standard)">Butcher, Level: 2 (Standard)</option>
                    <option label="Data analyst, Level: 4 (Standard)" value="Data analyst, Level: 4 (Standard)">Data analyst, Level: 4 (Standard)</option>
                    <option label="Data Scientist (degree), Level: 6 (Standard)" value="Data Scientist (degree), Level: 6 (Standard)">Data Scientist (degree), Level: 6 (Standard)</option>
                    <option label="Furniture, Furnishings and Interiors Manufacturing: Restoring Furniture, Level: 2" value="Furniture, Furnishings and Interiors Manufacturing: Restoring Furniture, Level: 2">Furniture, Furnishings and Interiors Manufacturing: Restoring Furniture, Level: 2</option>
                    <option label="Hair Professional, Level: 2 (Standard)" value="Hair Professional, Level: 2 (Standard)">Hair Professional, Level: 2 (Standard)</option>
                    <option label="IT, Software, Web and Telecoms Professionals, Level: 2" value="IT, Software, Web and Telecoms Professionals, Level: 2">IT, Software, Web and Telecoms Professionals, Level: 2</option>
                    <option label="IT, Software, Web and Telecoms Professionals, Level: 4" value="IT, Software, Web and Telecoms Professionals, Level: 4">IT, Software, Web and Telecoms Professionals, Level: 4</option>
                    <option label="Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4" value="Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4">Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4</option>
                    <option label="Non-Destructive Testing Engineer, Level: 6 (Standard)" value="Non-Destructive Testing Engineer, Level: 6 (Standard)">Non-Destructive Testing Engineer, Level: 6 (Standard)</option>
                    <option label="Professional accounting / taxation technician, Level: 4 (Standard)" value="Professional accounting / taxation technician, Level: 4 (Standard)">Professional accounting / taxation technician, Level: 4 (Standard)</option>
                    <option label="Providing Financial Services: General Insurance, Level: 2" value="Providing Financial Services: General Insurance, Level: 2">Providing Financial Services: General Insurance, Level: 2</option>
                    <option label="Software tester, Level: 4 (Standard)" value="Software tester, Level: 4 (Standard)">Software tester, Level: 4 (Standard)</option>
                  </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedStatus">Status</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedStatus" name="selectedStatus">
                    <option label="All" aria-label="All statuses" value="">All</option>
                    <option label="Waiting to start" value="WaitingToStart">Waiting to start</option>
                    <option label="Live" value="Live">Live</option>
                    <option label="Paused" value="Paused">Paused</option>
                    <option label="Stopped" value="Stopped">Stopped</option>
                    <option label="Completed" value="Completed">Completed</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedStartDate">Planned start date</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedStartDate" name="selectedStartDate">
                    <option label="All" aria-label="All start dates" value="">All</option>
                    <option label="Sep 2019" value="2019-09-01">2019-09-01</option>
                    <option label="Aug 2022" value="2022-08-01">2022-08-01</option>
                    <option label="Mar 2021" value="2021-03-01">2021-03-01</option>
                    <option label="Apr 2021" value="2021-04-01">2021-04-01</option>
                    <option label="Apr 2018" value="2018-04-01">2018-04-01</option>
                    <option label="Nov 2020" value="2020-11-01">2020-11-01</option>
                    <option label="May 2017" value="2017-05-01">2017-05-01</option>
                    <option label="Feb 2019" value="2019-02-01">2019-02-01</option>
                    <option label="Oct 2018" value="2018-10-01">2018-10-01</option>
                    <option label="Aug 2017" value="2017-08-01">2017-08-01</option>
                    <option label="Apr 2023" value="2023-04-01">2023-04-01</option>
                    <option label="Jan 2019" value="2019-01-01">2019-01-01</option>
                    <option label="Dec 2021" value="2021-12-01">2021-12-01</option>
                    <option label="Mar 2023" value="2023-03-01">2023-03-01</option>
                    <option label="Aug 2020" value="2020-08-01">2020-08-01</option>
                    <option label="May 2019" value="2019-05-01">2019-05-01</option>
                    <option label="Aug 2019" value="2019-08-01">2019-08-01</option>
                    <option label="Jan 2022" value="2022-01-01">2022-01-01</option>
                    <option label="Jun 2021" value="2021-06-01">2021-06-01</option>
                    <option label="Sep 2021" value="2021-09-01">2021-09-01</option>
                    <option label="Mar 2018" value="2018-03-01">2018-03-01</option>
                    <option label="Oct 2022" value="2022-10-01">2022-10-01</option>
                    <option label="Jul 2022" value="2022-07-01">2022-07-01</option>
                    <option label="Apr 2020" value="2020-04-01">2020-04-01</option>
                    <option label="Feb 2021" value="2021-02-01">2021-02-01</option>
                    <option label="Jul 2019" value="2019-07-01">2019-07-01</option>
                    <option label="Jun 2023" value="2023-06-01">2023-06-01</option>
                    <option label="Dec 2018" value="2018-12-01">2018-12-01</option>
                    <option label="Nov 2019" value="2019-11-01">2019-11-01</option>
                    <option label="Oct 2020" value="2020-10-01">2020-10-01</option>
                    <option label="Nov 2022" value="2022-11-01">2022-11-01</option>
                    <option label="Jul 2020" value="2020-07-01">2020-07-01</option>
                    <option label="May 2021" value="2021-05-01">2021-05-01</option>
                    <option label="Feb 2023" value="2023-02-01">2023-02-01</option>
                    <option label="Mar 2020" value="2020-03-01">2020-03-01</option>
                    <option label="Oct 2017" value="2017-10-01">2017-10-01</option>
                    <option label="May 2023" value="2023-05-01">2023-05-01</option>
                    <option label="Jan 2018" value="2018-01-01">2018-01-01</option>
                    <option label="Sep 2018" value="2018-09-01">2018-09-01</option>
                    <option label="Aug 2023" value="2023-08-01">2023-08-01</option>
                    <option label="Jan 2020" value="2020-01-01">2020-01-01</option>
                    <option label="Oct 2019" value="2019-10-01">2019-10-01</option>
                    <option label="Aug 2018" value="2018-08-01">2018-08-01</option>
                    <option label="Jan 2023" value="2023-01-01">2023-01-01</option>
                    <option label="Aug 2021" value="2021-08-01">2021-08-01</option>
                    <option label="Apr 2019" value="2019-04-01">2019-04-01</option>
                    <option label="Jan 2021" value="2021-01-01">2021-01-01</option>
                    <option label="Feb 2020" value="2020-02-01">2020-02-01</option>
                    <option label="Mar 2022" value="2022-03-01">2022-03-01</option>
                    <option label="May 2018" value="2018-05-01">2018-05-01</option>
                    <option label="Dec 2020" value="2020-12-01">2020-12-01</option>
                    <option label="Apr 2022" value="2022-04-01">2022-04-01</option>
                    <option label="May 2022" value="2022-05-01">2022-05-01</option>
                    <option label="Dec 2017" value="2017-12-01">2017-12-01</option>
                    <option label="Jul 2023" value="2023-07-01">2023-07-01</option>
                    <option label="Jun 2019" value="2019-06-01">2019-06-01</option>
                    <option label="Sep 2020" value="2020-09-01">2020-09-01</option>
                    <option label="Jun 2020" value="2020-06-01">2020-06-01</option>
                    <option label="Dec 2022" value="2022-12-01">2022-12-01</option>
                    <option label="Oct 2021" value="2021-10-01">2021-10-01</option>
                    <option label="Jul 2021" value="2021-07-01">2021-07-01</option>
                    <option label="Feb 2022" value="2022-02-01">2022-02-01</option>
                    <option label="May 2020" value="2020-05-01">2020-05-01</option>
                    <option label="Dec 2019" value="2019-12-01">2019-12-01</option>
                    <option label="Nov 2018" value="2018-11-01">2018-11-01</option>
                    <option label="Nov 2021" value="2021-11-01">2021-11-01</option>
                    <option label="Mar 2019" value="2019-03-01">2019-03-01</option>
                    <option label="Jun 2022" value="2022-06-01">2022-06-01</option>
                    <option label="Sep 2022" value="2022-09-01">2022-09-01</option>
                    <option label="Jul 2018" value="2018-07-01">2018-07-01</option>
                  </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedEndDate">Planned end date</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedEndDate" name="selectedEndDate">
                    <option label="All" aria-label="All end dates" value="">All</option>
                    <option label="Sep 2019" value="2019-09-01">2019-09-01</option>
                    <option label="Nov 2025" value="2025-11-01">2025-11-01</option>
                    <option label="Oct 2028" value="2028-10-01">2028-10-01</option>
                    <option label="Aug 2022" value="2022-08-01">2022-08-01</option>
                    <option label="Mar 2021" value="2021-03-01">2021-03-01</option>
                    <option label="Jul 2028" value="2028-07-01">2028-07-01</option>
                    <option label="Nov 2028" value="2028-11-01">2028-11-01</option>
                    <option label="Apr 2021" value="2021-04-01">2021-04-01</option>
                    <option label="Aug 2025" value="2025-08-01">2025-08-01</option>
                    <option label="Dec 2026" value="2026-12-01">2026-12-01</option>
                    <option label="Jan 2024" value="2024-01-01">2024-01-01</option>
                    <option label="Jul 2025" value="2025-07-01">2025-07-01</option>
                    <option label="Nov 2020" value="2020-11-01">2020-11-01</option>
                    <option label="Mar 2026" value="2026-03-01">2026-03-01</option>
                    <option label="Dec 2024" value="2024-12-01">2024-12-01</option>
                    <option label="Jun 2026" value="2026-06-01">2026-06-01</option>
                    <option label="Apr 2023" value="2023-04-01">2023-04-01</option>
                    <option label="Nov 2027" value="2027-11-01">2027-11-01</option>
                    <option label="Dec 2021" value="2021-12-01">2021-12-01</option>
                    <option label="Mar 2023" value="2023-03-01">2023-03-01</option>
                    <option label="Aug 2020" value="2020-08-01">2020-08-01</option>
                    <option label="Aug 2027" value="2027-08-01">2027-08-01</option>
                    <option label="Jul 2027" value="2027-07-01">2027-07-01</option>
                    <option label="Mar 2024" value="2024-03-01">2024-03-01</option>
                    <option label="Jun 2024" value="2024-06-01">2024-06-01</option>
                    <option label="Jan 2022" value="2022-01-01">2022-01-01</option>
                    <option label="Sep 2024" value="2024-09-01">2024-09-01</option>
                    <option label="Jun 2021" value="2021-06-01">2021-06-01</option>
                    <option label="Feb 2026" value="2026-02-01">2026-02-01</option>
                    <option label="May 2024" value="2024-05-01">2024-05-01</option>
                    <option label="Jan 2028" value="2028-01-01">2028-01-01</option>
                    <option label="Sep 2021" value="2021-09-01">2021-09-01</option>
                    <option label="Oct 2022" value="2022-10-01">2022-10-01</option>
                    <option label="May 2026" value="2026-05-01">2026-05-01</option>
                    <option label="Jul 2022" value="2022-07-01">2022-07-01</option>
                    <option label="Feb 2028" value="2028-02-01">2028-02-01</option>
                    <option label="Dec 2023" value="2023-12-01">2023-12-01</option>
                    <option label="Jan 2026" value="2026-01-01">2026-01-01</option>
                    <option label="Apr 2027" value="2027-04-01">2027-04-01</option>
                    <option label="Oct 2025" value="2025-10-01">2025-10-01</option>
                    <option label="Apr 2020" value="2020-04-01">2020-04-01</option>
                    <option label="Jan 2029" value="2029-01-01">2029-01-01</option>
                    <option label="Apr 2025" value="2025-04-01">2025-04-01</option>
                    <option label="Feb 2021" value="2021-02-01">2021-02-01</option>
                    <option label="Mar 2028" value="2028-03-01">2028-03-01</option>
                    <option label="Sep 2026" value="2026-09-01">2026-09-01</option>
                    <option label="Apr 2028" value="2028-04-01">2028-04-01</option>
                    <option label="Jun 2023" value="2023-06-01">2023-06-01</option>
                    <option label="Oct 2027" value="2027-10-01">2027-10-01</option>
                    <option label="Nov 2019" value="2019-11-01">2019-11-01</option>
                    <option label="Sep 2023" value="2023-09-01">2023-09-01</option>
                    <option label="Oct 2020" value="2020-10-01">2020-10-01</option>
                    <option label="Nov 2022" value="2022-11-01">2022-11-01</option>
                    <option label="Jul 2020" value="2020-07-01">2020-07-01</option>
                    <option label="May 2021" value="2021-05-01">2021-05-01</option>
                    <option label="Feb 2023" value="2023-02-01">2023-02-01</option>
                    <option label="Dec 2027" value="2027-12-01">2027-12-01</option>
                    <option label="Jul 2026" value="2026-07-01">2026-07-01</option>
                    <option label="Mar 2020" value="2020-03-01">2020-03-01</option>
                    <option label="Aug 2026" value="2026-08-01">2026-08-01</option>
                    <option label="Mar 2027" value="2027-03-01">2027-03-01</option>
                    <option label="May 2023" value="2023-05-01">2023-05-01</option>
                    <option label="Jun 2027" value="2027-06-01">2027-06-01</option>
                    <option label="Aug 2023" value="2023-08-01">2023-08-01</option>
                    <option label="Dec 2025" value="2025-12-01">2025-12-01</option>
                    <option label="Nov 2026" value="2026-11-01">2026-11-01</option>
                    <option label="Jan 2020" value="2020-01-01">2020-01-01</option>
                    <option label="Jun 2028" value="2028-06-01">2028-06-01</option>
                    <option label="Oct 2019" value="2019-10-01">2019-10-01</option>
                    <option label="Jan 2023" value="2023-01-01">2023-01-01</option>
                    <option label="Jul 2024" value="2024-07-01">2024-07-01</option>
                    <option label="Mar 2025" value="2025-03-01">2025-03-01</option>
                    <option label="Aug 2021" value="2021-08-01">2021-08-01</option>
                    <option label="Apr 2019" value="2019-04-01">2019-04-01</option>
                    <option label="Jan 2021" value="2021-01-01">2021-01-01</option>
                    <option label="Jun 2025" value="2025-06-01">2025-06-01</option>
                    <option label="Feb 2020" value="2020-02-01">2020-02-01</option>
                    <option label="Mar 2022" value="2022-03-01">2022-03-01</option>
                    <option label="Dec 2020" value="2020-12-01">2020-12-01</option>
                    <option label="Apr 2022" value="2022-04-01">2022-04-01</option>
                    <option label="Aug 2024" value="2024-08-01">2024-08-01</option>
                    <option label="Nov 2024" value="2024-11-01">2024-11-01</option>
                    <option label="May 2022" value="2022-05-01">2022-05-01</option>
                    <option label="Jan 2027" value="2027-01-01">2027-01-01</option>
                    <option label="Jul 2023" value="2023-07-01">2023-07-01</option>
                    <option label="Oct 2026" value="2026-10-01">2026-10-01</option>
                    <option label="May 2025" value="2025-05-01">2025-05-01</option>
                    <option label="Nov 2023" value="2023-11-01">2023-11-01</option>
                    <option label="Feb 2024" value="2024-02-01">2024-02-01</option>
                    <option label="Sep 2020" value="2020-09-01">2020-09-01</option>
                    <option label="Jun 2020" value="2020-06-01">2020-06-01</option>
                    <option label="Feb 2027" value="2027-02-01">2027-02-01</option>
                    <option label="Sep 2027" value="2027-09-01">2027-09-01</option>
                    <option label="Aug 2028" value="2028-08-01">2028-08-01</option>
                    <option label="May 2028" value="2028-05-01">2028-05-01</option>
                    <option label="Oct 2023" value="2023-10-01">2023-10-01</option>
                    <option label="May 2027" value="2027-05-01">2027-05-01</option>
                    <option label="Dec 2022" value="2022-12-01">2022-12-01</option>
                    <option label="Oct 2021" value="2021-10-01">2021-10-01</option>
                    <option label="Jan 2025" value="2025-01-01">2025-01-01</option>
                    <option label="Jul 2021" value="2021-07-01">2021-07-01</option>
                    <option label="Feb 2022" value="2022-02-01">2022-02-01</option>
                    <option label="Oct 2024" value="2024-10-01">2024-10-01</option>
                    <option label="May 2020" value="2020-05-01">2020-05-01</option>
                    <option label="Apr 2026" value="2026-04-01">2026-04-01</option>
                    <option label="Dec 2019" value="2019-12-01">2019-12-01</option>
                    <option label="Nov 2018" value="2018-11-01">2018-11-01</option>
                    <option label="Feb 2025" value="2025-02-01">2025-02-01</option>
                    <option label="Nov 2021" value="2021-11-01">2021-11-01</option>
                    <option label="Apr 2024" value="2024-04-01">2024-04-01</option>
                    <option label="Sep 2025" value="2025-09-01">2025-09-01</option>
                    <option label="Jun 2022" value="2022-06-01">2022-06-01</option>
                    <option label="Sep 2022" value="2022-09-01">2022-09-01</option>
                  </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedAlert">Alert</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedAlert" name="selectedAlert">
                    <option label="All" aria-label="All Alerts" value="">All</option>
                    <option label="Changes for review" value="ChangesForReview">Changes for review</option>
                    <option label="Changes pending" value="ChangesPending">Changes pending</option>
                    <option label="Changes requested" value="ChangesRequested">Changes requested</option>
                    <option label="ILR data mismatch" value="IlrDataMismatch">ILR data mismatch</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedStatus">Apprentice confirmation</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedApprenticeConfirmation" name="selectedApprenticeConfirmation">
                    <option label="All" aria-label="All confirmations" value="">All</option>
                    <option label="Confirmed" value="Confirmed">Confirmed</option>
                    <option label="Unconfirmed" value="Unconfirmed">Unconfirmed</option>
                    <option label="Overdue" value="Overdue">Overdue</option>
                    <option label="N/A" value="NA">N/A</option>
                  </select>
                </div>
              </div>

              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedDeliveryModel">Apprenticeship delivery model</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedDeliveryModel" name="selectedDeliveryModel">
                    <option label="All" aria-label="All delivery models" value="">All</option>
                    <option label="Regular" value="Regular">Regular</option>
                    <option label="Portable flexi-job" value="PortableFlexiJob">Portable flexi-job</option>
                    <option label="Flexi-job agency" value="FlexiJobAgency">Flexi-job agency</option>
                  </select>
                </div>
              </div>

              <!-- New pilot selector -->
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="selectedSimplifiedPaymentsPilot">Simplified payments pilot</label>
                  <select class="govuk-select govuk-!-width-full" id="selectedSimplifiedPaymentsPilot" name="selectedSimplifiedPaymentsPilot">
                    <option label="All" aria-label="All users" value="">All</option>
                    <option label="Yes" value="Yes">Yes</option>
                    <option label="No" value="No">No</option>
                  </select>
                </div>
              </div>

            </div>
            <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
          </div>
        </div>
      </div>
    </form>
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">10 apprentice records</p>

      </div>
      <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
        <a class="govuk-body govuk-link" aria-label="Download all data" href="/{{version}}/">Download all data (CSV)</a>
      </div>
    </div>
    <table class="govuk-table das-table--responsive das-table--double-arrows das-table--condensed">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by apprentice name" href="/{{version}}/">
              Apprentice name
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by ULN" href="/{{version}}/">
              ULN
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by employer" href="/{{version}}/">
              Employer
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by apprenticeship training course" href="/{{version}}/">
              Apprenticeship training course
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by planned start date" href="/{{version}}/">
              Planned start date
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by planned end date" href="/{{version}}/">
              Planned end date
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            <a class="das-table__sort" title="Sort the table by apprentice confirmation" href="/{{version}}/">
              Apprentice confirmation
            </a>
          </th>
          <th scope="col" class="govuk-table__header">
            Status
          </th>
          <th scope="col" class="govuk-table__header">
            Alerts
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Euan Gray
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900008005
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--red">Stopped</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Rufus Kelly
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900008102
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Unconfirmed
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
            <a class="govuk-link" href="/{{version}}/details">Confirmation overdue</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Ellis Watts
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900008307
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--grey">Paused</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
            <a class="govuk-link" href="/{{version}}/details1">
              Changes requested
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Toby Holland
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007203
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Unconfirmed
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
            <a class="govuk-link" href="/{{version}}/details">Confirmation overdue</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Cohen Powell
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007300
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Zak Day
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007408
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Joey Fraser
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007505
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Mineral Products Technology: Technical and Managerial Development in Mineral Products Technology Industry, Level: 4
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Hector Parker
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007602
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Unconfirmed
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
            <a class="govuk-link" href="/{{version}}/details">Confirmation overdue</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Isaac Sutton
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007807
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Apprentice name">
            <a class="govuk-link" href="/{{version}}/details">
              Coby Harvey
            </a>
          </td>
          <td class="govuk-table__cell" data-label="ULN">
            9900007904
          </td>
          <td class="govuk-table__cell" data-label="Employer">
            LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY
          </td>
          <td class="govuk-table__cell" data-label="Apprenticeship training course">
            Actuarial technician, Level: 4 (Standard)
          </td>
          <td class="govuk-table__cell" data-label="Planned start date">
            Jan 2019
          </td>
          <td class="govuk-table__cell" data-label="Planned end date">
            Aug 2021
          </td>
          <td class="govuk-table__cell" data-label="Apprentice confirmation">
            Overdue
          </td>
          <td class="govuk-table__cell" data-label="Status">
            <strong class="govuk-tag govuk-tag--blue">Live</strong>
          </td>
          <td class="govuk-table__cell" data-label="Alerts">
            <a class="govuk-link" href="/{{version}}/details1">
              Changes requested
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}