{% extends "layout.html" %}
{% set version = "training-provider" %}
{% set pageTitle = "Add training details" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/{{version}}/reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Apprenticeship training course</p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Abattoir worker, Level: 2
      <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/approvals/add/select-course">Edit<span class="govuk-visually-hidden"> apprenticeship training course</span></a>
    </p>

    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Apprenticeship delivery model</p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Regular
      <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/approvals/add/portable-flexi-job">Edit<span class="govuk-visually-hidden"> apprenticeship delivery model</span></a>
    </p>

    <form id="addApprenticeship" action="/{{version}}//approvals/recognise-prior-learning" method="post">
      <div class="govuk-form-group  ">
        <fieldset class="govuk-fieldset" aria-describedby="start-date-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training start date
          </legend>
          <div id="start-date-hint" class="govuk-hint">
            For example, 01 09 2017.</br>The standard version will be based on the planned training start date provided
          </div>

          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartMonth">Month</label>
                <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="StartMonth" name="StartMonth" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="StartYear" name="StartYear" value="">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training finish date
          </legend>
          <div id="finish-date-hint" class="govuk-hint">
            For example, 09 2019
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="EndMonth" name="EndMonth" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="EndYear" name="EndYear" value="">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total agreed apprenticeship price (excluding VAT)</label>
        <div id="price-hint" class="govuk-hint">
          Enter the price, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500
        </div>
        <div class="govuk-input__wrapper govuk-!-margin-top-3">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" type="number" id="Cost" name="Cost" spellcheck="false">
        </div>
      </div>

      <div class="govuk-character-count" data-module="character-count" data-maxlength="20">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="Reference">Reference (optional)</label>
          <div id="reference-hint" class="govuk-hint">
            Add a reference, such as employee number or location - this won’t be seen by the employer
          </div>

          <input maxlength="20" class="govuk-input govuk-!-width-three-quarters js-character-count" type="text" id="Reference" name="Reference" value="">
        </div>
      </div>

      <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-font-weight-bold">End-point assessments</p>
        <p class="govuk-body">We'll ask the employer to confirm the <a class="govuk-link" href="/{{version}}/https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank"
            title="Opens in a new window">apprentice assessment organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
      </div>

      <button type="submit" class="govuk-button">Add</button>

    </form>

  </div>
</div>

{% endblock %}
