{% extends "layouts/main.html" %}

{% block pageTitle %}
Flex Payments Prototype Library
{% endblock %}

{% set feature = "/feature/Change-of-circs" %}

{% block beforeContent %}

{% include "includes/nav.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Version</th>
                <th class="govuk-table__header" scope="col">Updates</th>
                <th class="govuk-table__header" scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Version 2<p>08/08/2023</p>
                    </th>
                    <td class="govuk-table__cell ">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Changes showing in tables, amendments to content and designs. Price split out for TP, page calculator, fields dynamic. 
                            </li>
                        </ul>
                    </td>
                    <td class="govuk-table__cell "><a href="{{feature}}/cop/index">Start
                            now</a>
                    </td>
                </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Version 1<p>12/07/2023
                    </p>
                </th>
                <td class="govuk-table__cell ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Change of price journey before tables and both COP & COSD together, </li>
                    </ul>
                </td>
                <td class="govuk-table__cell "><a href="{{feature}}/cop-cosd/index">Start
                        now</a>
                </td>
            </tr>
            
        </tbody>
    </table>


   
</div>

{% endblock %}