{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set pageTitle = "Select a standard option" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <div class="govuk-inset-text">
          <p class="govuk-body">For more information visit <a class="govuk-link"
              href="https://www.instituteforapprenticeships.org/apprenticeship-standards/academic-professional-v1-0"
              target="_blank">the IfATE page for this standard (opens in a new
              tab)</a>.</p>
        </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
            <dd class="govuk-summary-list__value"> Academic professional, Level: 7 </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Version </dt>
            <dd class="govuk-summary-list__value"> 1.0 </dd>
          </div>
        </dl>
      </div>
    </div>

    <form id="selectOption" method="post" action="/employer/{{version}}/apprentice/add/approve-details" novalidate>
      <div class="govuk-form-group ">

        <div id="select-an-option-hint" class="govuk-hint">
          Select an option
        </div>

        <div class="govuk-radios">
          <div class="govuk-radios__item" id="radio-item-yes">
            <input class="govuk-radios__input" type="radio" id="option-0" name="CourseOption" value="Research">
            <label class="govuk-label govuk-radios__label" for="option-0">Research</label>
          </div>
          <div class="govuk-radios__item" id="radio-item-yes">
            <input class="govuk-radios__input" type="radio" id="option-1" name="CourseOption" value="Teaching">
            <label class="govuk-label govuk-radios__label" for="option-1">Teaching</label>
          </div>

          <div class="govuk-radios__divider">or</div>

          <div class="govuk-radios__item" id="radio-item-yes">
            <input class="govuk-radios__input" type="radio" id="option-choose-later" name="CourseOption" value="N/A">
            <label class="govuk-label govuk-radios__label" for="option-choose-later"> Confirm option at a later
              date</label>
          </div>
        </div>
      </div>

      <button type="submit" id="continue-button" class="govuk-button">Save and continue</button>
  </main>
</div>

{% endblock %}

{% endblock %}