{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Apprentice details approved and sent to training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  <a href="/employer/{{version}}/apprentice/" class="govuk-back-link">Back to apprentices</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
        </div>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference</dt>
            <dd class="govuk-summary-list__value">JJXYRN</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Training provider</dt>
            <dd class="govuk-summary-list__value">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Approved by</dt>
            <dd class="govuk-summary-list__value">Coventry City Council</dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">What happens next?</h2>

        <p class="govuk-body">Your training provider will review these apprentice details and either confirm the
          information is correct or contact you to suggest changes.</p>
        <p>
          <a class="govuk-link" href="/employer/{{version}}/apprentice/" id="next-back-link">Go back to view apprentice
            records.</a>
        </p>

        <div class="govuk-inset-text das-inset-text--filled">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Help us improve this section</h3>
          <p class="govuk-body">Take a 3 minute survey about adding apprentices so that we can improve the service.</p>
          <a target="_blank" class="govuk-button"
            href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback">Take the survey</a>
        </div>
      </div>
    </div>

  </main>

</div>

{% endblock %}

{% endblock %}