{% extends "layout.html" %}
{% set version = "v1" %}
{% set pageTitle = "Confirm training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">UK Provider Reference Number <strong>'10005760'</strong> matches:</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)
        </h2>
        <dl class="das-definition-list das-definition-list--inline  das-definition-list--muted govuk-!-margin-bottom-7">
          <dt class="das-definition-list__title">UKPRN</dt>
          <dd class="das-definition-list__definition">10005760</dd>
        </dl>

        <form method="post" action="/employer/{{version}}/apprentice/add/action/confirm-provider-details" novalidate>
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-label govuk-label--m">
                Is this the main provider of the apprenticeship training?
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="UseThisProvider" name="use-provider" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="UseThisProvider">
                    Yes, use SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="UseThisProvider-no" name="use-provider" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="UseThisProvider-no">
                    No, change UK Provider Reference Number
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button id="continue-button" type="submit" class="govuk-button">Continue</button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}

{% endblock %}