{% extends "layout.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add an apprentice" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back to Apprentices",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">Add details of one or more apprentices to your account, and authorise payments to their
          training provider.</p>

        <h2 class="govuk-heading-l">Before you start</h2>

        <p class="govuk-body">You must:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>know the names of your apprentices </li>
          <li>know a unique email address for each of your apprentices</li>
          <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you
            this</li>
          <li>make sure the organisation that's named on the contract you have with your training provider is in your
            account - <a href="#" class="govuk-link">view
              organisations in this account</a> </li>
          <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="#"
              class="govuk-link">view PAYE schemes in this account</a></li>
        </ul>

        <a id="continue-button" role="button" draggable="false" class="govuk-button govuk-button--start"
          href="/employer/{{version}}/apprentice/add/create">
          Start now
        </a>
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}